[% META title = "Generate Sequence File"; META tab_name = "Designs" %]

<div class="page-header">
  <h1>Generate Sequence File</h1>
</div>

<div class="row">

  <div class="span6 offset3">
    <form method="POST" id="generate_sequence" action="[% c.uri_for( '/user/generate_sequence_file' ) %]" class="form well"  enctype="multipart/form-data" >

      [% IF design_id_list %]
      <label>Designs for Gene: [% gene %] (<a href="[% c.uri_for( '/user/pick_gene_generate_sequence_file' ) %]">pick another gene</a>)</label>
      <table class="table table-condensed">
        <thead>
            <th>Design ID</th>
            <th>Blat</th>
            <th>Type</th>
            <th>Pick</th>
        </thead>
        <tbody>
          [% FOR design IN design_id_list %]
          <tr>
            <td>
              <a href="[% c.uri_for( '/user/view_design', { design_id = design.id } ) %]" target="_blank">[% design.id %]</a>
            </td>
            <td>
              <a href="[% c.uri_for( '/user/design_ucsc_blat', { design_id => design.id } ) %]" target="_blank" class="btn btn-mini btn-block">blat</a>
            </td>
            <td>
              [% design.type %]
            </td>
            <td>
              <input type="radio" name="design_id" value="[% design.id %]">
            </td>
          </tr>
          [% END %]
        </tbody>
      </table>

      [% ELSE %]
      <div class="control-group">
        <label class="control-label">Design ID</label>
            <div class="controls">
            <input name="design_id" id="design_id" type="text"
              [% IF design_id %]value="[% design_id %]"[% END %]
            />
            <span class="help-block">Design the sequence if based on</span>
        </div>
      </div>
      [% END %]

      <div class="control-group">
        <label class="control-label">Cassette</label>
            <div class="controls">
            <select name="cassette" id="cassette"/>
              [% FOR cass IN cassettes %]
                <option [% IF cass == cassette %] selected="selected"[% END %]>[% cass %]</option>
              [%- END %]
            </select>
            <span class="help-block">Pick cassette used for sequence</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Backbone</label>
            <div class="controls">
            <select name="backbone" id="backbone"/>
              [% FOR bb IN backbones %]
                <option [% IF bb == backbone %] selected="selected"[% END %]>[% bb %]</option>
              [%- END %]
            </select>
            <span class="help-block">Pick backbone used for sequence, leave blank if you are not generating vector sequence</span>
        </div>
      </div>


      <div class="control-group">
        <label class="control-label">Recombinases (optional)</label>
        <div class="controls">
          [% FOR recom IN recombinases %]
              <label class="checkbox">
                <input type="checkbox" name="recombinases" value="[% recom %]" [% IF picked_recombinase && picked_recombinase.grep(recom).size %]checked[% END %]> [% recom %] 
              </label>
          [%- END %]
          <span class="help-block">Apply optional recombinases to the generated sequence</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">File Format</label>
            <div class="controls">
            <select name="file_format" id="file_format" />
                <option>Genbank</option>
                <option>Fasta</option>
            </select>
            <span class="help-block">Pick format of sequence file that will be generated</span>
        </div>
      </div>

        <br>
        <button name="generate_sequence" id="generate_sequence" type="submit" value="generate_sequence" class="btn">
            <i class="icon-upload"></i> Generate Sequence File
        </button>
    </form>
  </div>

</div>

