[% META title = "Generate Sequence File"; META tab_name = "Designs" %]

<div class="page-header">
  <h1>
    Generate Custom Sequence File
    [% IF design_id_list %]
      <small> Gene: [% gene %] </small>
    [% END %]
  </h1>
</div>

<div class="row">

    <form method="POST" id="generate_sequence" action="[% c.uri_for( '/user/generate_sequence_file' ) %]" class="form well"  enctype="multipart/form-data" >

      [% IF design_id_list %]
      [% IF design_id_list.size > 0 %]
      <input type="hidden" name="gene" value="[% gene %]">
      <label><strong>Design</strong></label>
      <table class="table table-condensed">
        <thead>
            <td>ID</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Type</td>
            <td>Pick</td>
        </thead>
        <tbody>
          [% FOR design IN design_id_list %]
          <tr>
            <td>
              [% design.id %]
            </td>
            <td>
              <a href="[% c.uri_for( '/user/view_design', { design_id = design.id } ) %]" target="_blank">details</a>
            </td>
            <td>
              <a href="[% c.uri_for( '/user/design_ucsc_blat', { design_id => design.id } ) %]" target="_blank" class="btn btn-xs btn-info btn-block">Blat oligos</a>
            </td>
            <td>
              <a href="[% c.uri_for( '/user/genoverse_design_view', { design_id => design.id, gene_symbol => gene } ) %]" target="_blank" class="btn btn-xs btn-info btn-block">Genoverse</a>
            </td>
            <td>
              [% design.type %]
            </td>
            <td>
              <input type="radio" name="design_id" value="[% design.id %]" [% IF design_id == design.id %]checked[% END %]>
            </td>
          </tr>
          [% END %]
        </tbody>
    </table>
        <span class="help-block">Pick the design the sequence is based on</span>
        [% ELSE %]
        <div class="alert alert-danger">
            No designs found for gene <strong>[% gene %]</strong>
            <br>
            <br>
            Please <a href="[% c.uri_for( '/user/pick_gene_generate_sequence_file') %]">pick another gene</a>
            or <a href="[% c.uri_for( '/user/generate_sequence_file' ) %]">enter design id manually</a>.
        </div></br>
      [% END %]

      [% ELSE %]

</div>
<form class="form-horizontal">

  <fieldset class="form-group">
    <label><strong>Design ID</strong></label>
    <div class="col-md-2">
        <input name="design_id" id="design_id" type="text"
          [% IF design_id %]value="[% design_id %]"[% END %]
        />
        <span class="help-block">Pick the design the sequence is based on</span>
    </div>
  </fieldset>
  [% END %]

  <fieldset class="form-group">
      <div class="col-md-4">
        <label for="cassette"><strong>Cassette</strong></label>
        <select class="selectpicker" name="cassette" id="cassette"/>
          [% FOR cass IN cassettes %]
            <option [% IF cass == cassette %] selected="selected"[% END %]>[% cass %]</option>
          [%- END %]
        </select>
        <span class="help-block">Pick cassette used for sequence</span>
    </div>
  </fieldset>

  <fieldset class="form-group">
      <div class="col-md-12">
        <label for="backbone"><strong>Backbone</strong> <small class="muted">optional</small></label></br>
        <select class="selectpicker" name="backbone" id="backbone"/>
          [% FOR bb IN backbones %]
            <option [% IF bb == backbone %] selected="selected"[% END %]>[% bb %]</option>
          [%- END %]
        </select>
        <span class="help-block">Pick backbone used for sequence, leave blank if you are not generating vector sequence</span>
    </div>
  </fieldset>


  <fieldset class="form-group">
      <div class="col-md-6">
          <label><strong>Recombinases</strong> <small class="muted">optional</small></label>
          <div class="col-xs-offset-1">
          [% FOR recom IN recombinases %]
            <label class="checkbox">
                <input type="checkbox" name="recombinases" value="[% recom %]" [% IF picked_recombinase && picked_recombinase.grep(recom).size %]checked[% END %]> [% recom %]
            </label>
          [%- END %]
          </div>
        <span class="help-block">Apply optional recombinases to the generated sequence</span>
    </div>
  </fieldset>

  <fieldset class="form-group">
      <div class="col-md-12">
        <label for="file_format"><strong>File Format</strong></label>
        <select class="selectpicker" name="file_format" id="file_format" />
            <option>Genbank</option>
            <option>Fasta</option>
        </select>
        <span class="help-block">Pick format of sequence file that will be generated</span>
    </div>
  </fieldset>

    <br>
    <button name="generate_sequence" id="generate_sequence" type="submit" value="generate_sequence" class="btn btn-primary">
        <i class="glyphicon glyphicon-download"></i> Generate Sequence File
    </button>
</form>

