[% META title="Design Target Report"; META tab_name = "Designs" %]

<div class="page-header">
  <h1>Design Target Report
  <small>off target algorithm: [% params.off_target_algorithm %],</small>
  <small>assembly: [% assembly %],</small>
  <small>build: [% build %]</small>
  </h1>
</div>

[% crispr_col_span = 10 %]
[% design_col_span = 1 %]

<form method"POST" id="crispr_pick" action="[% c.uri_for( '/user/design_target_report_crispr_pick' ) %]">
<div class="row">
<div class="span12" >
  <table id="design-target-report" class="table table-bordered table-condensed" style="max-width: none">
    <thead>
      <tr>
        <th class="design-target group-header" colspan="2">Design Target</th>
        <th class="design group-header" colspan="[% design_col_span %]">Vector Design</th>
        <th class="crispr group-header" colspan="[% crispr_col_span %]">Crispr Pair Guide RNA</th>
      </tr>

      <tr>
        <th class="design-target">Gene</th>
        <th class="design-target">Target Exon</th>
        <th class="design">Design ID</th>
        <th class="crispr">Crispr Pair ID</th>
        <th class="crispr">Spacer</th>
        <th class="crispr">Min OT Pair Distance</th>
        <th class="crispr">Left Crispr ID</th>
        <th class="crispr">Off Targets</th>
        <th class="crispr">Right Crispr ID</th>
        <th class="crispr">Off Targets</th>
        <th class="crispr">Pick Crispr</th>
      </tr>
    </thead>

    <tbody>
      [%- FOR datum IN design_targets_data %]
        [% dt_first_row = 1 %]
        <tr>
          <td rowspan="[% datum.dt_rowspan %]" class="design-target">
            <p> [% datum.marker_symbol %] </p>
            <p> [% datum.gene_id %] </p>
            <p> <a href="[% datum.ensembl_gene_link %]" target="_blank" class="btn btn-mini">[% datum.ensembl_gene_id %]</a> </p>
          </td>
          <td rowspan="[% datum.dt_rowspan %]" class="design-target">
            <p> <a href="[% c.uri_for( '/user/genoverse_browse',
                { genome => assembly,
                  chromosome => datum.chromosome,
                  symbol => datum.marker_symbol,
                  gene_id => datum.gene_id,
                  exon_id => datum.ensembl_exon_id,
                  view_single => 0,
                  view_paired => 1 }
                  )
                  %]" target="_blank" class="btn btn-mini">[% datum.ensembl_exon_id %]</a> </p>
            <p> Chromosome: <span class="label"> [% datum.chromosome %] </span> </p>
            <p> Size: <span class="label"> [% datum.exon_size %] </span> </p>
            <p> Rank: <span class="label"> [% datum.exon_rank %] </span> </p>
            <p>
              <a href="[% c.uri_for( '/user/create_gibson_design', {
                  gene_id         => datum.gene_id,
                  ensembl_gene_id => datum.ensembl_gene_id,
                  exon_pick       => datum.ensembl_exon_id,
                } ) %]"
                target="_blank" class="btn btn-mini">Create Design</a> </p>
            </p>
          </td>

          <!-- No designs or crisprs for design target, show empty cells -->
          [% IF datum.designs.size == 0 && datum.crisprs.size == 0 %]
            <td class="design" colspan="[% design_col_span %]"></td>
            <td class="crispr" colspan="[% crispr_col_span %]"></td>
            </tr>
            [% NEXT %]
          [% END %]

          <!-- No designs for design target but we have crisprs, show all crisprs -->
          [% IF datum.designs.size == 0 %]
            <td class="design" rowspan="[% datum.design_rowspan %]" colspan="[% design_col_span %]"></td>
            [% FOR crispr_pair IN datum.crisprs %]
              [% IF dt_first_row == 0 %]<tr>[% END %]
              [% INCLUDE display_crisprs
                crispr_pair = crispr_pair
                design      = undef
              %]
              [% dt_first_row = 0 IF dt_first_row == 1 %]
              </tr>
            [% END %]
          [% ELSE %]
            <!-- We have designs and possibly crispr pairs, for each design show all crispr pairs -->
            [% FOR design IN datum.designs %]
              [% design_first_row = 1 %]
              [% IF dt_first_row == 0 %]<tr>[% END %]
              <td rowspan="[% datum.design_rowspan %]" class="design">
                <a href="[% c.uri_for( '/user/view_design', { design_id => design.design_id } ) %]">
                  [% design.design_id %]
                </a>
                <a href="[% c.uri_for( '/user/design_ucsc_blat', { design_id => design.design_id } ) %]" target="_blank" class="btn btn-mini btn-block">blat</a>
              </td>
              [% IF datum.crisprs.size == 0 %]
                <td class="crispr" colspan="[% crispr_col_span %]"></td>
                </tr>
                [% dt_first_row = 0 IF dt_first_row == 1 %]
              [% ELSE %]
                [% FOR crispr_pair IN datum.crisprs %]
                  [% UNLESS design_first_row %]<tr>[% END %]
                  [% INCLUDE display_crisprs
                    crispr_pair = crispr_pair
                    design      = design
                  %]
                  </tr>
                  [% design_first_row = 0 IF design_first_row == 1 %]
                  [% dt_first_row = 0 IF dt_first_row == 1 %]
                [% END %]
              [% END %]
            [% END %]
          [% END %]
      [%- END %]
    </tbody>
  </table>
</div>
</div>

<div class="row">
  <div class="span3">
    <a href="[% c.uri_for( '/user/design_target_gene_search' ) %]" class="btn">
    <i class="icon-hand-left"></i> Back to search </a>
  </div>
  <div class="span3 offset6" align="right">
    <input type="hidden"  name="crispr_types" value="[% params.crispr_types %]" />
    [% IF params.filter %]
      <a href="[% c.uri_for( '/user/design_target_report' datum.marker_symbol, { 'crispr_types' => 'pair', 'type' => params.type, 'off_target_algorithm' => params.off_target_algorithm, 'filter' => '0' } ) %]" class="btn btn-info">
        Show All Crisprs</a>
    [% ELSE %]
      <a href="[% c.uri_for( '/user/design_target_report' datum.marker_symbol, { 'crispr_types' => 'pair', 'type' => params.type, 'off_target_algorithm' => params.off_target_algorithm, 'filter' => '1' } ) %]" class="btn btn-info">
        Filter Crisprs</a>
    [% END %]
    <input type="submit" name="action" class="btn btn-primary" value="Make Crispr Picks" id="make_picks_btn" />
  </div>
</div>

</form>

<div class="row">

  <div class="span7 offset2 well">
    <h5 align="center"><strong>Search Terms</strong></h5>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>[% IF species == 'Human' %]HGNC IDs[% ELSE %]MGI IDs[% END %]</th>
          <th>Ensembl Gene IDs</th>
          <th>Marker Symbols</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>[% search_terms.gene_ids.join(', ') %]</td>
          <td>[% search_terms.ensembl_gene_ids.join(', ') %]</td>
          <td>[% search_terms.marker_symbols.join(', ') %]</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<script type="text/javascript">

$('.crispr-info').popover();

$( document ).ready(function() {
  $("#make_picks_btn").click(function(e){
    e.preventDefault();
    var deleted_links = 0;
    $("#delete_link_list").html('');
    $(".checked_on_load").each(function(i,item){
      var link = $(item).val();
      console.log(link);
      console.log(" was checked on load");
      if($(item).prop("checked")){
        //no change
      }
      else{
        console.log("link " + link + " will be removed");
        var ids = link.split(":");
        $("#delete_link_list").append("<li>Design " + ids[1] + " with Crispr Pair " + ids[0] + "</li>");
        deleted_links++;
      }
    });

    if(deleted_links){
      $("#DeleteExperimentModal").modal('show');
    }
    else{
      $("#crispr_pick").submit();
    }
  });

  $("#confirm_crispr_pick_btn").click(function(e){
    $("#crispr_pick").submit();
  });
});

</script>

<div class="modal hide fade" id="DeleteExperimentModal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 id="myModalLabel">Confirm Crispr Pick</h3>
      </div>

      <div class="modal-body" align="center">
        This action will delete some existing experiments:
        <ul id="delete_link_list"></ul>
        <br>
        Continue?
      </div>

      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button type="submit" name="delete_experiment" class="btn btn-danger" id="confirm_crispr_pick_btn">
          Confirm Crispr Pick
        </button>
      </div>
    </form>
</div>

[% BLOCK display_crisprs %]
  <td class="crispr">
    <a href="[% c.uri_for( '/user/crispr_pair' , crispr_pair.crispr_pair_id , 'view' ) %]" target="_blank">
      [% crispr_pair.crispr_pair_id %]
    </a>
    <a href="[% c.uri_for( '/user/crispr_pair' , crispr_pair.crispr_pair_id , 'blat' ) %]" target="_blank" class="btn btn-mini btn-block">
    blat
    </a>
  </td>
  <td class="crispr">[% crispr_pair.spacer %]</td>
  <td class="crispr">[% crispr_pair.pair_off_target %]</td>
  <td class="crispr">
    <a href="[% c.uri_for( '/user/crispr' , crispr_pair.left_crispr_id , 'view' ) %]" target="_blank">
      [% crispr_pair.left_crispr_id %]
    </a>
    [% IF crispr_pair.left_crispr_wge_id %]
    <br/>
    (WGE: [% crispr_pair.left_crispr_wge_id %])
    [% END %]
    <div class="btn crispr-info btn-mini btn-info btn-block" data-toggle="popover" data-placement="right" data-content="[% INCLUDE crispr_info seq = crispr_pair.left_crispr_seq, locus = crispr_pair.left_crispr_locus %]" data-animation="false" title="Crispr Info">Info</div>
  </td>
  <td class="crispr">
    <table>
      <tr>
      <th>Mismatch</th>
      [% FOREACH num IN [ 0 .. 5 ] %]<th>[% num %]</th>[% END %]
     </tr>
     <tr>
      <td>Freq</td>
      [% FOREACH num IN [ 0 .. 5 ] %]<td>[% crispr_pair.left_off_target.$num %]</td>[% END %]
     </tr>
    </table>
  </td>
  <td class="crispr">
    <a href="[% c.uri_for( '/user/crispr' , crispr_pair.right_crispr_id , 'view' ) %]" target="_blank">
      [% crispr_pair.right_crispr_id %]
    </a>
    [% IF crispr_pair.right_crispr_wge_id %]
    <br/>
    (WGE: [% crispr_pair.right_crispr_wge_id %])
    [% END %]
    <div class="btn crispr-info btn-mini btn-info btn-block" data-toggle="popover" data-animation="false" data-placement="right" data-content="[% INCLUDE crispr_info seq = crispr_pair.right_crispr_seq, locus = crispr_pair.right_crispr_locus %]" title="Crispr Info">Info</div>
  </td>
  <td class="crispr">
    <table>
      <tr>
      <th>Mismatch</th>
      [% FOREACH num IN [ 0 .. 5 ] %]<th>[% num %]</th>[% END %]
     </tr>
     <tr>
      <td>Freq</td>
      [% FOREACH num IN [ 0 .. 5 ] %]<td>[% crispr_pair.right_off_target.$num %]</td>[% END %]
     </tr>
    </table>
  </td>
  <td class="crispr">
    [% IF design && crispr_pair.crispr_pair_id %]
      [% linked = 0 %]
      [% FOR crispr_id IN design.linked_crispr_ids %]
        <!-- we have a crispr already linked to a design -->
        [% IF crispr_pair.crispr_pair_id == crispr_id %]
          [% linked = 1 %]
          <input type="checkbox" name="crispr_pair_pick" value="[% crispr_pair.crispr_pair_id %]:[% design.design_id %]" checked class="checked_on_load"/>
          <input type="hidden"  name="design_crispr_pair_link" value="[% crispr_pair.crispr_pair_id %]:[% design.design_id %]" />
        [% END %]
      [% END %]

      [% IF linked == 0 %]
        <input type="checkbox" name="crispr_pair_pick" value="[% crispr_pair.crispr_pair_id %]:[% design.design_id %]" />
      [% END %]
    [% END %]
  </td>
[% END %]

[% BLOCK crispr_info %]
  <p><strong>Sequence:</strong> [% seq %] </p>
  <p><strong>Locus:</strong> [% locus %] </p>
[% END %]
