[% META title="Simple Design Target Report"; META tab_name = "Designs" %]

<div class="page-header">
  <h1>Design Target Report <small>off target algorithm: [% params.off_target_algorithm %]</small></h1>
</div>

<table id="design-target-report" class="table table-bordered table-condensed table-striped">
  <thead>
    <tr>
      <th>Marker Symbol</th>
      <th>Gene ID</th>
      <th>Target Exon</th>
      <th>Chromosome</th>
      <th>Exon Size</th>
      <th>Exon Rank</th>
      <th>Designs</th>
      <th>Crisprs</th>
      <th>Crispr Pairs</th>
      <th>Crispr Groups</th>
    </tr>
  </thead>

  <tbody>
    [% FOR datum IN design_targets_data %]
      <tr [% IF datum.designs > 0 && datum.crispr_pairs > 0 %]
            class="success"
          [% END %]
      >
        <td>[% datum.marker_symbol %]</td>
        <td>[% datum.gene_id %]</td>
        <td>[% datum.ensembl_exon_id %]</td>
        <td>[% datum.chromosome %]</td>
        <td>[% datum.exon_size %]</td>
        <td>[% datum.exon_rank %]</td>
        <td>[% datum.designs %]</td>
        <td>[% datum.crisprs %]
            <a href="[% c.uri_for( '/user/design_target_report' datum.marker_symbol, { 'crispr_types' => 'single', 'type' => params.type, 'off_target_algorithm' => params.off_target_algorithm } ) %]" target="_blank" class="btn btn-info btn-xs pull-right">details</a>
        </td>
        <td>[% datum.crispr_pairs %]
            <a href="[% c.uri_for( '/user/design_target_report' datum.marker_symbol, { 'crispr_types' => 'pair', 'type' => params.type, 'off_target_algorithm' => params.off_target_algorithm, 'filter' => '0' } ) %]" target="_blank" class="btn btn-info btn-xs pull-right">details</a>
        </td>
        <td>[% datum.crispr_groups %]
            <a href="[% c.uri_for( '/user/design_target_report' datum.marker_symbol, { 'crispr_types' => 'group', 'type' => params.type, 'off_target_algorithm' => params.off_target_algorithm, 'filter' => '0' } ) %]" target="_blank" class="btn btn-info btn-xs pull-right">details</a>
        </td>
      </tr>
    [% END %]
  </tbody>
</table>

<div class="row">
  <div class="span3">
    <a href="[% c.uri_for( '/user/design_target_gene_search' ) %]" class="btn">
    <i class="icon-hand-left"></i> Back to search </a>
  </div>
</div>
