[% META title = "Crispresso Submission" %]

<style>
p.tab{
    padding-left: 50px;
}
</style>

<div class="page-header">
  <h1>Crispresso Submission <small> Guidelines </small></h1>
</div>

<ul style="list-style-type:disc">
    <li>
    <h3>Step 1</h3>
        <p>
            Download the template file for Crispresso submissions by pressing the link below:
        </p>
        <td>
            <a href="[% c.uri_for('/user/qc/cripsresso_submission_template')%]">
                <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-download"></i><b>&nbsp; Download</b></button>
            </a>
        </td>
    </li>
 
    <li>
        <h3>Step 2</h3>
        <p>Rename the template csv according to the following formula:</p>
        <p class="tab">MiSeq_<i><b>"Run Number"</i></b>_<i><b>"Walkup Number"</b></i>.csv</p>
        <p>Example:</p>
        <p class="tab"> <b>Miseq_038_123.csv </b></p>
    </li>

    <li>
        <h3>Step 3</h3>
        <p>Insert your data in the spreadsheet. For further explanation on the different data types required:</p>
        <div class="panel-group" id="accordian">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-toggle" data-toggle="collapse" href="#collapseTwo">
                        <i class="glyphicon glyphicon-question-sign"></i> CSV data types
                    </a>
                </div>
                <div id="collapseTwo" class="panel-body collapse">
                    <div class="panel-body">
                        <div class="well well-sm">
                            <dl class="dl-horizontal">
                                <dt>experiment</dt>
                                <dd>
                                    <p> Must be unique within the plate. It can contain only letters, numbers or underscores.<br/>
                                        To get the experiment name the suggested process would be to concatenate the plate name and the gene. <br/> 
                                        f(x) = CONCATENATE(<i>plate</i>+"_"+<i>gene</i>) <br/>
                                        <b>e.g.</b>&nbsp;<i>HUPEPD0043_4A_SMARCA4_1</i> 
                                    </p>
                                </dd>

                                <dt>gene</dt>
                                <dd> 
                                    <p>
                                    It can contain only letters, numbers or underscores. Ideally trivial gene name.<br/><b>e.g.</b>&nbsp;<i>SMARCA4_1</i>
                                    </p>
                                </dd>

                                <dt>crispr</dt>
                                <dd>
                                    <p>
                                        Result sequence.<br/>
                                        <b>e.g.</b>&nbsp;<i>CCACCCTCGGTGTCCGCAAC</i>
                                    </p>
                                </dd>

                                <dt>strand</dt>
                                <dd>
                                    <p>
                                        Can be either "<b>+</b>" or "<b>-</b>".<br/>
                                        <b>e.g.</b>&nbsp;<i>+</i> 
                                    </p>
                                </dd>


                                <dt>amplicon</dt>
                                <dd>
                                    <p>
                                        Target region sequence.Case insensitive.<br/>
                                            <b>e.g.</b>&nbsp;
                                            <i>
                                                GAGCTCAGATCATGGCCTACaagatgctggccagggggcagcccctccccg
                                                accacctgcagatggcggtgcagggcaagcggccgatgcccgggatgcagc
                                                agcagatgccaacgctacctccaccctcggtgtccgcaacaggacccggcc
                                                ctggccctggccctggccccggcccgggtcccggcccggcacctccaaatt
                                                acagcaggcCTCATGGTAAGACTGGCTGC
                                            </i> 
                                    </p>
                                </dd>

                                <dt>min_index</dt>
                                <dd>
                                    <p>
                                        The minimum Illumina index of the target wells.<br/>
                                        <b>e.g.</b>&nbsp;<i>1</i> 
                                    </p>
                                </dd>
                                
                                <dt>max_index</dt>
                                <dd>
                                    <p>
                                        The maximum Illumina index of the target wells.<br/>
                                        <b>e.g.</b>&nbsp;<i>96</i> 
                                    </p>
                                </dd>


                                <dt>hdr</dt>
                                <dd>
                                    <p>
                                        HDR template amplicon. Must match amplicon in length. Case insensitive.<br/>
                                        <b>e.g.</b>&nbsp;
                                        <i>
                                            GAGCTCAGATCATGGCCTACaagatgctggccagggggcagcccctccccga
                                            ccacctgcagatggcggtgcagggcaagcggccgatgcccgggatTcagcag
                                            cagatgccaacgctacctccaccctcggtgtccgcaacaggacccggccctg
                                            gccctggccctggccccggcccgggtcccggcccggcacctccaaattacag
                                            caggcCTCATGGTAAGACTGGCTGC
                                        </i> 
                                    </p>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>

    <li>
        <h3>Step 4</h3>
        <p>
        Save the csv and attach it to a new RT ticket. Please specify walk up number.<br/>
        Email address: <b> htgt@sanger.ac.uk </b><br/>
        NOTE: Make sure the headers of the CSV files are in all lowercase. 
        </p>
    </li>
</ul>


