[% META title = "View Qc Run" %]
[% MACRO yes_no(bool) IF bool == 1; "yes"; ELSE; "no"; END; -%]
[% MACRO pass_fail(bool) IF bool == 1; "pass"; ELSE; "fail"; END; -%]

<div class="page-header">
  <h1>QC Run <small>[% qc_run.id %]</small></h1>
</div>

<div class="row">
  <div class="span6">
    <div class="well">
      <dl>
        <dt>Qc Template</dt>
        <dd>[% qc_run.qc_template %]</dd>
        <dt>Sequencing Project(s)</dt>
        <dd>[%  qc_run.sequencing_projects.join(' - ') %]</dd>
        <dt>Profile</dt>
        <dd>[% qc_run.profile %]</dd>
      </dl>
    </div>
  </div>
  <div class="span6">
    <div class="well">
      <dl>
        <dt>Created At</dt>
        <dd>[% qc_run.created_at %]</dd>
        <dt>Created By</dt>
        <dd>[% qc_run.created_by %]</dd>
        <dt>Software VersionID</dt>
        <dd>[% qc_run.software_version %]</dd>
      </dl>
    </div>
  </div>
</div>

<div class="row">
  <div class="span6">
    <a class="btn btn-info" href="[% c.uri_for( '/user/report/sync/QcRun', { 'qc_run_id' => qc_run.id } ) %]">
      <i class="icon-download-alt icon-white"></i> View Full Results
    </a>
    <a class="btn btn-info" href="[% c.uri_for( '/user/report/sync/QcRunSummary', { 'qc_run_id' => qc_run.id } ) %]">
      <i class="icon-download-alt icon-white"></i> View Summary Results
    </a>
    <a class="btn btn-info" href="[% c.uri_for( '/user/create_plates', { 'qc_run_id' => qc_run.id } ) %]">
      Create Plates from QC
    </a>    
  </div>
</div>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Plate Name</th>
      <th>Well Name</th>
      <th>384 Well Name</th>
      <th>Design Id</th>
      <th>Expected Design Id</th>
      <th>Gene Symbol</th>
      <th>Pass?</th>
      <th>Raw Score</th>
      <th>Number of Primer Reads</th>
      <th>Number of Valid Primers</th>
      <th>Valid Primer Score</th>
      <th>Valid Primers</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    [% FOR r IN results -%]
    <tr>
      <td>[% r.plate_name %]</td>
      <td>[% r.well_name %]</td>
      <td>[% r.well_name_384 %]</td>
      <td>[% r.design_id %]</td>
      <td>[% r.expected_design_id %]</td>
      <td>[% r.gene_symbol %]</td>
      <td>[% pass_fail( r.pass ) %]</td>
      <td>[% r.score %]</td>
      <td>[% r.num_reads %]</td>
      <td>[% r.valid_primers.size %]</td>
      <td>[% r.valid_primers_score %]</td>
      <td>[% r.valid_primers.join( "," ) %]</td>
      <td>
        <a href="[% c.uri_for( '/user/view_qc_result',
          { 'qc_run_id' => qc_run.id, 'plate_name' => r.plate_name, 'well_name' => r.well_name } ) %]">
          Details
        </a>
      </td>
    </tr>
    [% END -%]
  </tbody>
</table>
