[% META title = "HTGT LIMS2"; META tab_name = "Home" -%]

<div class="page-header">
  <h1>Welcome to LIMS2</h1>
</div>

<p class="lead">
The High Throughput Gene Targeting (HTGT) lab tracking system.
<br>
<br>
<a href="[% c.uri_for( '/public_reports/sponsor_report' ) %]">Sponsor Progress Report</a>
</p>

<div class="row">
  <div class="span6">
  </div>
</div>

