<div class="page-header">
  <h1>[% title %]</h1>
</div>

[% INCLUDE 'pagination.tt' pageset = pageset %]

<table class="table table-bordered">
  <thead>
    <tr>
      [%- FOR col IN columns %]
      <th>[% col %]</th>
      [%- END %]
    </tr>
  </thead>
  <tbody>
    [%- FOR datum IN data %]
    <tr>
      [%- FOR val IN datum %]
      <td>[% val %]</td>
      [%- END %]
    </tr>
    [%- END %]
  </tbody>
</table>