<div class="page-header">
  <h1>Select Sponsor</h1>
</div>


<form method="POST" action="[% c.uri_for( "/user/report/cache/${report_name}" ) %]" class="well">
  <fieldset>
    <label for="sponsor_field">Please select which sponsor you would like to view results for:</label>
    <select name="sponsor" id="sponsor_field">
    [% IF species == 'Mouse' %]
      <option value="Sponsors">All Homozygous</option>
      <option value="Core">Core</option>
      <option value="Cre Knockin">Cre Knockin</option>
      <option value="Pathogens">Pathogens</option>
      <option value="Syboss">Syboss</option>
    [% ELSE %]
      <option value="Sponsors">All Sponsors</option>
      [% FOR sponsor IN sponsors %]
      <option value="[% sponsor %]">[% sponsor %]</option>
      [% END %]
    [% END %]
    </select>
    <br />
    <input type="submit" name="list_assigned_designs" class="btn btn-primary" value="View report" />
  </fieldset>
</form>
