[% MACRO bool_to_text BLOCK %]
  [% IF bool == 1 %]TRUE
  [% ELSIF bool == 0 %]FALSE
  [% ELSE %]
  [% END %]
[% END %]

<h3>Well details for barcode [% well_details.barcode %]</h3>
<table class="table table-bordered">
 <tr>
  <th>Plate Name</th><td>[% well_details.plate_name %]</td>
 </tr>
 <tr>
  <th>Plate Type</th><td>[% well_details.plate_type %]</td>
 </tr>
 <tr>
  <th>Well Name</th><td>[% well_details.well_name %]</td>
 </tr>
 <tr>
  <th>Gene Symbol</th><td>[% well_details.design_gene_symbol %]</td>
 </tr>
 <tr>
  <th>Parent EPD</th><td>[% well_details.parent_epd %]</td>
 </tr>
 <tr>
  <th>Created By</th><td>[% well_details.created_by %]</td>
 </tr>
 <tr>
  <th>Created At</th><td>[% well_details.created_at %]</td>
 </tr>
 [% IF barcode_state_error %]
 <tr class="error">
  <th>Barcode State</th><td>[% well_details.barcode_state %]</td>
 </tr>
 [% ELSE %]
 <tr>
  <th>Barcode State</th><td>[% well_details.barcode_state %]</td>
 </tr>
 [% END %]
 <tr>
   <th>Last Known Location</th><td>[% well_details.last_known_location %]</td>
 </tr>
 <tr>
   <th>Auto Accept Status</th><td>[% bool_to_text(bool=well_details.well_accepted_flag) %]</td>
 </tr>
 <tr>
   <th>Manual Accept Status</th>
   <td>[% bool_to_text(bool=well_details.manual_accepted_flag) %]
    [% IF can_edit %]
      <a href="[% c.uri_for('/user/set_barcode_accept', {barcode => barcode, override => 'reset'}) %]" class="btn btn-primary btn-sm pull-right">Reset</a>
      <a href="[% c.uri_for('/user/set_barcode_accept', {barcode => barcode, override => 0}) %]" class="btn btn-primary btn-sm pull-right">Withhold <i class="glyphicon glyphicon-ban-circle"></i></a>
      <a href="[% c.uri_for('/user/set_barcode_accept', {barcode => barcode, override => 1}) %]" class="btn btn-primary btn-sm pull-right">Accept <i class="glyphicon glyphicon-ok-circle"></i></a>
    [% END %]
   </td>
 </tr>
 <tr>
   <th>Released?</th><td>[% bool_to_text(bool=well_details.accepted) %]</td>
 </tr>
</table>
