[%# do not show crispr validation interface if we have no reads or alignments %]
[% IF ( row.alignment.no_forward_read && ( row.alignment.no_reverse_read || row.alignment.no_reverse_alignment ))
   || ( row.alignment.no_forward_alignment && ( row.alignment.no_reverse_alignment || row.alignment.no_reverse_read )) %]
    [% RETURN %]
[% END %]

<div class="validate_crisprs well well-small">
    <strong>Crispr Validation : </strong>
    [% FOR crispr IN row.ranked_crisprs %]
        <a href=[% c.uri_for( '/user/crispr', crispr.id, 'view' ) %] target="_blank">[% crispr.id %]</a>
        <input type="checkbox"
               id="crispr_validate_[% row.es_qc_well_id %]"
               class="validate_crispr_checkbox"
               data-crispr_id="[% crispr.id %]"
               [% IF crispr.validated %] checked='checked' [% END %]
        />
    [% END %]
    ( <small>Crispr's from Left <i class="icon-arrow-right"></i> Right</small> )
</div>
