<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="[% c.uri_for( '/' ) %]">HTGT LIMS2</a>
      [% IF template.title != 'Login' %]
      <ul class="nav">

        <li[% IF template.tab_name == "Home" %] class="active"[% END %]>
          <a href="[% c.uri_for( '/' ) %]">Home</a>
        </li>


        <li class="dropdown[% IF template.tab_name == "Browse" %] active[% END %]">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="[% c.uri_for( '/user/browse_designs' ) %]">Designs</a>
            </li>
            <li>
              <a href="[% c.uri_for( '/user/browse_plates' ) %]">Plates</a>
            </li>
            <li>
              <a href="[% c.uri_for( '/user/qc_runs' ) %]">Sequencing QC Results</a>
            </li>
            <li>
              <a href="[% c.uri_for( '/user/graph' ) %]">Well Relations</a>
            </li>
          </ul>
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="[% c.uri_for( '/user/report/gene' ) %]">
                Gene Summary
              </a>
            </li>
            <li>
              <a href="[% c.uri_for( '/user/report/sponsor/VectorProductionSummary' ) %]">
                Vector Production Summary
              </a>
            </li>
            <li>
              <a href="[% c.uri_for( '/user/report/sponsor/VectorProductionDetail' ) %]">
                Vector Production Detail
              </a>
            </li>
            <li>
              <a href="[% c.uri_for( '/user/report/sponsor/FirstElectroporationProductionDetail' ) %]">
                First Allele Electroporation Detail
              </a>
            </li>
            <li>
              <a href="[% c.uri_for( '/user/report/sponsor/SecondElectroporationProductionDetail' ) %]">
                Second Allele Electroporation Detail
              </a>
            </li>
            <li>
              <a href="[% c.uri_for( '/user/report/sponsor/ElectroporationProductionSummary' ) %]">
                Electroporation Production Summary
              </a>
            </li>
            <li>
              <a href="[% c.uri_for( '/user/report/sponsor/GenesToElectroporate' ) %]">
                Genes To Electroporate
              </a>
            </li>
          </ul>
        </li>

        <li class="dropdown[% IF template.tab_name == "Plates" %] active[% END %]">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Plates <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="[% c.uri_for( '/user/browse_plates' ) %]">Browse</a>
            </li>
            [% IF c.check_user_roles( 'edit' ) %]
            <li>
              <a href="[% c.uri_for( '/user/plate_upload_step1' ) %]">Upload</a>
            </li>
            [% END %]
          </ul>
        </li>

        <li class="dropdown[% IF template.tab_name == "QC" %] active[% END %]">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">QC <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="[% c.uri_for( '/user/qc_runs' ) %]">Browse Sequencing QC</a>
            </li>
            [% IF c.check_user_roles( 'edit' ) %]
            <li>
              <a href="[% c.uri_for( '/user/dna_status_update' ) %]">Update DNA Status</a>
            </li>
            <li>
              <a href="[% c.uri_for( '/user/create_template_plate' ) %]">Create QC Template</a>
            </li>            
            <li>
              <a href="[% c.uri_for( '/user/submit_new_qc' ) %]">Submit QC Job</a>
            </li>
            <li>
              <a href="[% c.uri_for( '/user/latest_runs' ) %]">Latest QC Runs</a>
            </li>                      
            [% END %]
          </ul>
        </li>


        [% IF c.session.selected_species %]
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              [% c.session.selected_species %] <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>&nbsp Switch species:</li>
                [%- FOR species_id IN c.session.species %]
                  [%- IF species_id != c.session.selected_species %]
                  <li>
                    <a href="[% c.uri_for( '/user/select_species', { species => species_id } ) %]">
                      [% species_id %]
                    </a>
                  </li>
                  [% END %]
                [% END %]
            </ul>
          </li>
        [% END %]

      </ul>

      [% IF c.user %]

      <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li class="dropdown[% IF template.tab_name == "User" %] active[% END %]">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">[% c.user.name %] <b class="caret"></b></a>
          <ul class="dropdown-menu">
            [% IF c.check_user_roles( 'admin' ) %]
            <li><a href="[% c.uri_for( '/admin' ) %]"><i class="icon-user"></i> User Admin</a></li>
            [% END %]
            [% IF c.check_user_roles( 'edit' ) %]
            <li><a href="[% c.uri_for('/user/change_password') %]"><i class="icon-pencil"></i> Change Password</a></li>
            <li class="divider"></li>
            [% END %]
            <li><a href="[% c.uri_for('/logout') %]"><i class="icon-off"></i> Logout</a></li>
          </ul>
        </li>
      </ul>

      [% ELSE %]

      <p class="nav pull-right">
        <a class="btn" href="[% c.uri_for('/login') %]">Login</a>
      </p>

      [% END %]

    </div>
    [% END %]
  </div>
</div>
