<div class="accordion" id="accordian">

  <div class="accordion-group">

    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <i class="icon-question-sign"></i> Create Sequencing Project
      </a>
    </div>

    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>
          This form is used to add projects sent for sequencing at Eurofins into the LIMS2 system. 
        </p>
        <p>
          If there are any errors were to occur, a warning will show up and the project will not
          be created. Once the data is proven valid then the project will be created and a success message will appear.         
        </p>

        <div class="well">
          <h6>Setup</h6>
          <p>
            Fill in basic plate details, the compulsory fields are:
          </p>
            <dl class="dl-horizontal">
              <dt>Name</dt>
              <dd>Must contain only letters, numbers or underscores. The project name must not match any names of the old projects.</dd>
              <dt>QC Template</dt>
              <dd>Must exist in the LIMS2 system. Autocorrect functionality has been added to assist with this.
              <dt>Sub-projects</dt>
              <dd>The number of projects attached to this project. Must be a positive integer. If you do not intend to attach any sub projects, please enter 1.</dd>
            </dl>
          <p>
            The options are listed below.
          </p>
            <dl class="dl-horizontal">
              <dt>Primers</dt>
              <dd>Primers for the sequencing project. Possible to add multiples. Duplicates will be removed before insertation. Click the Add Primer button before clicking the Create Project button to ensure your primer is attached to the project</dd>
              <dt>QC</dt>
              <dd>Tick the box if you intend to run the project through the LIMS2 QC system</dd>
              <dt>Is 384?</dt>
              <dd>If you intend to submit 384 well plates to Eurofins, please check the box so the project may be adjusted.</dd>
            </dl>
        </div>
      </div>
    </div>
  </div>
</div>
