[% BLOCK external_gene_link %]
  [% IF c.session.selected_species == 'Human'%]
    <td><a class="brand" href="http://www.genenames.org/cgi-bin/gene_symbol_report?hgnc_id=[% colval %]">[% colval %]</a></td>
  [%- ELSIF c.session.selected_species == 'Mouse' %]
    <td><a class="brand" href="http://www.informatics.jax.org/marker/[% colval %]">[% colval %]</a></td>
  [%- END %]
[% END %]

[% BLOCK gene_symbol_page_link %]
  [% IF c.user %]
    <td><a class="brand" href="[%- c.uri_for('/user/report/gene/', { gene_id => rowdata.item('gene_id') } ) %]">[% colval %]</a></td>
  [% ELSE %]
    <td>[% colval %]</td>
  [% END %]
[% END %]

[% BLOCK grey_if_value %]
  [%- IF colval %]
    <td style="background:#E5E4E2" >[%- simple || colval %]</td>
  [%- ELSE %]
    <td></td>
  [%- END %]
[% END %]

[% BLOCK grey_if_total %]
    [% total = colval.total %]

    [%- IF total %]
      <td style="background:#E5E4E2" >[%- simple || total %]</td>
    [%- ELSE %]
      <td></td>
    [%- END %]

[% END %]

[% BLOCK genotyped_clones %]
    [% total = colval.total %]
    [%- IF total && ( rowdata.item('frame-shift clones').total || rowdata.item('het clones').total || !rowdata.item('het clones').total.defined ) %]
        <!-- green -->
        <td style="background:#8AD95A"><a class="brand" href="[%- c.uri_for('/public_reports/gene_report', rowdata.item('gene_id') ) %]">[%- simple || total %]</a></td>
    [%- ELSIF total && rowdata.item('effort_concluded') %]
        <!-- dark grey -->
        <td style="background:#999999"><a class="brand" href="[%- c.uri_for('/public_reports/gene_report', rowdata.item('gene_id') ) %]">[%- simple || total %]</a></td>
    [%- ELSIF total && rowdata.item('chr') == "X" %]
        <!-- orange -->
        <td style="background:#FFA500"><a class="brand" href="[%- c.uri_for('/public_reports/gene_report', rowdata.item('gene_id') ) %]">[%- simple || total %]</a></td>
    [%- ELSIF total %]
        <!-- red -->
        <td style="background:#FF4646"><a class="brand" href="[%- c.uri_for('/public_reports/gene_report', rowdata.item('gene_id') ) %]">[%- simple || total %]</a></td>
    [%- ELSE %]
        <td></td>
    [%- END %]
[% END %]

[% BLOCK grey_if_genotyped_clones %]
    [%- IF rowdata.item('total genotyped clones').total %]
      <td style="background:#E5E4E2" >
      [% IF colval.total %]
        [%- simple || colval.total %]
      [% ELSE %]
        0
      [% END %]
      </td>
    [% ELSE %]
      <td></td>
    [%- END %]
[% END %]

[% BLOCK grey_if_genotyped_clones_dash_undef %]
    [%- IF rowdata.item('total genotyped clones').total %]
      <td style="background:#E5E4E2" >
      [% IF colval.total.defined %]
        [%- simple || colval.total %]
      [% ELSE %]
        -
      [% END %]
      </td>
    [%- ELSE %]
      <td></td>
    [%- END %]
[% END %]

[% BLOCK green_unless_concluded %]
    [% IF !colval %]
      <td></td>
    [% ELSIF !rowdata.item('total genotyped clones') && rowdata.item('effort_concluded')  %]
        <td style="background:#999999">[%- simple || colval %]</td>]
    [% ELSE %]
        <td style="background:#8AD95A">[%- simple || colval %]</td>
    [% END %]
[% END %]

[% BLOCK green_if_value %]
  [% IF colval %]
    <td style="background:#8AD95A">[%- simple || colval %]</td>
  [% ELSE %]
    <td></td>
  [% END %]
[% END %]

[% BLOCK grey_if_concluded %]
    [% IF !rowdata.item('donor vectors constructed') && !rowdata.item('total genotyped clones') && rowdata.item('effort_concluded')  %]
        <td style="background:#999999">[%- simple || colval %]</td>
    [% ELSE %]
        <td>[%- colval %]</td>
    [% END %]
[% END %]

[% BLOCK priority %]
    [% IF colval == '' %]
      <td>-</td>
    [%- ELSIF colval == 'high' %]
      <td><font color='#FF4646'>[%- colval %]</font></td>
    [%- ELSIF colval == 'medium' %]
      <td><font color='#FFA500'>[%- colval %]</font></td>
    [%- ELSIF colval == 'low' %]
      <td><font color='#8AD95A'>[%- colval %]</font></td>
    [%- ELSE %]
      <td>[%- colval %]</td>
    [%- END %]
[% END %]

[% BLOCK display_row_link %]
  [% IF colval %]
    <td style="background:#E5E4E2">
        <a onclick="displayRow('[%- rowdata.item('gene_id') %]')">[%- simple || colval %]</a>
    </td>
  [%- ELSE %]
    <td></td>
  [%- END %]
[% END %]

[% BLOCK run_at_end_of_row %]
<!-- end of row block. row: [% rowdata %]. ep count: [% rowdata.item('electroporation of iPSCs') %] -->
  [% IF rowdata.item('electroporation of iPSCs') > 0 %]
        </tbody>
        <tbody id="[%- rowdata.item('gene_id') %]" style="display:none">
            [%- FOREACH ep IN rowdata.item('# colonies').by_ep_well.keys %]
              <tr>
                <td colspan=10 style="text-align:right">
                    Experiment
                [% FOREACH exp IN rowdata.item('# colonies').ep_experiments.$ep %]
                    <a class="brand" href="[%- c.uri_for('/user/view_experiment', { experiment_id => exp } ) %]">[%- exp %]</a>
                [% END %]
                     in cell line [% rowdata.item('# colonies').ep_cell_lines.$ep %]
                </td>
                <td>[%- rowdata.item('# colonies').by_ep_well.$ep %]</td>
                <td>[%- rowdata.item('iPSC colonies picked').by_ep_well.$ep %]</td>
                <td>[%- rowdata.item('total genotyped clones').by_ep_well.$ep %]</td>
                <td>[%- rowdata.item('frame-shift clones').by_ep_well.$ep %]</td>
                <td>[%- rowdata.item('in-frame clones').by_ep_well.$ep %]</td>
                <td>[%- rowdata.item('wt clones').by_ep_well.$ep %]</td>
                <td>[%- rowdata.item('mosaic clones').by_ep_well.$ep %]</td>
                <td>[%- rowdata.item('no-call clones').by_ep_well.$ep %]</td>
                <td>[%- rowdata.item('het clones').by_ep_well.$ep %]</td>
                <td colspan=3></td>
              </tr>

            [%- END %]
          </tbody>
          <tbody>
  [% END %]
[% END %]

[% BLOCK distributable_report_link %]
  [% IF colval %]
    <td style="background:#8AD95A"><a class="brand" href="[%- c.uri_for('/public_reports/gene_report', rowdata.item('gene_id'), { 'type' => 'distributable' } ) %]">[%- simple || colval %]</a></td>
  [% ELSE %]
    <td></td>
  [% END %]
[% END %]

[% BLOCK recovery_class %]
  [%- IF rowdata.item('frame-shift clones').total && rowdata.item('effort_concluded') %]
    <!-- green -->
    <td style="background:#8AD95A;white-space:nowrap">[%- colval %]</td>
  [%- ELSIF rowdata.item('effort_concluded') %]
    <!-- red -->
    <td style="background:#FF4646;white-space:nowrap">[%- colval %]</td>
  [%- ELSIF colval  %]
    <!-- grey -->
    <td style="background:#E5E4E2;white-space:nowrap">[%- colval %]</td>
  [%- ELSE %]
    <td>[%- colval %]</td>
  [%- END %]
[% END %]

[% BLOCK helper_javascript %]
<script type="text/javascript">

  function displayRow( my_id ){
    var row = document.getElementById(my_id);
    if (row.style.display == '')
      row.style.display = 'none';
    else
      row.style.display = '';
  }

</script>
[% END %]

[%# not used? citeria from old report: col == "cassette_promotor" || col == "neo_p" || col == "neo_pl" || col == "bsd_p" || col == "bsd_pl" %]
[% BLOCK yes_no %]
  [%- IF colval == "1" %]
    <td style="color:green">yes</td>
  [%- ELSIF colval == "0" %]
    <td style="color:red">no</td>
  [%- ELSE %]
    <td style="color:orange">---</td>
  [%- END %]
[% END %]


[%# not used? citeria from old report: IF col == "final_qc_seq_pass" || col == "final_pick_qc_seq_pass" || col == "dna_status_pass" %]
[% BLOCK pass_fail %]
  [%-IF colval == "1" %]
    <td style="color:green">pass</td>
  [%- ELSIF colval == "0" %]
    <td style="color:red">fail</td>
  [%- ELSE %]
    <td style="color:orange">----</td>
  [%- END %]
[% END %]










