<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>[% template.title || "HTGT LIMS2" %]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="[% c.uri_for( '/static/bootstrap/css/bootstrap.min.css' ) %]" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      div#main {
        padding-top: 20px;
      }
    </style>
    <!-- jQuery UI stylesheets -->
    <link rel="stylesheet" type="text/css" href="[% c.uri_for( '/static/jquery/css/ui-lightness/jquery-ui-1.12.0.custom.css' ) %]">

    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="[% c.uri_for( '/static/css/lims2.css' ) %]">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="[% c.uri_for( '/favicon.ico' ) %]">

    <!-- Le javascript
    ================================================== -->
    <script src="[% c.uri_for( '/static/js/jquery-1.12.3.min.js' ) %]"></script>
    <script src="[% c.uri_for( '/static/bootstrap/js/bootstrap.min.js' ) %]"></script>
    <script src="[% c.uri_for( '/js/poller.js' ) %]"></script>
    <script src="[% c.uri_for( '/static/jquery/js/jquery-ui-1.12.0.custom.min.js' ) %]"></script>

    <!-- Wide Screen
    ================================================== -->
    <script type="text/javascript">
    $(document).ready(function() {
        // click display type button
        $("#display_type_default, #display_type_wide").click(function(e) {
            var element = $(this);
            var display_type = element.attr('data-display-type');
            if ( display_type == 'wide' ) {
                $('#main').removeClass('container').addClass('container-fluid');
                $('#display_type_default').show();
                $('#display_type_wide').hide();
            }
            else {
                $('#main').removeClass('container-fluid').addClass('container');
                $('#display_type_default').hide();
                $('#display_type_wide').show();
            }

            $.ajax({
                type: "POST",
                url: '[% c.uri_for("/api/update_user_display_type") %]',
                data: {
                    "display_type": element.attr('data-display-type')
                },
                success: function(data) {
                    console.log(data);
                },
                error: function(data) {
                    console.log(data);
                    alert( 'Error with ajax' );
                },
                dataType: 'json'
            });
        });
    });
    </script>

  </head>

  <body>

      [% INCLUDE 'navigation.tt' %]
    <div id="main" class="[% IF c.session.display_type && c.session.display_type == 'wide' %]container-fluid[% ELSE %]container[% END %]">
      [% SET error = error_msg || c.flash.error_msg; IF error.length %]
      <div class="alert alert-danger">
        <button class="close" data-dismiss="alert" href="#">&times;</button>
        <p>[% error | html_line_break %]</p>
      </div>
      [% END %]
      [% SET info = info_msg || c.flash.info_msg; IF info.length %]
      <div class="alert alert-info">
        <button class="close" data-dismiss="alert" href="#">&times;</button>
        <p>[% info | html_line_break %]</p>
      </div>
      [% END %]
      [% SET success = success_msg || c.flash.success_msg; IF success.length %]
      <div class="alert alert-success">
        <button class="close" data-dismiss="alert" href="#">&times;</button>
        <p>[% success | none %]</p>
      </div>
      [% END %]
      [% content | none %]
    </div> <!-- /container -->

    <div class="navbar navbar-default navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <p class="navbar-nav pull-right navbar-text">
          version: <strong>[% c.model('Golgi').software_version %]</strong> |
          database: <strong>[% c.model('Golgi').database_name %]</strong>
          </p>
        </div>
      </div>
    </div>

  </body>
</html>

<script>
var dev = "[% c.model('Golgi').software_version %]";

if (dev != 'dev') {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
}

ga('create', 'UA-43136334-1', 'sanger.ac.uk');
ga('send', 'pageview');

</script>
