[% META title = "Create Miseq Designs"; META tab_name = "Designs" %]

<style>

#waiting {
    left: -20px;
}

#crisprWaiting { 
    left: 20px;
}

.glyphicon-refresh {
    color: 	#6A5ACD;
}

.glyphicon-refresh-animate {
    -animation: spin 1.2s infinite linear;
    -webkit-animation: spin2 1.2s infinite linear;
}

tr.fail td{ 
    background-color: #F2DEDE;
}

tr.success td{ 
    background-color: #DFF0D8;
}

</style>

<h1>Miseq Design Creation</h1>

<fieldset class="col-md-12 well">
    <div class="row col-md-12" align="center">
        <h4 class="col-md-2 col-md-offset-3">Design Type</h4>
        <div class="col-md-3">
            <select id="design_type" class="form-control" align="center">
                <option value="miseq-nhej">miseq-nhej</option>
                <option value="miseq-hdr">miseq-hdr</option>
            </select>
        </div>
    </div>
<!--- Hidden until back end implemented
    <div class="row col-md-12" align="center">
        <h4 class="col-md-2 col-md-offset-3">Presets</h4>
        <div class="col-md-3">
            <select class="form-control" align="center">
                <option value="Default">Default</option>
            </select>
        </div>
    </div>
---->
</fieldset>
<br>
<form method="POST" class="col-md-12 well">
    <fieldset>
        <legend>Design Progess Crispr Search</legend>

        <textarea class="col-md-4 form-control textAreaKeys" id="clearTextArea" rows="8" name="crisprs" placeholder="Copy and paste Crisprs here. Press ENTER to submit, SHIFT+ENTER for a new line." value="[%- crispr_id.join(', ') %]">[%- crispr_id.join(', ') %]</textarea>
        <span class="help-block">Valid search terms: Crisprs should be six digits and each crispr seperated by a comma</span>
        <button type="submit" name="action" id="action" class="btn btn-primary button" >Submit</button>
        <button class="btn btn-danger button" onclick="clearSelection();">Clear <i class="glyphicon glyphicon-remove"></i></button>
        <span id="crisprWaiting" class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="font-size:28px"></span>
    </fieldset>
</form>

<div class="well designProgressVisibility">
    <legend>Design Progess</legend>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Crispr ID</th>
                <th>WGE Crispr ID</th>
                <th>Gene ID</th>
                <th>Design ID</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            [% FOR table IN crispr_table %]
            [% IF table.status != 'Success' %]
                <tr id="[% table.lims %]" class="fail">
                [% ELSE %]
                <tr id="[% table.lims %]" class="success">
                [% END %]
                    <td>
                        <a href="[% c.uri_for( '/user/crispr' , table.lims , 'view' ) %]" target="_blank"> [% table.lims %] </a>
                    </td>
                    <td>[% table.wge %]</td>
                    <td class="tableGene">[% table.gene %]</td>
                    <td class="tableDesign"><a href="[% c.uri_for( '/user/view_design/', { design_id => table.design } ) %]" target="_blank">[% table.design %]</a></td>
                    <td class="tableStatus">[% table.status %]</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#redoModal" onclick="transferCrispr([% table.lims %]);">Redo</button> 
                    </td>
                </tr>
            [% END %]
        </tbody>
    </table>
</div>

    <div id="redoModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Design Parameters</h4>
                </div>

                <div class="modal-body col-md-12">
                    <fieldset class="col-md-12">
                        <legend>Primer Restraints</legend>
                        <fieldset class="col-md-6">
                            <legend>Miseq</legend>
                            <div class="col-md-12 row">
                                <label class="col-md-6">Search width:</label>
                                <div class="col-md-6">
                                    <input name="Search Width" class="form-control" id="miseq_search_width" name="miseq_search_width" type="number" placeholder="Default 170" value="170"/>
                                </div>
                            </div>
                            <div class="col-md-12 row">
                                <label class="col-md-6">Offset width:</label>
                                <div class="col-md-6">
                                    <input name="Dead Search Width" class="form-control" name="miseq_dead_search_width" id="miseq_dead_search_width" type="number" placeholder="Default 50" value="50"/>
                                </div>
                            </div>
                            <div class="col-md-12 row">
                                <label class="col-md-6">Increment:</label>
                                <div class="col-md-6">
                                    <input name="increment" class="form-control" id="miseq_increment" name="miseq_increment" type="number" placeholder="Default 15" value="15"/>

                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="col-md-6">
                            <legend>PCR</legend>
                            <div class="col-md-12 row">
                                <label class="col-md-6">Search width:</label>
                                <div class="col-md-6">
                                    <input name="Search Width" class="form-control" id="pcr_search_width" name="pcr_search_width" type="number" placeholder="Default 350" value="350"/>
                                </div>
                            </div>
                            <div class="col-md-12 row">
                                <label class="col-md-6">Offset width:</label>
                                <div class="col-md-6">
                                    <input name="Dead Search Width" class="form-control" name="pcr_dead_search_width" id="pcr_dead_search_width" type="number" placeholder="Default 170" value="170"/>
                                </div>
                            </div>
                            <div class="col-md-12 row">
                                <label class="col-md-6">Increment:</label>
                                <div class="col-md-6">
                                    <input name="pcr_increment" class="form-control" id="pcr_increment" type="number" placeholder="Default 50" value="50"/>
                                </div>
                            </div>
                        </fieldset>
                    </fieldset>
                    <fieldset class="col-md-12">
                        <legend>Design Restraints</legend>
                        <div class="form-group col-md-12">
                            <label class="col-md-5">Genomic Score Threshold</label>
                            <div class="col-md-4">
                                <input name="genomic" class="form-control" id="genomic" type="number" placeholder="Default 30" value="30"/>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-5">Primer Melting Temperatures</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">Minimum</span>
                                    <input class="form-control" id="min_mt" type="text" value="[% melting_temp.min %]">
                                    <span class="input-group-addon">C</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-5 row">
                                <div class="input-group">
                                    <span class="input-group-addon">Optimum</span>
                                    <input class="form-control" id="opt_mt" type="text" value="[% melting_temp.opt %]">
                                    <span class="input-group-addon">C</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-5 row">
                                <div class="input-group">
                                    <span class="input-group-addon">Maximum</span>
                                    <input class="form-control" id="max_mt" type="text" value="[% melting_temp.max %]">
                                    <span class="input-group-addon">C</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-5">Primer GC Content</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">Minimum</span>
                                    <input class="form-control" id="min_gc" type="text" value="[% gc_content.min %]">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-5 row">
                                <div class="input-group">
                                    <span class="input-group-addon">Optimum</span>
                                    <input class="form-control" id="opt_gc" type="text" value="[% gc_content.opt %]">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-5 row">
                                <div class="input-group">
                                    <span class="input-group-addon">Maximum</span>
                                    <input class="form-control" id="max_gc" type="text" value="[% gc_content.max %]">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="col-md-12 row">
                        [% INCLUDE 'miseq_design_parameters_help.tt' %]
                    </div>
                    <div class="col-md-12" id="response">
                    </div>
                </div>
                <div class="modal-footer">
                    <span id="waiting" class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="font-size:28px"></span>
                    <button type="submit" class="btn btn-primary" id="redo_submit">Submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>

    <hr/>

    <div id="batch" class="col-md-12 well">
        <h3>Batch upload</h3>
        <p>
            Upload a set of manually-verified Miseq designs.
            You can download an <a href="[% c.uri_for('/user/batchdesign/miseq_example') %]">example file</a>.
        </p>
        <form method="POST" id="miseq_design_batch" enctype="multipart/form-data"
            action="[% c.uri_for('/user/batchdesign/miseq_submit' ) %]">
            <div class="btn btn-file">
                <input class="file" name="datafile" type="file" />
            </div>
            <button name="batch_upload" id="batch_upload" type="submit"
                value="batch_upload" class="btn btn-primary">
                <i class="glyphicon glyphicon-upload"></i> Batch upload
            </button>
        </form>
    </div>

<script type="text/javascript" charset="utf-8">

var crispr_id = '[%- crispr_id.join(', ') %]';

$(document).ready(function() {
    $('.button').hide().prop('disabled', true);
    $('#crisprWaiting').hide().prop('disabled', true);
    display();
    $('#waiting').hide().prop('disabled', true);
});

function clearSelection(){
    $("#clearTextArea").html("");
}


$('#clearTextArea').on('keyup', function() {
    if (this.value.length) {
        $('.button').show().prop('disabled', false);
    } else {
        $('.button').hide().prop('disabled', true);
    }
});

$('#clearTextArea').on('mousedown', function() {
    $('.button').show().prop('disabled', false);
});

$(".textAreaKeys").keypress(function (e) {
    if(e.which == 13 && !e.shiftKey) {        
        $(this).closest("form").submit();
        e.preventDefault();
        return false;
    }
});

$('#action').click(function() {
    $('#crisprWaiting').show().prop('disabled', false);
});

$('#redo_submit').click(function() {
    var params = gatherParameters();
    var jsonified_params = JSON.stringify(params);
    $('#waiting').show().prop('disabled', false);

    $.ajax({
        url: '[% c.uri_for('/api/redo_miseq_design/') %]',
        type: 'POST',
        dataType: 'JSON',
        data: {
            requirements: jsonified_params
        },
        success: function(result) {
            console.log("Response received");
            console.log(result);
            var message;
            if (result.status == 'Success') {
                $('#response').removeClass('alert-danger').addClass('alert-success');
                var link = '[% c.uri_for("/user/view_design/") %]' + encodeURI('?design_id=' + result.design);
                message = 'Created MiSeq Design: <a href="' + link + '" target="_blank">' + result.design + '</a>';
                updateTable(params.crispr, result);
            } else {
                $('#response').removeClass('alert-success').addClass('alert-danger');
                message = 'Error: ' + result.status;
            }
            console.log(message);
            $('#response').html(message);
            $('#waiting').hide().prop('disabled', true);
        },
        error: function(err) {
            test = err;
            console.log(err);
            $('#response').addClass('alert-danger');
            $('#response').text('Failed to create MiSeq design: ' + err.responseText);
            $('#waiting').hide().prop('disabled', true);
        }
    });

});

function updateTable(crispr, row) {
    $('#' + crispr).removeClass('failure').addClass('success');
    $('#' + crispr).children('.tableGene').text(row.gene);
    $('#' + crispr).children('.tableStatus').text(row.status);
    var designLink = '[% c.uri_for("/user/view_design/") %]' + encodeURI('?design_id=' + row.design);
    var designAtag = '<a href="' + designLink + '" target="_blank">' + row.design + '</a>';
    var split = "";
    if ($('#' + crispr).children('.tableDesign').text()) {
        split = ", ";
    }
    $('#' + crispr).children('.tableDesign').append(split + designAtag);
}

function gatherParameters() {
    var miseq = {
        search_width : $('#miseq_search_width').val(),
        offset_width : $('#miseq_dead_search_width').val(),
        increment    : $('#miseq_increment').val()
    };

    var pcr = {
        search_width : $('#pcr_search_width').val(),
        offset_width : $('#pcr_dead_search_width').val(),
        increment    : $('#pcr_increment').val()
    };

    var melt = {
        min : $('#min_mt').val(),
        opt : $('#opt_mt').val(),
        max : $('#max_mt').val()
    };

    var gc = {
        min : $('#min_gc').val(),
        opt : $('#opt_gc').val(),
        max : $('#max_gc').val()
    };

    var params = {
        genomic_threshold   : $('#genomic').val(),
        design_type         : $('#design_type').val(),
        crispr              : $('#redoModal').attr("name"),        
        miseq               : miseq,
        pcr                 : pcr,
        melt                : melt,
        gc                  : gc
    };

    console.log(params);

    return params;
}

function toggleModal() {
    $('#redoModal').modal('toggle');
}

function transferCrispr(crispr) {
    document.getElementById('redoModal').setAttribute("name", crispr);
}

function display(){
    if (!crispr_id) {
        $('.designProgressVisibility').hide().prop('disabled', true);
    } else {
        $('.designProgressVisibility').show().prop('disabled', false);
    }
}

</script>
