[% META title = "Create Custom Target Gibson Design"; META tab_name = "Designs" %]

[% INCLUDE 'create_design/custom_target_gibson_parameter_diagram.tt' %]

[%  IF c.session.selected_species == 'Mouse';
      gene_id_label = 'MGI Gene ID';
    ELSIF c.session.selected_species == 'Human';
      gene_id_label = 'HGNC Gene ID';
    END;
%]

<form method="POST" action="[% c.uri_for( '/user/create_custom_target_gibson_design' ) %]" class="well">
  [% INCLUDE 'create_design/diagram_placeholder.tt' %]
  [% INCLUDE 'create_design/custom_target_specific_parameters.tt' %]
  [% INCLUDE 'create_design/common_gibson_form_parameters.tt' %]
</form>
