[% META title = "Design Gene Pick"; META tab_name = "Designs" %]

<form method="POST" action="[% c.uri_for( '/user/gibson_design_gene_pick' ) %]" class="well">
  <fieldset>
    <legend>Design Gene Pick</legend>

    <input type="text" class="input-xxlarge" name="search_gene" placeholder="gene name">
    <span class="help-block">Valid search terms: HGNC IDs, MGI IDs, Ensembl Gene IDs and Marker Symbols.<br>
    If you know the Ensembl exon id of the exon you wish to target you may use this instead.</span>

    <label><strong>Show Exons</strong></label>
    <label class="radio">
      <input type="radio" name="show_exons" value="canonical" checked>
      Canonical Transcript Only
    </label>
    <label class="radio">
      <input type="radio" name="show_exons" value="all">
      All
    </label>

    <br>
    <input type="submit" name="gene_pick" class="btn btn-primary" value="Find Exons" />
  </fieldset>
</form>

<div class="well">
If you know the exact coordinates of your target click <a href="[% c.uri_for('/user/create_custom_target_gibson_design') %]">here</a>.
</div>

<div class="well">
If you know the exon you want to target click <a href="[% c.uri_for('/user/create_gibson_design') %]">here</a>.
</div>

<form method="POST" action="[% c.uri_for( '/user/gibson_design_gene_pick' ) %]" class="well">
  <fieldset>
    <legend>Convert Gibson-Deletion Designs to Fusion-Deletion</legend>
    <input type="text" class="input-large" name="gibson_id" placeholder="Gibson Design ID"/>
    <br>
    <input type="submit" name="conversion" class="btn btn-primary" value="Convert" />
  </fieldset>
</form>
