[% META title = "Checked Out Barcodes", tab_name = 'Barcodes' -%]

<h1>[% plate_type %] barcodes currently checked out</h1>

<table class="table table-striped">
<tr>
  <th>Checkout Date</th>
  <th>Checkout User</th>
  <th>Gene ID</th>
  <th>Gene Symbol</th>
  <th>EPD parent</th>
  <th>Last Known Location</th>
  <th>Barcode</th>
  <th>Lab Number</th>
  <th>Action</th>
  <th>Discard</th>
</tr>
[% FOREACH bc IN barcodes %]
<tr>
  <td>[% bc.checkout_date %]</td>
  <td>[% bc.checkout_user %]</td>
[% IF !bc.is_double_targeted %]
  <td>[% bc.designs.0.gene_id %]</td>
  <td>[% bc.designs.0.gene_symbol %]</td>
[% ELSIF bc.is_double_targeted %]
   <td> <item class="first_gene_report_col">[% bc.designs.0.gene_id %]</item> <br /> <item class="second_gene_report_col">[% bc.designs.1.gene_id %]</item> </td>
   <td> <item class="first_gene_report_col">[% bc.designs.0.gene_symbol %]</item> <br /> <item class="second_gene_report_col">[% bc.designs.1.gene_symbol %]</item> </td>
[% END %]
  <td>[% bc.parent_epd %]</td>
  <td>[% bc.last_known_location %]</td>
  <td>[% bc.barcode %]</td>
  <td>[% bc.lab_number %]</td>
  <td>
  [% IF (plate_type == 'FP' || plate_type == 'SFP' || plate_type == 'Freeze') %]
    <a href="[% c.uri_for('/user/freeze_back', barcode => bc.barcode, freeze_back_type => bc.plate_type ) %]" class="btn btn-primary">
    Freeze Back
    </a>
  [% ELSIF (plate_type == 'PIQ' || plate_type == 'S_PIQ') %]
    <a  href="[% c.uri_for('/user/piq_send_out', barcode => bc.barcode ) %]" class="btn btn-primary">
    Send Out
    </a>
    <br><br>
    <a href="[% c.uri_for('/user/piq_start_doubling', barcode => bc.barcode) %]" class="btn btn-primary btn-xs">
    Start Doubling
    </a>
  [% END %]
  </td>
  <td>
  	<form class="form-inline" method="POST" action="[% c.uri_for( '/user/discard_barcode' ) %]">
  	  <input type="hidden" name="barcode" value="[% bc.barcode %]">
  	  <input type="hidden" name="plate_type" value="[% bc.plate_type %]">
      <div class="col-md-2" id="div_[% bc.barcode %]">
          <select class="form-control" name="reason" id="reason_[% bc.barcode %]">
            <option value="" disabled selected>select discard reason</option>
            [% FOREACH reason IN discard_reasons %]
              <option>[% reason %]</option>
            [% END %]
          </select>
          <span class="help-block hidden">Please enter reason</span>
          <br><button type="submit" name="discard_barcode" class="btn btn-danger discard_button" value="discard_barcode" id="discard_[% bc.barcode %]">
  	        Discard
  	        <i class="glyphicon glyphicon-trash"></i>
  	      </button>
      </div>

  	</form>
  </td>
</tr>
[% END %]
</table>

<script type="text/javascript">

$(document).ready( function() {
  // prevent submission to discard barcode if no reason entered
  $(".discard_button").click(function (event){
    var barcode = this.id.split("_")[1];

    var reason_id = "reason_" + barcode;
    var reason = $('#' + reason_id).val();

    if(!reason){
      var div_id = "div_" + barcode;
      // show error on reason input
      $('#' + div_id ).attr('class','control-group error');
      $('#' + div_id + " .help-block").attr('class','help-block');
      event.preventDefault();
    }
  });

  $(".reason_text").bind('keyup mouseup',function (event){
    //clear reason error state when user types in it
    var barcode = this.id.split("_")[1];
    var div_id = "div_" + barcode;
    $('#' + div_id ).attr('class','control-group');
    $('#' + div_id + " .help-block").attr('class','help-block hidden');
  });
});

</script>
