[% META title="Browse Crisprs"; META tab_name = 'Designs' %]
<div class="page-header">
  <h1>[%- gene_symbol -%] 
  <small>exon: <strong>[%exon_id%]</strong>
  chr: [%- chromosome -%]
  assembly: [%- genome -%]</small>
  </h1>
</div>

<div>
  [% IF hide == 1 %]
    <p style="font-size:25px">
      <b>Displaying: Gibson designs</b>
            <a href="[% c.uri_for( '/user/genoverse_browse',
                { genome => genome,
                  chromosome => chromosome,
                  symbol => gene_symbol,
                  gene_id => gene_id,
                  exon_id => exon_id,
                  crispr_style => crispr_style,
                  hide => 0}
                  )
                  %]" class="btn btn-info" align="right">
        Show [% crispr_style == 'single' ? 'single' : 'paired' %] crisprs</a>
    </p>
  [% ELSE %]
    <p style="font-size:25px">
      <b>Displaying: Gibson designs and [% crispr_style == 'single' ? 'single' : 'paired' %] crisprs</b>
            <a href="[% c.uri_for( '/user/genoverse_browse',
                { genome => genome,
                  chromosome => chromosome,
                  symbol => gene_symbol,
                  gene_id => gene_id,
                  exon_id => exon_id,
                  crispr_style => crispr_style,
                  hide => 1}
                  )
                  %]" class="btn btn-info" align="right">
        Hide [% crispr_style == 'single' ? 'single' : 'paired' %] crisprs</a>
    </p>
  [% END %]
</div>



    <script type="text/javascript" src="http://genoverse.org/js/genoverse.combined.js">
       {
        container : '#genoverse', // Where to inject Genoverse (css/jQuery selector)
        // If no genome supplied, it must have at least chromosomeSize, e.g.:
        // chromosomeSize : 249250621, // chromosome 1, human
        [% USE String(genome) %]
        genome    : '[% String.lower() %]', // see js/genomes/
        chr       : '[% chromosome %]',
        start     : [% exon_start %] - 2000,  // 2Kb context
        end       : [% exon_end %] + 2000,
        plugins   : [ 'controlPanel', 'karyotype', 'trackControls', 'resizer', 'fileDrop' ],
        tracks    : [
          Genoverse.Track.Scalebar,
          Genoverse.Track.extend({
            name      : 'Sequence',
            model     : Genoverse.Track.Model.Sequence.Ensembl,
            view      : Genoverse.Track.View.Sequence,
            resizable : 'auto',
            100000    : false
          }),
          Genoverse.Track.extend({
            name      : 'Designs',
            url       : "[% c.uri_for('/api/gibson_designs')%]" + "?chr=__CHR__&start=__START__&end=__END__" ,
            model     : Genoverse.Track.Model.Transcript.GFF3,
            view      : Genoverse.Track.View.Transcript,
            resizable : 'auto',
            height    : 150
          }),
[% IF hide == 0 %]
[% IF crispr_style == 'single' %]
          Genoverse.Track.extend({
            name      : 'Crisprs',
            url       : "[% c.uri_for('/api/crispr')%]" + "?chr=__CHR__&start=__START__&end=__END__" ,
            model     : Genoverse.Track.Model.Transcript.GFF3,
            view      : Genoverse.Track.View.Transcript,
            resizable : 'auto',
            height    : 150
          }),
[% ELSE %]
          Genoverse.Track.extend({
            name      : 'Crispr_pairs',
            url       : "[% c.uri_for('/api/crispr_pairs')%]" + "?chr=__CHR__&start=__START__&end=__END__" ,
            model     : Genoverse.Track.Model.Transcript.GFF3,
            view      : Genoverse.Track.View.Transcript,
            resizable : 'auto',
            height    : 150
          }),
[% END %]
[% END %]
          Genoverse.Track.extend({
            name   : 'Genes',
            height : 200,
            info   : 'Ensembl API genes & transcripts, see <a href="http://beta.rest.ensembl.org/" target="_blank">beta.rest.ensembl.org</a> for more details',
            
            // Different settings for different zoom level
            2000000: { // This one applies when > 2M base-pairs per screen
              labels : false
            },
            100000: { // more than 100K but less then 2M
              labels : true,
              model  : Genoverse.Track.Model.Gene.Ensembl,
              view   : Genoverse.Track.View.Gene.Ensembl
            },
            1: { // > 1 base-pair, but less then 100K
              labels : true,
              model  : Genoverse.Track.Model.Transcript.Ensembl,
              view   : Genoverse.Track.View.Transcript.Ensembl
            }
          })
        ]
      }
    </script>

    <div id="genoverse"></div>
