[% META title="View Crispr"; META tab_name = 'Designs' %]
<script language="javascript" type="text/javascript" src="[% c.uri_for( '/static/js/crisprs.js' ) %]"></script>
<script language="javascript" type="text/javascript" src="[% c.uri_for( '/static/js/primer_validation_state.js' ) %]"></script>

<!--  split seq into grna and pam -->
[% crispr_grna = crispr_data.fwd_seq.substr(0, 20) %]
[% crispr_pam =  crispr_data.fwd_seq.substr(20, 3) %]

<script type="text/javascript">
  //we use this for doing the mismatch counts
  // all taken WGE
  var crispr_grna = "[% crispr_grna %]";
  var crispr_pam  = "[% crispr_pam %]";

  $(document).ready( function() {

    $("#offtarget_table .ots").each(function() {
      var tr = $(this);

      //find sequence and get match data
      var seq = tr.children(".seq");
      var match = crispr_grna.match_str( seq.text().substr(0, 20) );

      //update the rows
      seq.html(match.str + " " + seq.text().substr(20, 3));
    });

    $(".validation-state-cell").each(function(){
      //(cell, api_url, object_id_param, object_id, primer_type, is_validated)
      addPrimerValidationState(
        $(this),
        "[% c.uri_for('/user/toggle_crispr_primer_validation_state') %]",
        'crispr_key',
        '[% crispr_data.id %]' + '(crispr)',
        $(this).data('primer-name'),
        $(this).data('validated')
      );
    });

  });
</script>

<style type="text/css">
.seq {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  font-size:15px;
}
.mismatch {
    font-weight: bold;
    color: #FF0000;
}
</style>

<div class="page-header">
  <h1>Crispr <small> [% crispr_data.id %]</small></h1>
</div>

<table class="table table-bordered">
  <tr><th>ID</th> <td>[% crispr_data.id %]</td></tr>
  <tr><th>Sequence</th> <td>[% crispr_data.seq %]</td></tr>
  <tr><th>Species</th> <td>[% crispr_data.species %]</td></tr>
  <tr><th>Gene</th> <td>[%- FOR gene IN genes %] [% gene.gene_symbol %] ([% gene.gene_id %]) <br /> [%- END %]</td></tr>
  <tr><th>Chromosome</th> <td>[% crispr_data.locus.chr_name %]</td></tr>
  <tr><th>Start</th> <td>[% crispr_data.locus.chr_start %]</td></tr>
  <tr><th>End</th> <td>[% crispr_data.locus.chr_end %]</td></tr>
  <tr><th>Strand</th> <td>[% crispr_data.locus.chr_strand %]</td></tr>
  <tr><th>Location Type</th> <td>[% crispr_data.type %]</td></tr>
  <tr><th>PAM Right</th> <td>[% crispr_data.pam_right %]</td></tr>
  <tr><th>WGE ID</th> <td>[% crispr_data.wge_crispr_id %]</td></tr>
  <tr><th>Comment</th> <td>[% crispr_data.comment %]</td></tr>
  [% IF crispr_data.nonsense_crispr_original_crispr_id %]
      <tr><th>Nonsense Crispr ( Linked with crispr )</th>
      <td> <a href="[% c.uri_for( '/user/crispr', crispr_data.nonsense_crispr_original_crispr_id , 'view' ) %]">[% crispr_data.nonsense_crispr_original_crispr_id %]</a></td>
    </tr>
  [% END %]
  [% IF linked_nonsense_crisprs.size > 0 %]
      <tr><th>Linked Nonsense Crisprs</th>
      <td>
      [% FOR crispr IN linked_nonsense_crisprs %]
        <a href="[% c.uri_for( '/user/crispr', crispr.id, 'view' ) %]">[% crispr.id %]</a>
      [% END %]
      </td>
      </tr>
  [% END %]
</table>

<a href="[% c.uri_for( '/user/crispr' , crispr_data.id ,'blat' ) %]" target="_blank" class="btn btn-primary">UCSC BLAT</a>

<h2>Off Target Summaries</h2>
[% IF ots.size > 0 %]
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Summary</th>
        <th>Algorithm</th>
        <th>Outlier</th>
      </tr>
    </thead>
    <tbody>
      [%- FOR datum IN ots %]
      <tr>
        <td>
          [% IF datum.summary %]
            <table class="table table-condensed table-bordered">
            [% FOR key IN datum.summary.keys.sort %]
              <tr>

                <td>[% IF key.match('^\d$') %]Off Targets with <span class="badge">[% key %]</span> mismatches[% ELSE %][% key %][% END %]</td>
                <td>[% datum.summary.$key %]</td>
              </tr>
            [% END %]
            </table>
          [% END %]
        </td>
        <td>[% datum.algorithm %]</td>
        <td>[% datum.outlier %]</td>
      </tr>
      [%- END %]
    </tbody>
  </table>
[% ELSE %]
  <p><em>No off target summaries for this crispr</em></p>
[% END %]

<h2>Crispr Pairs</h2>
[% IF pairs.size %]
  <table class="table table-striped">
    <thead>
      <th>ID</th>
      <th>Left Crispr</th>
      <th>Right Crispr</th>
      <th>Spacer</th>
    </thead>
    <tbody>
      [%- FOR cp IN pairs %]
      <tr>
        <td><a href="[% c.uri_for( '/user/crispr_pair', cp.id , 'view'  ) %]" target="_blank"> [% cp.id %]</a></td>
        <td><a href="[% c.uri_for( '/user/crispr', cp.left_crispr_id , 'view'  ) %]" target="_blank"> [% cp.left_crispr_id %]</a></td>
        <td><a href="[% c.uri_for( '/user/crispr', cp.right_crispr_id , 'view'  ) %]" target="_blank"> [% cp.right_crispr_id %]</a></td>
        <td>[% cp.spacer %]</td>
      </tr>
      [%- END %]
    </tbody>
  </table>
[% ELSE %]
  <p><em>This crispr is not part of a pair</em></p>
[% END %]

<h2>Crispr Groups</h2>
[% IF groups.size %]
  <table class="table table-striped">
    <thead>
      <th>ID</th>
      <th>Group Target</th>
      <th>Num Crisprs</th>
      <th>Crisprs</th>
    </thead>
    <tbody>
      [%- FOR cg IN groups %]
      <tr>
        <td><a href="[% c.uri_for( '/user/crispr_group', cg.id , 'view'  ) %]" target="_blank"> [% cg.id %]</a></td>
        <td>[% cg.gene_id %]</td>
        <td>[% cg.crispr_ids.size %]</td>
        <td>[% cg.crispr_ids.join(', ') %]</td>
      </tr>
      [%- END %]
    </tbody>
  </table>
[% ELSE %]
  <p><em>This crispr is not part of a group</em></p>
[% END %]

<h2>Linked Designs</h2>
[% IF designs.size > 0 %]
  <table class="table">
    <thead>
      <tr>
        <th>Design</th>
      </tr>
    </thead>
    <tbody>
      [%- FOR datum IN designs %]
      <tr>
        <td>
          <a href="[% c.uri_for( '/user/view_design', { design_id => datum.design_id } ) %]">
            [% datum.design_id %]
          </a>
        </td>
      </tr>
      [%- END %]
    </tbody>
  </table>
[% ELSE %]
  <p><em>No designs linked to this crispr</em></p>
[% END %]

<h2>Crispr Primers</h2>
[% IF crispr_data.crispr_primers.size > 0 %]
  <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Sequence</th>
        <th>Locus</th>
        <th>Strand</th>
        <th>Melting Temp (&deg;C)</th>
        <th>GC Content (%)</th>
        <th>Rejected</th>
        <th>Validation State</th>
      </tr>
    </thead>
    <tbody>
      [%- FOR datum IN crispr_data.crispr_primers %]
      <tr>
        <td>[% datum.primer_name %]</td>
        <td>[% datum.primer_seq %]</td>
        <td>[% datum.locus.chr_name %]: [% datum.locus.chr_start %] - [% datum.locus.chr_end %] </td>
        <td>[% datum.locus.chr_strand %]</td>
        <td>[% datum.tm %]</td>
        <td>[% datum.gc_content %]</td>
        [% IF datum.is_rejected %]
            <td> <span class="label label-important pull-right">Rejected</span> </td>
            <td></td>
        [% ELSE %]
            <td></td>
            <td class="validation-state-cell"
                data-validated="[% datum.is_validated %]"
                data-primer-name="[% datum.primer_name %]">
            </td>
        [% END %]
      </tr>
      [%- END %]
    </tbody>
  </table>
[% ELSE %]
  <p><em>No primers linked to this crispr</em></p>
  [% IF c.check_user_roles( 'edit' ) %]
    <p>
    <a class="btn btn-primary" href="[% c.uri_for("/user/crispr/${crispr_data.id}/view/", { generate_primers => 1 }) %]">Generate Primers</a>
    <small>this action may take a few minutes</small>
    </p>
  [% END %]
[% END %]

<h2>Crispr Wells</h2>
[% IF wells.size > 0 %]
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Well Name</th>
        <th>Plate Name</th>
        <th>Well</th>
      </tr>
    </thead>
    <thead>
      [%- FOR well IN wells %]
      <tr>
        <td>[% well.plate_name %]_[% well.well_name %]</td>
        <td><a href="[% c.uri_for( '/user/view_plate', { name => well.plate_name } ) %]"> [% well.plate_name %]</a></td>
        <td>[% well.well_name %]</td>
      </tr>
      [% END %]
    </thead>
    <tbody>
[% ELSE %]
  <p><em>No CRISPR wells with this crispr</em></p>
[% END %]

[% IF crispr_data.off_targets.size > 0 %]
<h2>Crispr Off Targets</h2>
<p class="text-warning">We only show off targets loaded in LIMS2, which may not be all the off targets.
Typically only off targets with 3 or less mismatches are stored</p>
  <table class='table' id='offtarget_table'>
    <thead>
      <tr>
        <th>Off Target Crispr ID</th>
        <th>Number of Mismatches</th>
        <th>Sequence</th>
        <th>Type</th>
        <th>Location</th>
        <th>BLAT</th>
      </tr>
    </thead>
    <tbody>
      <tr class = "info ots">
        <td>Original Crispr</td>
        <td>0</td>
        <td class="seq">[% crispr_data.fwd_seq %]</td>
        <td>[% crispr_data.type %]</td>
        <td> [% crispr_data.locus.chr_name %]:[% crispr_data.locus.chr_start %]-[% crispr_data.locus.chr_end %] </td>
        <td><a href="[% c.uri_for( '/user/crispr' , crispr_data.id ,'blat' ) %]" target="_blank" class="btn btn-xs btn-primary">UCSC BLAT</a></td>
      </tr>
      [%- FOR datum IN crispr_data.off_targets %]
      <tr class="ots">
        <td><a href="[% c.uri_for( '/user/crispr' , datum.off_target_crispr_id, 'view' ) %]" target="_blank">[% datum.off_target_crispr_id %]</a></td>
        <td>[% datum.mismatches %]</td>
        <td class="seq">[% datum.ot_crispr.fwd_seq %]</td>
        <td>[% datum.ot_crispr.type %]</td>
        <td> [% datum.ot_crispr.locus.chr_name %]:[% datum.ot_crispr.locus.chr_start %]-[% datum.ot_crispr.locus.chr_end %] </td>
        <td><a href="[% c.uri_for( '/user/crispr' , datum.off_target_crispr_id ,'blat' ) %]" target="_blank" class="btn btn-xs btn-primary">UCSC BLAT</a></td>
      </tr>
      [%- END %]
    </tbody>
  </table>
[% END %]

<script type="text/javascript">
  $(document).ready(function() {
    document.title = 'Crispr: [% crispr_data.id %]';
  });
</script>
