[% META title="View Crispr Pair"; META tab_name = 'Designs' %]

<div class="page-header">
  <h1>Crispr Pair <small> [% cp.id %]</small></h1>
</div>

<div class="row">
  <table class="table table-bordered">
    <tr><th>ID</th> <td>[% cp.id %]</td></tr>
    <tr><th>Spacer</th> <td>[% cp.spacer %]</td></tr>
    <tr><th>Species</th> <td>[% cp.left_crispr.species_id %]</td></tr>
  </table>
</div>

<a href="[% c.uri_for( '/user/crispr_pair' , cp.id ,'blat' ) %]" target="_blank" class="btn btn-primary">UCSC BLAT</a>

<div class="row">
  <div class="span4 offset1">
    <h3>Left Crispr</h3>
    <table class="table table-bordered">
      <tr>
      <th>ID</th>
        <td>
        <a href="[% c.uri_for( '/user/crispr' , left_crispr.id , 'view' ) %]" target="_blank">
          [% left_crispr.id %]
        </a>
        </td>
      </tr>
      <tr><th>Sequence</th> <td>[% left_crispr.seq %]</td></tr>
      <tr><th>Chromosome</th> <td>[% left_crispr.locus.chr_name %]</td></tr>
      <tr><th>Start</th> <td>[% left_crispr.locus.chr_start %]</td></tr>
      <tr><th>End</th> <td>[% left_crispr.locus.chr_end %]</td></tr>
      <tr><th>Strand</th> <td>[% left_crispr.locus.chr_strand %]</td></tr>
    </table>
  </div>

  <div class="span4 offset2">
    <h3>Right Crispr</h3>
    <table class="table table-bordered">
      <tr>
      <th>ID</th>
        <td>
        <a href="[% c.uri_for( '/user/crispr' , right_crispr.id , 'view' ) %]" target="_blank">
          [% right_crispr.id %]
        </a>
        </td>
      </tr>
      <tr><th>Sequence</th> <td>[% right_crispr.seq %]</td></tr>
      <tr><th>Chromosome</th> <td>[% right_crispr.locus.chr_name %]</td></tr>
      <tr><th>Start</th> <td>[% right_crispr.locus.chr_start %]</td></tr>
      <tr><th>End</th> <td>[% right_crispr.locus.chr_end %]</td></tr>
      <tr><th>Strand</th> <td>[% right_crispr.locus.chr_strand %]</td></tr>
    </table>
  </div>
</div>

<h2>Off Target Summary</h2>
[% IF ots %]
  <table class="table">
  [% FOR key IN ots.keys %]
    <tr><th>[% key %]</th> <td>[% ots.$key %]</td></tr>
  [% END %]
  </table>
[% END %]

<h2>Linked Designs</h2>
[% IF designs.size > 0 %]
  <table class="table">
    <thead>
      <tr>
        <th>Design</th>
      </tr>
    </thead>
    <tbody>
      [%- FOR datum IN designs %]
      <tr>
        <td>
          <a href="[% c.uri_for( '/user/view_design', { design_id => datum.design_id } ) %]">
            [% datum.design_id %]
          </a>
        </td>
      </tr>
      [%- END %]
    </tbody>
  </table>
[% ELSE %]
  <p><em>No designs linked to this crispr</em></p>
[% END %]

<h2>Crispr Primers</h2>
[% IF crispr_primers.size > 0 %]
  <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Sequence</th>
        <th>Locus</th>
        <th>Strand</th>
        <th>Melting Temp (&deg;C)</th>
        <th>GC Content (%)</th>
        <th>Rejected</th>
        <th>Validation State</th>
      </tr>
    </thead>
    <tbody>
      [%- FOR datum IN crispr_primers %]
      <tr>
        <td> [% datum.primer_name %] </td>
        <td> [% datum.primer_seq %] </td>
        <td>[% datum.locus.chr_name %]: [% datum.locus.chr_start %] - [% datum.locus.chr_end %] </td>
        <td>[% datum.locus.chr_strand %]</td>
        <td>[% datum.tm %]</td>
        <td>[% datum.gc_content %]</td>
        [% IF datum.is_rejected %]
            <td> <span class="label label-important pull-right">Rejected</span> </td>
            <td></td>
        [% ELSE %]
            <td></td>
            <td class="validation-state-cell"
                data-validated="[% datum.is_validated %]"
                data-primer-name="[% datum.primer_name %]">
            </td>
        [% END %]
      </tr>
      [%- END %]
    </tbody>
  </table>
[% ELSE %]
  <p><em>No primers linked to this crispr pair</em></p>
[% END %]

<script language="javascript" type="text/javascript" src="[% c.uri_for( '/static/js/primer_validation_state.js' ) %]"></script>
<script type="text/javascript">

  $(document).ready(function() {
    $(".validation-state-cell").each(function(){
      //(cell, api_url, object_id_param, object_id, primer_type, is_validated)
      addPrimerValidationState(
        $(this),
        "[% c.uri_for('/user/toggle_crispr_primer_validation_state') %]",
        'crispr_key',
        '[% cp.id %]' + '(crispr_pair)',
        $(this).data('primer-name'),
        $(this).data('validated')
      );
    });
  })

</script>
