[% META title="View Crispr"; META tab_name = 'Designs' %]

<div class="page-header">
  <h1>Crispr <small> [% crispr_data.id %]</small></h1>
</div>

<table class="table table-bordered">
  <tr><th>ID</th> <td>[% crispr_data.id %]</td></tr>
  <tr><th>Sequence</th> <td>[% crispr_data.seq %]</td></tr>
  <tr><th>Species</th> <td>[% crispr_data.species %]</td></tr>
  <tr><th>Chromosome</th> <td>[% crispr_data.locus.chr_name %]</td></tr>
  <tr><th>Start</th> <td>[% crispr_data.locus.chr_start %]</td></tr>
  <tr><th>End</th> <td>[% crispr_data.locus.chr_end %]</td></tr>
  <tr><th>Strand</th> <td>[% crispr_data.locus.chr_strand %]</td></tr>
  <tr><th>Location Type</th> <td>[% crispr_data.type %]</td></tr>
  <tr><th>PAM Right</th> <td>[% crispr_data.pam_right %]</td></tr>
  <tr><th>WGE ID</th> <td>[% crispr_data.wge_crispr_id %]</td></tr>
  <tr><th>Comment</th> <td>[% crispr_data.comment %]</td></tr>
  [% IF crispr_data.nonsense_crispr_original_crispr_id %]
      <tr><th>Nonsense Crispr ( Linked with crispr )</th>
      <td> <a href="[% c.uri_for( '/user/crispr', crispr_data.nonsense_crispr_original_crispr_id , 'view' ) %]">[% crispr_data.nonsense_crispr_original_crispr_id %]</a></td>
    </tr>
  [% END %]
  [% IF linked_nonsense_crisprs.size > 0 %]
      <tr><th>Linked Nonsense Crisprs</th>
      <td>
      [% FOR crispr IN linked_nonsense_crisprs %]
        <a href="[% c.uri_for( '/user/crispr', crispr.id, 'view' ) %]">[% crispr.id %]</a>
      [% END %]
      </td>
      </tr>
  [% END %]
</table>

<a href="[% c.uri_for( '/user/crispr' , crispr_data.id ,'blat' ) %]" target="_blank" class="btn btn-primary">UCSC BLAT</a>

<h2>Off Target Summaries</h2>
[% IF ots.size > 0 %]
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Summary</th>
        <th>Algorithm</th>
        <th>Outlier</th>
      </tr>
    </thead>
    <tbody>
      [%- FOR datum IN ots %]
      <tr>
        <td>
          [% IF datum.summary %]
            <table class="table table-condensed table-bordered">
            [% FOR key IN datum.summary.keys.sort %]
              <tr>

                <td>[% IF key.match('^\d$') %]Off Targets with <span class="badge">[% key %]</span> mismatches[% ELSE %][% key %][% END %]</td>
                <td>[% datum.summary.$key %]</td>
              </tr>
            [% END %]
            </table>
          [% END %]
        </td>
        <td>[% datum.algorithm %]</td>
        <td>[% datum.outlier %]</td>
      </tr>
      [%- END %]
    </tbody>
  </table>
[% ELSE %]
  <p><em>No off target summaries for this crispr</em></p>
[% END %]

<h2>Off Targets</h2>
[% IF crispr_data.off_targets.size > 0 %]
  <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Chromosome</th>
        <th>Start</th>
        <th>End</th>
        <th>Strand</th>
        <th>Algorithm</th>
      </tr>
    </thead>
    <tbody>
      [%- FOR datum IN crispr_data.off_targets %]
      <tr>
        <td>[% datum.type %]</td>
        <td>[% datum.chromosome %]</td>
        <td>[% datum.chr_start %]</td>
        <td>[% datum.chr_end %]</td>
        <td>[% datum.chr_strand %]</td>
        <td>[% datum.algorithm %]</td>
      </tr>
      [%- END %]
    </tbody>
  </table>
[% ELSE %]
  <p><em>No off targets for this crispr</em></p>
[% END %]

<h2>Linked Designs</h2>
[% IF designs.size > 0 %]
  <table class="table">
    <thead>
      <tr>
        <th>Design</th>
      </tr>
    </thead>
    <tbody>
      [%- FOR datum IN designs %]
      <tr>
        <td>
          <a href="[% c.uri_for( '/user/view_design', { design_id => datum.design_id } ) %]">
            [% datum.design_id %]
          </a>
        </td>
      </tr>
      [%- END %]
    </tbody>
  </table>
[% ELSE %]
  <p><em>No designs linked to this crispr</em></p>
[% END %]

<h2>Crispr Primers</h2>
[% IF crispr_data.crispr_primers.size > 0 %]
  <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Sequence</th>
        <th>Locus</th>
        <th>Strand</th>
        <th>Melting Temp (&deg;C)</th>
        <th>GC Content (%)</th>
        <th>Validation State</th>
      </tr>
    </thead>
    <tbody>
      [%- FOR datum IN crispr_data.crispr_primers %]
      <tr>
        <td>[% datum.primer_name %]</td>
        <td>[% datum.primer_seq %]</td>
        <td>[% datum.locus.chr_name %]: [% datum.locus.chr_start %] - [% datum.locus.chr_end %] </td>
        <td>[% datum.locus.chr_strand %]</td>
        <td>[% datum.tm %]</td>
        <td>[% datum.gc_content %]</td>
        <td class="validation-state-cell"
            data-validated="[% datum.is_validated %]"
            data-primer-name="[% datum.primer_name %]">
        </td>
      </tr>
      [%- END %]
    </tbody>
  </table>
[% ELSE %]
  <p><em>No primers linked to this crispr</em></p>
[% END %]

<script language="javascript" type="text/javascript" src="[% c.uri_for( '/static/js/primer_validation_state.js' ) %]"></script>
<script type="text/javascript">

  $(document).ready(function() {
    $(".validation-state-cell").each(function(){
      //(cell, api_url, object_id_param, object_id, primer_type, is_validated)
      addPrimerValidationState(
        $(this),
        "[% c.uri_for('/user/toggle_crispr_primer_validation_state') %]",
        'crispr_key',
        '[% crispr_data.id %]' + '(crispr)',
        $(this).data('primer-name'),
        $(this).data('validated')
      );
    });
  })

</script>
