[% META title = "WGE Crispr Importer"; META tab_name = "Crisprs" %]

<form method="POST" action="[% c.uri_for( '/user/wge_crispr_importer' ) %]" class="well form-inline" >
    <legend>WGE Crispr Importer</legend>
    <textarea class="input-xxlarge" name="wge_crispr_id" placeholder="WGE crispr id"></textarea>
    <span class="help-block">
      More than one crispr pair can be imported if provided a list of WGE crispr pair ids separated by whitespace or commas.
    </span>
    <br />
    <input type="submit" name="import_crispr" class="btn btn-primary" value="Import Crispr" />
    This may take a few minutes to generate the primers.
</form>

[% IF crispr %]
<div class="well">
  <legend>View Imported Crisprs</legend>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>WGE Crispr ID</th>
          <th>LIMS2 Crispr ID</th>
        </tr>
      </thead>
      <tbody>
      [% FOREACH id IN crispr %]
        <tr>
          <td>[% id.wge_id %]</td>
          <td><a class="brand" href="[% c.uri_for('/user/crispr', id.lims2_id, 'view' ) %]">[% id.lims2_id %]</a></td>
        </tr>
      [% END %]
      </tbody>
    </table>
</div>
[% END %]
