[% META title = "WGE Crispr Importer"; META tab_name = "Crisprs" %]

<form method="POST" action="[% c.uri_for( '/user/wge_crispr_importer' ) %]" class="well">

    <legend>WGE Crispr Importer</legend>
    
    <input type="text" name="wge_cripr_id" placeholder="WGE crispr id">
    <input type="submit" name="import_crispr" class="btn btn-primary" value="Import Crispr" />

</form>

[% IF crispr_id %]
  <form method="POST" action="[% c.uri_for('/user/crispr', crispr_id, 'view' ) %]">
    <fieldset>
    <legend>View Imported Crispr</legend>
    <input type="text" name="crispr_id" placeholder="crispr_id" value="[% crispr_id %]" readonly />
    <input type="submit" name="action" class="btn btn-primary" value="View Crispr">
    </fieldset>
  </form>
[% END %]