[% META title="Crispr ES Cell QC"; META tab_name = 'QC' %]

<style type="text/css"> 
.label-as-badge {
    border-radius: 1em;
}
</style>

<form method="GET" class="well form-inline">
  <fieldset>
    <legend>Filter QC Runs</legend>
    <label for="plate_name">Plate Name: </label>
    <input name="plate_name" id="plate_name" type="text" value="[% plate_name %]" autocomplete="off" />
    <label for="sequencing_project">Sequencing Project: </label>
    <input name="sequencing_project" id="sequencing_project" type="text" value="[% sequencing_project %]" autocomplete="off" />
    <button name="filter" id="filter" type="submit" value="Filter" class="btn btn-primary"><i class="glyphicon glyphicon-filter"></i> Filter</button>
    <button name="show_all" id="show_all" type="submit" value="Show All" class="btn btn-info"><i class="glyphicon glyphicon-list-alt"></i> Show All</button>
  </fieldset>
</form>

[%- INCLUDE 'pagination.tt' pageset = pageset %]

<table class="table table-striped">
    <thead>
        <tr>
            <th>QC Run ID</th>
            <th>Plate Name</th>
            <th>Sequencing Project</th>
            <th>Validated</th>
            <th>Created By</th>
            <th>Created At</th>
            <th>Sub Project</th>
        </tr>
    </thead>
    <tbody>
        [% FOR run IN runs %]
        <tr>
            <td><a href="[% c.uri_for('es_qc_run', run.id) %]">[% run.id.substr(0, 8) %]</a></td>
            <td><a href="[% c.uri_for('/user/view_plate', { name => run.plate_name}) %]">[% run.plate_name %]</a></dt>
            <td>[% run.sequencing_project %]</td>
            <td>
                [% IF run.validated %]
                     <span class="label label-success label-as-badge"><i class="glyphicon glyphicon-ok"></i></span>
                [% END %]
            </td>
            <td>[% run.created_by %]</td>
            <td>[% run.created_at %]</td>
            <td>[% run.sub_project %]</td>
        </tr>
        [% END %]
        [% IF runs.size == 0 %]
        <tr>
            <td colspan="7">No runs available for this search</td>
        </tr>
        [% END %]
    </tbody>
</table>
