[% META title="Crispr ES Cell QC"; META tab_name = 'QC' %]

<table class="table table-striped">
    <thead>
        <tr>
            <th>QC Run ID</th>
            <th>Plate Name</th>
            <th>Sequencing Project</th>
            <th>Validated</th>
            <th>Created By</th>
            <th>Created At</th>
            <th>Sub Project</th>
        </tr>
    </thead>
    <tbody>
        [% FOR run IN runs %]
        <tr>
            <td><a href="[% c.uri_for('es_qc_run', run.id) %]">[% run.id.substr(0, 8) %]</a></td>
            <td>[% run.plate_name %]</dt>
            <td>[% run.sequencing_project %]</td>
            <td>
                [% IF run.validated %]
                     <span class="badge badge-success"><i class="icon-ok icon-white"></i></span>
                [% END %]
            </td>
            <td>[% run.created_by %]</td>
            <td>[% run.created_at %]</td>
            <td>[% run.sub_project %]</td>
        </tr>
        [% END %]
        [% IF runs.size == 0 %]
        <tr>
            <td colspan="5">No runs available for this species yet</td>
        </tr>
        [% END %]
    </tbody>
</table>
