[%- META title = 'Submit Crispr QC Job'; META tab_name = 'QC' %]

<div class="page-header">
  <h1>Submit Crispr ES QC Job</h1>
</div>

<div class="form-horizontal">

  <div class="col-md-6 col-md-offset-3">
    <form method="POST" id="submit_new_qc" action="[% c.uri_for( '/user/crisprqc/submit_qc_run' ) %]" class="form well"  enctype="multipart/form-data" >

    <div class="form-group">
      <label class="col-md-7 form-label" for="plate_name">Plate Name</label>
      <div class="col-md-7">
        <input name="plate_name" class="form-control" id="plate_name" type="text"
          [% IF plate_name %]value="[% plate_name %]"[% END %] />
      </div>
    </div>

    <div class="form-group hidden" id="allele_select">
      <label class="col-md-7 form-label" for="allele_number">Which Allele?</label>
      <div class="radio col-md-7">
        <label>
          <input name="allele_number" id="allele_number" type="radio" value="1" [% IF allele_number == 1 %]checked[% END %]>First
        </label>
      </div>
      <div class="radio col-md-7">
        <label>
          <input name="allele_number" id="allele_number" type="radio" value="2" [% IF allele_number == 2 %]checked[% END %]>Second
        </label>
      </div>
    </div>


    <div class="form-group">
      <label class="col-md-7 form-label" for="sequencing_project">Sequencing Project</label>
      <div class="col-md-7">
          <input name="sequencing_project" class="form-control" id="sequencing_project" type="text"
            [% IF sequencing_project %]value="[% sequencing_project %]"[% END %] />
      </div>
    </div>

    <div class="form-group">
      <label class="form-label col-md-7" for="sequencing_sub_project">Sequencing Sub Project</label>
      <div class="col-md-7">
        <select name="sequencing_sub_project" class="form-control" id="sequencing_sub_project" type="text">
          [% IF sequencing_sub_project %]<option>[% sequencing_sub_project %]</option>[% END %]
        </select>

        <!-- <input name="sequencing_sub_project" id="sequencing_sub_project" type="text"
            [% IF sequencing_sub_project %]value="[% sequencing_sub_project %]"[% END %] /> -->
      </div>
    </div>

    <div class="form-group" id="primer_group">
      <label class="col-md-7 form-label" for="primer_names">Valid primers</label>
      <div class="col-md-7">
        <input name="primer_names" class="form-control" id="primer_names" type="text" disabled="disabled" value="" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-7 form-label" for="forward_primer_name">Forward Primer Name</label>
      <div class="col-md-7">
          <input name="forward_primer_name" class="form-control" id="forward_primer_name" type="text"
              value=[% IF reverse_primer_name %]"[% forward_primer_name %]"[% ELSE %]"SF1"[% END %] />
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-7 form-label" for="reverse_primer_name">Reverse Primer Name</label>
      <div class="col-md-7">
          <input name="reverse_primer_name" class="form-control" id="reverse_primer_name" type="text"
              value=[% IF reverse_primer_name %]"[% reverse_primer_name %]"[% ELSE %]"SR1"[% END %] />
      </div>
    </div>


    <div class="form-group">
      <div class="col-md-7">
      <button name="submit_crispr_es_qc" id="submit_crispr_es_qc" type="submit" value="submit_crispr_es_qc" class="btn btn-primary">
        <i class="glyphicon glyphicon-upload"></i> Submit Crispr ES QC
      </button>
      </div>
    </div>

    </form>
  </div>

</div>

<script type="text/javascript" charset="utf-8">
//Object.keys support for IE6/7/8
if ( ! Object.keys ) {
  Object.keys = function (obj) {
    var op, result = [];
    for (op in obj)
      if ( obj.hasOwnProperty(op) ) result.push(op)

    return result;
  }
}

  function show_hide_allele_select(plate_name){
    $.getJSON(
      '[% c.uri_for("/api/plate") %]' + "?name=" + plate_name,
      function (data){
        console.log(data);
        if(data.type == 'S_PIQ'){
          $("#allele_select").removeClass('hidden');
        }
        else{
          $("#allele_select").addClass('hidden');
        }
      }
    );
  }

$(document).ready(function() {

  var exisiting_plate_name = $("#plate_name").val();
  if(exisiting_plate_name){
    show_hide_allele_select(exisiting_plate_name);
  }

  $("#plate_name").autocomplete({
    source: "[% c.uri_for( '/api/autocomplete/plate_names' ) %]",
    minLength: 2,
    select: function (event, ui){
      show_hide_allele_select(ui.item.value);
    }
   });

  $("#sequencing_project").autocomplete({
    autoFocus: true,
    source: "[% c.uri_for( '/api/autocomplete/badger_seq_projects' ) %]",
    minLength: 5,
    select: function (event, ui) {
     $.getJSON(
       '[% c.uri_for( "/api/autocomplete/seq_read_names" ) %]',
       { term: ui.item.value },
       function (data) {
         console.log(data);

         $("#sequencing_sub_project").empty();

          var plates;

          var sorted_keys = Object.keys(data).sort();

          for (var i = 0; i < sorted_keys.length; i++) {
            var sub_project = sorted_keys[i];

            var opt = $("<option>", { value: sub_project, text: sub_project });
            //store primer information in the option
            opt.data(data[sub_project]);
            opt.appendTo( $("#sequencing_sub_project") );
          }

          //trigger primer names update
          $("#sequencing_sub_project").change();
       }
     );
    }
  });

  $("#sequencing_sub_project").change(function() {
    var primer_data = $("#sequencing_sub_project option:selected").data();
    console.log(primer_data);

    if ( primer_data ) {
      var names = Object.keys(primer_data);

      var primers = [];
      for ( var i = 0; i < names.length; i++ ) {
        var name = names[i];

        primers.push(name + " (" + primer_data[name] + ")");

      }

      $("#primer_names").val( primers.join(", ") );
    }
    else {
      $("#primer_names").val("");
    }
  });
});

</script>
