[%- META title = "Summary Report" %]
<SCRIPT LANGUAGE = JavaScript >
document.title = "[%- sponsor_id %]";
</SCRIPT>


<span style="float:right">
  <a id='expand' type='button' class='btn btn-info btn-sm' onclick=displayAll();><i class="glyphicon glyphicon-resize-small"></i><b> Collapse all</b></a>

  [%- IF type == 'full' %]
  <a id='type_simple' type='button' class='btn btn-info btn-sm'
  href=[%- c.uri_for( '/public_reports/sponsor_report', disp_target_type.replace('-', '_' ), sponsor_id, disp_stage,
    {
        cache_param => cache_param,
        type => 'simple'
    }
  ) %]><i class="glyphicon glyphicon-zoom-out"></i><b> Simple Report</b></a>
  [%- ELSIF type == 'simple' %]
  <a id='type_full' type='button' class='btn btn-info btn-sm'
  href=[%- c.uri_for( '/public_reports/sponsor_report', disp_target_type.replace('-', '_' ), sponsor_id, disp_stage,
    {
        cache_param => cache_param,
        type => 'full'
    }
  ) %]><i class="glyphicon glyphicon-zoom-in"></i><b> Show Numbers</b></a>
  [%- END %]
  <a id='csv_download' type='button' class='btn btn-primary btn-sm' target="_blank"
  href=[%- c.uri_for( '/public_reports/sponsor_report', disp_target_type.replace('-', '_' ), sponsor_id, disp_stage,
    {
        csv => 1
    }
  ) %]><i class="glyphicon glyphicon-download-alt"></i><b> Download CSV</b></a>
  <a id='xlsx_download' type='button' class='btn btn-primary btn-sm' target="_blank"
  href=[%- c.uri_for( '/public_reports/sponsor_report', disp_target_type.replace('-', '_' ), sponsor_id, disp_stage,
    {
        xlsx => 1
    }
  ) %]><i class="glyphicon glyphicon-download-alt"></i><b> Download XLSX</b></a>
</span>
</span>
<div class="page-header">
  <h2>Sponsor Progress Sub-Report on [% date %]</h2>
</div>
<p>
<big><b>[%- disp_stage %]</b> for <b>[%- disp_target_type %]</b> projects for sponsor <b>[%- sponsor_id %]</b></big>
</p>

[%- IF report_id %]

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      [%- FOR disp_col IN display_columns %]
        [%- IF disp_col == "PCR-passing design oligos" || disp_col == "info" %]
          [%- IF c.user %]
            <th>[%- disp_col %]</th>
          [%- END %]
        [%- ELSIF disp_col == '# colonies'           ||
                  disp_col == '# wt clones'          ||
                  disp_col == '# mosaic clones'      ||
                  disp_col == '# in-frame clones'    ||
                  disp_col == '# frame-shift clones' ||
                  disp_col == '# no-call clones' %]
            <th>[%- disp_col %]</th>
        [%- ELSE %]
            <th>[%- disp_col %]</th>
        [%- END %]
      [%- END %]
    </tr>
  </thead>
  <tbody>
    [%- FOREACH row IN data %]
        <tr class="info">
      [%- FOREACH col IN columns %]
        [%- colval = row.item(col) %]

        [%- IF col == "final_qc_seq_pass" || col == "final_pick_qc_seq_pass" || col == "dna_status_pass" %]
          [%-IF colval == "1" %]
            <td style="color:green">pass</td>
          [%- ELSIF colval == "0" %]
            <td style="color:red">fail</td>
          [%- ELSE %]
            <td style="color:orange">----</td>
          [%- END %]
        [%- ELSIF col == "cassette_promotor" || col == "neo_p" || col == "neo_pl" || col == "bsd_p" || col == "bsd_pl" %]
          [%- IF colval == "1" %]
            <td style="color:green">yes</td>
          [%- ELSIF colval == "0" %]
            <td style="color:red">no</td>
          [%- ELSE %]
            <td style="color:orange">---</td>
          [%- END %]
        [%- ELSIF col == "gene_id" %]

              [%- IF c.session.selected_species == 'Human' %]
                <td><a class="brand" href="http://www.genenames.org/cgi-bin/gene_symbol_report?hgnc_id=[%- colval %]">[%- colval %]</a></td>
              [%- ELSIF c.session.selected_species == 'Mouse' %]
                <td><a class="brand" href="http://www.informatics.jax.org/marker/[%- colval %]">[%- colval %]</a></td>
              [%- END %]

        [%- ELSIF col == "gene_symbol" %]
            [%- IF c.user %]
                <td><a class="brand" href="[%- c.uri_for('/user/report/gene/', { gene_id => row.item('gene_id') } ) %]">[%- colval %]</a></td>
            [%- ELSE %]
                <td>[%- colval %]</td>
            [%- END %]
        [%- ELSIF col == "sponsors" %]
            <td>[%- colval %]</td>
        [%- ELSIF col == "chr" %]
            <td>[%- colval %]</td>
        [%- ELSIF col == 'vector_pcr_passes' %]
            [%- IF c.user %]
              [%- IF colval %]
              <td style="background:#E5E4E2" >[%- colval %]</td>
              [%- ELSE %]
              <td></td>
              [%- END %]
            [%- END %]
        [%- ELSIF col == 'recovery_class' %]
            [%- IF c.user %]
              [%- IF row.item('fs_count') && row.item('effort_concluded') %]
                <td style="background:#8AD95A;white-space:nowrap">[%- colval %]</td>
              [%- ELSIF row.item('effort_concluded') %]
                <td style="background:#FF4646;white-space:nowrap">[%- colval %]</td>
              [%- ELSIF colval != '-' %]
                <td style="background:#E5E4E2;white-space:nowrap">[%- colval %]</td>
              [%- ELSE %]
                <td>[%- colval %]</td>
              [%- END %]
            [%- END %]

        [%- ELSIF col == 'priority' %]
            [%- IF colval == 'high' %]
              <td><font color='#FF4646'>[%- colval %]</font></td>
            [%- ELSIF colval == 'medium' %]
              <td><font color='#FFA500'>[%- colval %]</font></td>
            [%- ELSIF colval == 'low' %]
              <td><font color='#8AD95A'>[%- colval %]</font></td>
            [%- ELSE %]
              <td>[%- colval %]</td>
            [%- END %]

        [%- ELSIF col == 'targeted_clones' %]
          [%- IF row.item('targeted_clones') && ( row.item('fs_count') || row.item('ep_pick_het') ) %]
            <td style="background:#8AD95A"><a class="brand" href="[%- c.uri_for('/public_reports/gene_report', row.item('gene_id') ) %]">[%- colval %]</a></td>
          [%- ELSIF row.item('targeted_clones') && row.item('effort_concluded') %]
            <td style="background:#999999"><a class="brand" href="[%- c.uri_for('/public_reports/gene_report', row.item('gene_id') ) %]">[%- colval %]</a></td>

          [%- ELSIF row.item('targeted_clones') && row.item('chr') == "X" %]
            <td style="background:#FFA500"><a class="brand" href="[%- c.uri_for('/public_reports/gene_report', row.item('gene_id') ) %]">[%- colval %]</a></td>
          [%- ELSIF row.item('targeted_clones') %]
            <td style="background:#FF4646"><a class="brand" href="[%- c.uri_for('/public_reports/gene_report', row.item('gene_id') ) %]">[%- colval %]</a></td>
          [%- ELSE %]
            <td></td>
          [%- END %]
        [%- ELSIF col == 'fs_count'
               || col == 'if_count'
               || col == 'wt_count'
               || col == 'ms_count'
               || col == 'nc_count'
               || col == 'ep_pick_het'
                %]

            [%- IF row.item('targeted_clones') %]
              <td style="background:#E5E4E2" >[%- colval %]</td>
            [%- ELSE %]
              <td></td>
            [%- END %]
        [%- ELSIF !colval %]
            <td></td>
        [%- ELSIF col == 'passing_vector_wells'  && !row.item('targeted_clones') && row.item('effort_concluded')  %]
          <td style="background:#999999">[%- colval %]</td>
        [%- ELSIF col == 'accepted_crispr_vector'  && !row.item('passing_vector_wells') && !row.item('targeted_clones') && row.item('effort_concluded')  %]
          <td style="background:#999999">[%- colval %]</td>
        [%- ELSIF col == 'passing_vector_wells'
               || col == 'accepted_crispr_vector'
                  %]
          <td style="background:#8AD95A">[%- colval %]</td>
        [%- ELSIF col == 'distrib_clones' %]
          <td style="background:#8AD95A"><a class="brand" href="[%- c.uri_for('/public_reports/gene_report', row.item('gene_id'), { 'type' => 'distributable' } ) %]">[%- colval %]</a></td>
        [%- ELSIF col == 'crispr_pairs'
               || col == 'vector_designs'
               || col == 'vector_wells'
               || col == 'targeting_vector_wells'
               || col == 'accepted_vector_wells'

               || col == 'colonies_picked'
               || col == 'crispr_wells'
               || col == 'crispr_vector_wells'
               || col == 'crispr_dna_wells'
               || col == 'accepted_crispr_dna_wells'

               || col == 'total_colonies'
               || col == 'effort_concluded'
                  %]
          <td style="background:#E5E4E2">[%- colval %]</td>
        [%- ELSIF col == 'electroporations' %]
          <td style="background:#E5E4E2">[%- colval %]</td>
        [%- ELSIF col == "DNA_source_cell_line"
               || col == "EP_cell_line"
               || col == "experiment_ID"
               || col == "requester" %]
            <td><a onclick="displayRow('[%- row.item('gene_symbol') %]')"><span class="exp [% row.item('gene_symbol') %] glyphicon glyphicon-minus"></span></a></td>
        [%- ELSIF col == "ep_data" %]

          [%- IF row.item('ep_data').0 %]
          </tbody>
          <tbody id="[%- row.item('gene_symbol') %]" class="gene_row" style="display:none">
                [%- FOREACH ep_data IN row.item('ep_data') %]
                  [% FOREACH vector_dna IN ep_data.item('dna_template') %]
                    <tr class="sub_info">
                      <td>[%- row.item('gene_id') %]</td>
                      <td>[%- row.item('gene_symbol') %]</td>
                      <td>[%- row.item('chromosome') %]</td>
                      <td>[%- row.item('sponsors') %]</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    [%- IF c.user %]
                      <td></td>
                    [%- END %]
                      <td>[%- vector_dna %]</td>
                      <td>[%- ep_data.item('cell_line') %]</td>
                      <td>
                        [% FOREACH exp IN ep_data.item('experiment') %]
                          <a class="brand" href="[%- c.uri_for('/user/view_experiment', { experiment_id => exp } ) %]">[%- exp %]</a>
                        [% END %]
                      </td>
                      <td>[%- ep_data.item('requester') %]</td>
                      <!-- <td>[%- ep_data.item('total_colonies') %]</td> -->
                      <td>[%- ep_data.item('ep_pick_count') %]</td>
                      <td>[%- ep_data.item('ep_pick_pass_count') %]</td>
                      <td>[%- ep_data.item('frameshift') %]</td>
                      <td>[%- ep_data.item('in-frame') %]</td>
                      <td>[%- ep_data.item('wild_type') %]</td>
                      <td>[%- ep_data.item('mosaic') %]</td>
                      <td>[%- ep_data.item('no-call') %]</td>
                      <td>[%- ep_data.item('het') %]</td>
                      <td>[%- ep_data.item('distributable') %]</td>
                      <td></td>
                    [%- IF c.user %]
                      <td></td>
                    [%- END %]
                    </tr>

                  [%- END %]
                [%- END %]
          </tbody>
          <tbody>
          [%- END %]

        [%- ELSE %]
          <td>[%- colval %]</td>
        [%- END %]

      [%- END %]
        </tr>
    [%- END %]
  </tbody>
</table>

[%- ELSE %]
<h3>Error: No rows found for this report!</h3>
[%- END %]


<script type="text/javascript">
$(document).ready(function() {
    $('.gene_row').each(function(ele) {
        $('.gene_row')[ele].style.display = '';
    });
});

function displayAll() {
    var start = performance.now();
    var state = '';
    if ($('#expand').text() == ' Collapse all') {
        state = 'none';
        $('#expand').html("<i class='glyphicon glyphicon-resize-full'></i><b> Expand all</b></a>");
    } else {
        $('#expand').html("<i class='glyphicon glyphicon-resize-small'></i><b> Collapse all</b></a>");
    }
    var rows = document.getElementsByClassName('gene_row');
    for (var row = 0; row < rows.length; row++) {
        rows[row].style.display = state;
    }
    $('.exp').each(function() {
        if (state == 'none') {
            $(this).removeClass("glyphicon-minus").addClass("glyphicon-plus");
        } else {
            $(this).removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }
    });
    var end = performance.now();
    var time = end - start;
    console.log("Execution time: " + time);
}

function displayRow( my_id ){
    var row = document.getElementById(my_id);
    if (row.style.display == '') {
        row.style.display = 'none';
        $('.'+ my_id).removeClass("glyphicon-minus").addClass("glyphicon-plus");
    }
    else {
        row.style.display = '';
        $('.'+ my_id).removeClass("glyphicon-plus").addClass("glyphicon-minus");
    }
}

</script>



