[%- META title = "Sponsor Report"; META tab_name = "Genes" %]

<div style="width:100%">

<span style="float:right">

[%- IF targeting_type == "single_targeted" && species == 'Mouse' %]
  <a class="btn btn-sm btn-primary" href="[%- c.uri_for( "/public_reports/sponsor_report/double_targeted", {species => 'Mouse'} ) %]"><i class="glyphicon glyphicon-list-alt"></i><b> Show double-targeted</b></a>
[%- ELSIF targeting_type == "double_targeted" %]
  <a class="btn btn-sm btn-primary" href="[%- c.uri_for( "/public_reports/sponsor_report/single_targeted", {species => 'Mouse'} ) %]"><i class="glyphicon glyphicon-list-alt"></i><b> Show single-targeted</b></a>
[%- END %]

[%- IF c.user %]
    [%- IF cache_param == 'with_cache' %]
        <a id='without_cache' type='button' name='without_cache' class='btn btn-info btn-sm'
        href="[%- c.uri_for( '/public_reports/sponsor_report', targeting_type, {species => species, cache_param => 'without_cache'} ) %]">
        <i class="glyphicon glyphicon-exclamation-sign"></i><b> Use live reports</b></a>
    [%- ELSE %]
        <a id='with_cache' type='button' name='with_cache' class='btn btn-info btn-sm'
        href="[%- c.uri_for( '/public_reports/sponsor_report', {species => species, cache_param => 'with_cache'} ) %]">
        <i class="glyphicon glyphicon-exclamation-sign"></i><b> Use cached reports</b></a>
    [%- END %]
[%- ELSE %]
    [%- IF species == 'Human' %]
        <a id='without_cache' type='button' name='without_cache' class='btn btn-info btn-sm'
        href="[%- c.uri_for( '/public_reports/sponsor_report', {species => 'Mouse', cache_param => 'without_cache'} ) %]">
        <i class="glyphicon glyphicon-exclamation-sign"></i><b> Switch to Mouse</b></a>
    [%- ELSE %]
        <a id='with_cache' type='button' name='with_cache' class='btn btn-info btn-sm'
        href="[%- c.uri_for( '/public_reports/sponsor_report', {species => 'Human', cache_param => 'without_cache'} ) %]">
        <i class="glyphicon glyphicon-exclamation-sign"></i><b> Switch to Human</b></a>
    [%- END %]
[%- END %]

</span>
</div>

[%- IF report_id %]
<div>
<h3>[%- title %]</h3>

<table class="table table-striped table-bordered" style="table-layout:fixed">
  <thead>
    <tr>
      [%- FOR col IN columns.pipeline_i %]
        [%- IF col == "Stage" %]
           <th style="width:240px">[%- col %]</th>
        [%- ELSIF col == "Barry Short Arm Recovery" %]
          <th>[%- col %]<br /> <font size="1" face="arial" color="dimgray">Recombineering, Short arm, Crispr in LoxP, Zygote</font></th>
        [%- ELSIF col == "EUCOMMTools Recovery" %]
          <th>[%- col %]<br /> <font size="1" face="arial" color="dimgray">Recombineering, Long/Short arm, Crispr in LoxP, Het ES cell</font></th>
        [%- ELSIF col == "MGP Recovery" %]
          <th>[%- col %]<br /> <font size="1" face="arial" color="dimgray">No vector, Exon flank crisprs, Zygote</font></th>
        [%- ELSIF col == "Pathogen Group 1" %]
          <th>[%- col %]<br /> <font size="1" face="arial" color="dimgray">Recombineering, Long arm, Crispr in exon, Hom ES cell</font></th>
        [%- ELSIF col == "Pathogen Group 2" %]
          <th>[%- col %]<br /> <font size="1" face="arial" color="dimgray">Gibson, Crispr in exon, Hom ES cell</font></th>
         [%- ELSE %]
           <th>[%- col %]</th>
        [%- END %]
      [%- END %]
    </tr>
  </thead>
  <tbody>
    [%- FOREACH row IN rows %]
    <tr>
      [%- IF row == "Genes" || row == "Active Genes" || row == "Valid DNA" || row == "Genes Electroporated"|| row == "First Electroporations" || row == "Second Electroporations" || row == "Targeted Genes" || row == "Accepted First ES Clones" || row == "Accepted Second ES Clones" %]
      <td style="border-top: 1px solid"><b>[%- row %]</b></td>
      [%- ELSE %]
      <td><b>[%- row %]</b></td>
      [%- END %]
      [%- FOR colname IN columns.pipeline_i %]
          [%- UNLESS colname == "Stage" %]
        [%- countval = 0; countval = data.item(row).item(colname) %]
        [%- IF row == "Genes" || row == "Active Genes" || row == "Valid DNA" || row == "Genes Electroporated"|| row == "First Electroporations" || row == "Second Electroporations" || row == "Targeted Genes" || row == "Accepted First ES Clones" || row == "Accepted Second ES Clones" %]
        <td style="border-top: 1px solid">
        [%- ELSE %]
        <td>
        [%- END %]
        [%- IF countval != "" && countval > 0 %]
          [%- IF row == "Genes" %]

        [%- IF c.user == '' %]
                <b><a href="[%- c.uri_for('/public_reports/access_denied') %]">[%- countval %]</a></b></td>
        [%- ELSIF cache_param == "with_cache" %]
                <b><a href="[%- c.uri_for( "/public_reports/cached_sponsor_report/${colname}" ) %]" target="_blank" id='[% colname %]'>[%- countval %]</a></b></td>
        [%- ELSE %]
                <b><a href="[%- c.uri_for( "/public_reports/sponsor_report/${targeting_type}/${colname}/${row}",{ species => species, cache_param => 'without_cache', type => 'full' }) %]" target="_blank" id='[% colname %]'>[%- countval %]</a></b></td> 
            [%- END %]

          [%- ELSE %]
            <b>[%- countval %]</b></td>
          [%- END %]
        [%- ELSIF countval != "" && countval < 0 %]
          -</td>
        [%- ELSE %]
          0</td>
        [%- END %]
          [%- END %]
      [%- END %]
    </tr>
    [%- END %]
  </tbody>
</table>

<br />
<br />
<h3>[%- title_ii %]</h3>

<table class="table table-striped table-bordered" style="table-layout:fixed;">
  <thead>
    <tr>
      [%- FOR col IN columns.pipeline_ii %]
        [%- IF col == "Stage" %]
           <th style="width:240px">[%- col %]</th>
        [%- ELSE %]
           <th style="width:240px">[%- col %]</th>
        [%- END %]
      [%- END %]
    </tr>
  </thead>
  <tbody>
    [%- FOREACH row IN rows %]
    <tr>
      [%- IF row == "Genes" || row == "Valid DNA" || row == "Genes Electroporated"|| row == "First Electroporations" || row == "Second Electroporations" || row == "Targeted Genes" || row == "Accepted First ES Clones" || row == "Accepted Second ES Clones" %]
      <td style="border-top: 1px solid"><b>[%- row %]</b></td>
      [%- ELSE %]
      <td><b>[%- row %]</b></td>
      [%- END %]
      [%- FOR colname IN columns.pipeline_ii %]
          [%- UNLESS colname == "Stage" %]
        [%- countval = 0; countval = data.item(row).item(colname) %]
        [%- IF row == "Genes" || row == "Valid DNA" || row == "Genes Electroporated"|| row == "First Electroporations" || row == "Second Electroporations" || row == "Targeted Genes" || row == "Accepted First ES Clones" || row == "Accepted Second ES Clones" %]
        <td style="border-top: 1px solid">
        [%- ELSE %]
        <td style="width:240px">
        [%- END %]
        [%- IF countval != "" && countval > 0 %]
          [%- IF row == "Genes" %]

        [%- IF c.user == '' %]
                <b><a href="[%- c.uri_for('/public_reports/access_denied') %]">[%- countval %]</a></b></td>
        [%- ELSIF cache_param == "with_cache" %]
                <b><a href="[%- c.uri_for( "/public_reports/cached_sponsor_report/${colname}" ) %]" target="_blank" id='[% colname %]'>[%- countval %]</a></b></td>
        [%- ELSE %]
                <b><a href="[%- c.uri_for( "/public_reports/sponsor_report/${targeting_type}/${colname}/${row}",{ species => species, cache_param => 'without_cache', type => 'full' }) %]" target="_blank" id='[% colname %]'>[%- countval %]</a></b></td>
            [%- END %]

          [%- ELSE %]
            <b>[%- countval %]</b></td>
          [%- END %]
        [%- ELSIF countval != "" && countval < 0 %]
          -</td>
        [%- ELSE %]
          0</td>
        [%- END %]
          [%- END %]
      [%- END %]
    </tr>
    [%- END %]
  </tbody>
</table>

<br />
<p>* The numbers shown indicate distinct <i>genes</i> within that sponsor stage. Click the number for more detailed information.</p>
<p>* <b>Pipeline I</b> corresponds to Eurofins sequencing.</p>
<p>* <b>Pipeline II</b> corresponds to MiSeq sequencing.</p>
</div>
[%- ELSE %]
<div>
<h3>No projects found for this species / targeting type.</h3>
</div>
[%- END %]
