[%- META title = "Summary Report II" %]

<style type="text/css">

a:hover {
    cursor: pointer;
}

table.table-bordered {
    border: 1.5px solid black;
}

table.table-bordered > thead > tr > th{
    border: 1.5px solid black;
}

table.table-bordered > tbody > tr > td{
    border: 1.5px solid black;
}

#stripes {
    background: repeating-linear-gradient(
        45deg,
        #CCCCCC,
        #CCCCCC 10px,
        #EEEEEE 10px,
        #EEEEEE 20px
    );
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.7;
    background-color: #FFFFFF;
    z-index: 99;
    text-align: center;
}

</style>

<div id="loading"></div>

<span style="float:right">
    <a id='collapse_expand' type='button' class='btn btn-info btn-sm' onclick="collape_expand_exps('expand');">
        <b>Expand All</b>
    </a>

    [% USE dl_uri = url( "/public_reports/sponsor_report/$targeting_type/$sponsor_id/Genes", pipeline='pipeline_ii', lab_head=lab_head ) %]
    
    <a id='csv_download' type='button' class='btn btn-primary btn-sm' href="[% dl_uri(csv='1') %]">
        <i class="glyphicon glyphicon-download-alt"></i>
        <b> Download CSV</b>
    </a>
    <a id='xlsx_download' type='button' class='btn btn-primary btn-sm' href="[% dl_uri(xlsx='1') %]">
        <i class="glyphicon glyphicon-download-alt"></i>
        <b> Download XLSX</b>
    </a>

    [% IF c.user %]
        <a type='button' onclick="trigger_loader();" class='btn btn-info btn-sm downloadBtn' id='[% unit.sponsor_id %]'
            href=[% dl_uri(species=species, cache_param_ii='without_cache', type='full') %]
            <i class="glyphicon glyphicon-refresh"></i>
            <b> Regenerate report</b>
        </a>
    [% END %]
</span>

<div class="page-header">
  <h2>Sponsor Progress Sub-Report on [% date %]</h2>
</div>

<p>
[% IF sponsor_id %]
    <big><b>Genes</b> for <b>[% targeting_type %]</b> projects for sponsor <b>[% sponsor_id %]</b></big>
[% ELSE %]
    <big><b>Genes</b> for <b>[% targeting_type %]</b> projects for <b>all</b> sponsors</b></big>
[% END %]
</p>

<div>
  <input class="form-text" style="padding:5px;margin:5px;background-color:#E5E4E2;" type="text" id="myInput" onkeyup="get_genes()" placeholder="Search gene symbol..." autofocus>
</div>

<table class="table table-bordered table-condensed" id="sub_report">
  <thead>
    <tr>
      <th colspan="[% columns.general_first.size %]" style="border-left:1px solid white;border-top:1px solid white;"></th>
      <th colspan="[% columns.primary_genotyping.size %]" style="background-color:#BDBDBD;">Primary Genotyping</th>
      <th colspan="[% columns.secondary_genotyping.size %]" style="background-color:#9E9E9E;">Secondary Genotyping</th>
      <th colspan="[% columns.general_second.size %]" style="border-right:1px solid white;border-top:1px solid white;"></th>
    </tr>
    <tr>
      [%- FOR col IN columns.general_first %]
        <th style="width:100%;background-color:#EEEEEE;" class="">[% col %]</th>
      [% END %]
      [%- FOR col IN columns.primary_genotyping %]
        <th style="width:100%;background-color:#BDBDBD;" class="">[% col %]</th>
      [% END %]
      [%- FOR col IN columns.secondary_genotyping %]
        <th style="width:100%;background-color:#9E9E9E;" class="">[% col %]</th>
      [% END %]
      [%- FOR col IN columns.general_second %]
        <th style="width:100%;background-color:#EEEEEE;" class="">[% col %]</th>
      [% END %]
    </tr>
  </thead>
  <tbody>
    [%- FOREACH elem IN data %]
      <tr class="main_row">
        <td style="background-color:#B3ECFF;"><a href="http://www.genenames.org/cgi-bin/gene_symbol_report?hgnc_id=[% elem.gene_id %]" target="_blank">[% elem.gene_id %]</a></td>
        <td style="background-color:#B3ECFF;"><a href="[% c.uri_for('/public_reports/gene_report', elem.gene_id ) %]" target="_blank">[% elem.gene_symbol %]</a></td>
        <td style="background-color:#B3ECFF;">[% elem.chromosome %]</td>
        <td style="background-color:#B3ECFF;"><a href="[% c.uri_for('/user/view_project/',{ project_id => elem.project_id }) %]" target="_blank">[% elem.project_id %]</a></td>
        <td style="background-color:#B3ECFF;">[% elem.cell_line %]</td>

        [% IF elem.experiments.size %]
        <td style="background-color:#B0E502;"><a class="target_anchor" onclick="ShowExpsFor('[% elem.project_id %]')"><span class="nav_[% elem.project_id %] glyphicon glyphicon-plus"></span></a></td>
        <td style="background-color:#B0E502;"><a onclick="ShowExpsFor('[% elem.project_id %]')"><span class="nav_[% elem.project_id %] glyphicon glyphicon-plus"></span></a></td>
        <td style="background-color:#B0E502;"><a onclick="ShowExpsFor('[% elem.project_id %]')"><span class="nav_[% elem.project_id %] glyphicon glyphicon-plus"></span></a></td>
        [% ELSE %]
        <td><a onclick="ShowExpsFor('[% elem.project_id %]')"><span class="nav_[% elem.project_id %] glyphicon glyphicon-plus"></span></a></td>
        <td><a onclick="ShowExpsFor('[% elem.project_id %]')"><span class="nav_[% elem.project_id %] glyphicon glyphicon-plus"></span></a></td>
        <td><a onclick="ShowExpsFor('[% elem.project_id %]')"><span class="nav_[% elem.project_id %] glyphicon glyphicon-plus"></span></a></td>
        [% END %]

        [% IF elem.experiment_ep_ii_info.has_plates %]
        <td style="background-color:#B0E502;"><a onclick="ShowExpsFor('[% elem.project_id %]')"><span class="nav_[% elem.project_id %] glyphicon glyphicon-plus"></span></a></td>
        [% ELSE %]
        <td><a onclick="ShowExpsFor('[% elem.project_id %]')"><span class="nav_[% elem.project_id %] glyphicon glyphicon-plus"></span></a></td>
        [% END %]

        [% IF elem.exp_ipscs_colonies_picked.total %]
          <td style="background-color:#B0E502;">[% elem.exp_ipscs_colonies_picked.total %] colonies picked</td>
        [% ELSE %]
          <td></td>
        [% END %]

        [% IF elem.genotyping.total.total_number_of_clones %]
          <td style="background-color:#B0E502;">[% elem.genotyping.total.total_number_of_clones %] Miseq clones</td>
        [% ELSE %]
          <td></td>
        [% END %]

        [% IF elem.genotyping.total.primary.wt %]
          <td style="background-color:#B0E502;">[% elem.genotyping.total.primary.wt %] WT clones</td>
        [% ELSE %]
          <td></td>
        [% END %]

        [% IF elem.genotyping.total.primary.het %]
          <td style="background-color:#B0E502;">[% elem.genotyping.total.primary.het %] Het clones</td>
        [% ELSE %]
          <td></td>
        [% END %]

        [% IF elem.genotyping.total.primary.hom %]
          <td style="background-color:#B0E502;">[% elem.genotyping.total.primary.hom %] Hom clones</td>
        [% ELSE %]
          <td></td>
        [% END %]

        [% IF elem.genotyping.total.secondary.wt %]
          <td style="background-color:#B0E502;">[% elem.genotyping.total.secondary.wt %] WT clones</td>
        [% ELSE %]
          <td></td>
        [% END %]

        [% IF elem.genotyping.total.secondary.het %]
          <td style="background-color:#B0E502;">[% elem.genotyping.total.secondary.het %] Het clones</td>
        [% ELSE %]
          <td></td>
        [% END %]

        [% IF elem.genotyping.total.secondary.hom %]
          <td style="background-color:#B0E502;">[% elem.genotyping.total.secondary.hom %] Hom clones</td>
        [% ELSE %]
          <td></td>
        [% END %]

        <td style="background-color:#B3ECFF;"><a onclick="ShowExpsFor('[% elem.project_id %]')"><span class="nav_[% elem.project_id %] glyphicon glyphicon-plus"></span></a></td>
        <td style="background-color:#B3ECFF;">[% elem.programme %]</td>
        <td style="background-color:#B3ECFF;">[% elem.sponsor %]</td>
        <td style="background-color:#B3ECFF;">[% elem.lab_head %]</td>

        [% FOREACH exp IN elem.experiments %]
        [% IF exp.id %]
        <tr class="[% elem.project_id %]" style="display:none;">
          <td style="background-color:#FFCC80;"></td>
          <td style="background-color:#FFCC80;"><span style="display:none;">[% elem.gene_id %]</span></td>
          <td style="background-color:#FFCC80;"></td>
          <td style="background-color:#FFCC80;"></td>
          <td style="background-color:#FFCC80;"></td>
          <td style="background-color:#FFCC80;"><a href="[% c.uri_for('/user/view_experiment', { experiment_id => exp.id } ) %]" target="_blank">[% exp.trivial_name %]</a></td>
          <td style="background-color:#FFCC80;">
            [% FOREACH seq IN exp.crispr_seq %]
            [% seq %]
            [% END %]
          </td>
          <td style="background-color:#FFCC80;"><a href="[% c.uri_for( '/user/view_design', { design_id => exp.design_id } ) %]" target="_blank">[% exp.design_id %]</a></td>
          [% IF elem.experiment_ep_ii_info.exps.${exp.id}.size %]
            <td style="background-color:#FFCC80;">
              [% FOREACH ep_ii IN elem.experiment_ep_ii_info.exps.${exp.id} %]
                <a href="[% c.uri_for( '/user/view_plate', { id => ep_ii.plate_id } ) %]" target="_blank">[% ep_ii.name %]</a>
              [% END %]
            </td>
          [% ELSE %]
            <td style="background-color:#FFCC80;"></td>
          [% END %]
          [% IF elem.exp_ipscs_colonies_picked.${exp.id}.picked_colonies %]
            <td style="background-color:#FFCC80;">[% elem.exp_ipscs_colonies_picked.${exp.id}.picked_colonies %]</td>
          [% ELSE %]
            <td style="background-color:#FFCC80;"></td>
          [% END %]

          [% IF elem.genotyping.${exp.id}.primary.total_number_of_clones %]
            <td style="background-color:#FFCC80;">[% elem.genotyping.${exp.id}.primary.total_number_of_clones %]</td>
          [% ELSE %]
            <td style="background-color:#FFCC80;"></td>
          [% END %]

          [% IF elem.genotyping.${exp.id}.primary.wt %]
            <td style="background-color:#FFCC80;">[% elem.genotyping.${exp.id}.primary.wt %]</td>
          [% ELSE %]
            <td style="background-color:#FFCC80;"></td>
          [% END %]

          [% IF elem.genotyping.${exp.id}.primary.het %]
            <td style="background-color:#FFCC80;">[% elem.genotyping.${exp.id}.primary.het %]</td>
          [% ELSE %]
            <td style="background-color:#FFCC80;"></td>
          [% END %]

          [% IF elem.genotyping.${exp.id}.primary.hom %]
            <td style="background-color:#FFCC80;">[% elem.genotyping.${exp.id}.primary.hom %]</td>
          [% ELSE %]
            <td style="background-color:#FFCC80;"></td>
          [% END %]

          [% IF elem.genotyping.${exp.id}.secondary.wt %]
            <td style="background-color:#FFCC80;">[% elem.genotyping.${exp.id}.secondary.wt %]</td>
          [% ELSE %]
            <td style="background-color:#FFCC80;"></td>
          [% END %]

          [% IF elem.genotyping.${exp.id}.secondary.het %]
            <td style="background-color:#FFCC80;">[% elem.genotyping.${exp.id}.secondary.het %]</td>
          [% ELSE %]
            <td style="background-color:#FFCC80;"></td>
          [% END %]

          [% IF elem.genotyping.${exp.id}.secondary.hom %]
            <td style="background-color:#FFCC80;">[% elem.genotyping.${exp.id}.secondary.hom %]</td>
          [% ELSE %]
            <td style="background-color:#FFCC80;"></td>
          [% END %]

          <td style="background-color:#FFCC80;">[% exp.requester %]</td>
          <td style="background-color:#FFCC80;"></td>
          <td style="background-color:#FFCC80;"></td>
          <td style="background-color:#FFCC80;"></td>
        </tr>
        [% END %]
        [% END %]
      </tr>
    [% END %]
  </tbody>
</table>

<script type="text/javascript">

var sponsor = "[% sponsor_id %]";

$(document).ready(function() {
    var title = "Total - Pipeline II";
    if (sponsor) {
        title = sponsor;
    }
    document.title = title;
});






window.onload = function() {
  document.getElementById('loading').style.display = "none";
};

function trigger_loader() {
  document.getElementById('loading').style.display = "";
}

function get_genes() {
    var collape_expand_btn = document.getElementById('collapse_expand');
    collape_expand_btn.style.display = "none";

    var input = document.getElementById("myInput");
    var filter = input.value.toUpperCase();
    var table = document.getElementById("sub_report");
    var main_trs = table.getElementsByClassName("main_row");


    var all_tds = table.getElementsByTagName("span");
    for (var j=0; j < all_tds.length; j++) {
      if (all_tds[j].className.includes("glyphicon-minus")) {
        all_tds[j].parentElement.click();
      }
    }

    for (var i=0; i < main_trs.length; i++) {
        var td = main_trs[i].getElementsByTagName("td")[1];
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1){
                main_trs[i].style.display = "";
            } else {
                main_trs[i].style.display = "none";
            }
        }
    }

    var collape_expand_btn = document.getElementById('collapse_expand');
    if (input.value == "") {
      collape_expand_btn.style.display = "";
    }

    return;
}


function ShowExpsFor(target) {
  var exps = document.getElementsByClassName(target);
  for(var i = 0; i < exps.length; ++i) {
    if (exps[i].style.display == '') {
      exps[i].style.display = 'none';
      var nav_btns = document.getElementsByClassName('nav_' + target);
      for(var j = 0; j < nav_btns.length; ++j) {
        nav_btns[j].className = 'nav_' + target + ' glyphicon glyphicon-plus';
      }
    } else {
      exps[i].style.display = '';
      var nav_btns = document.getElementsByClassName('nav_' + target);
      for(var j = 0; j < nav_btns.length; ++j) {
        nav_btns[j].className = 'nav_' + target + ' glyphicon glyphicon-minus';
      }
    }
  }

  return;
}

function collape_expand_exps(command) {
  var collape_expand_btn = document.getElementById('collapse_expand');
  var table = document.getElementById("sub_report");
  var all_target_anchors = table.getElementsByClassName("target_anchor");

  if (command == 'expand') {
    for (var j=0; j < all_target_anchors.length; j++) {
      if ( all_target_anchors[j].childNodes[0].className.includes("glyphicon-plus") ) {
        all_target_anchors[j].click();
      }
    }

    if (collape_expand_btn.innerHTML.trim() == '<b>Expand All</b>') {
      collape_expand_btn.innerHTML = '<b>Collapse All</b>';
      collape_expand_btn.onclick = function () { collape_expand_exps("collapse"); };
    }
  } else if (command == 'collapse') {
    for (var j=0; j < all_target_anchors.length; j++) {
      if ( all_target_anchors[j].childNodes[0].className.includes("glyphicon-minus") ) {
        all_target_anchors[j].click();
      }
    }

    if (collape_expand_btn.innerHTML.trim() == '<b>Collapse All</b>') {
      collape_expand_btn.innerHTML = '<b>Expand All</b>';
      collape_expand_btn.onclick = function () { collape_expand_exps("expand"); };
    }
  }

  return;
}

</script>

