[%- META title = "Summary Report II" %]
<script src="[% c.uri_for( '/static/jquery/js/jquery.floatThead.min.js' ) %]"></script>
<script src="[% c.uri_for( '/static/jquery/js/jquery.dataTables.min.js' ) %]"></script>
<style type="text/css">

.container {
    margin-left: 15px;
}

a:hover {
    cursor: pointer;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.7;
    background-color: white;
    z-index: 99;
    text-align: center;
}

#geneSearch {
    padding: 5px;
    margin: 5px;
}

tbody.projectGroup:nth-child(even) > tr > td, th {
    background-color: #C8F2DD !important; #Aero Green
}

tbody.projectGroup:nth-child(even) > tr:nth-child(odd) > td, th {
    background-color: #B4EED1 !important; #Mint Green
}

tbody.projectGroup:nth-child(odd) > tr:nth-child(even) > td, th {
    background-color: #F2F2F2 !important; #Anti-flash white
}

th {
    background-color: rgba(51, 66, 58, 0.8) !important; 'Dark Green, translucency
    empty-cells: hide;
    color: white;
}

th.primaryQC {
    background-color: rgba(51, 66, 58, 0.9) !important; #Dark Green, slight translucency
}

th.secondaryQC {
    background-color: rgba(51, 66, 58, 1) !important; #Dark Green, max alpha
}

table, th, td {
    border: none !important;
    text-align: left;
}

.trailingCell {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
}

.chromo {
    min-width: 50px;
    width: 50px;
}

.project {
    min-width: 50px;
    width: 50px;
}

.electro {
    word-wrap: normal;
    min-width: 120px;
    width: 120px;
    max-width: 120px;
}

.expDets {
    min-width: 100px;
}

.expDets.crispr {
    min-width: 200px
}

</style>

<div id="loading"></div>

<span style="float:right">
    <button id='collapseExpand' type='button' class='btn btn-info btn-sm'>
        Expand All
    </button>

    [% USE dl_uri = url( "/public_reports/sponsor_report/$targeting_type/$sponsor_id/Genes", pipeline='pipeline_ii', lab_head=lab_head ) %]
    
    <a id='csvDownload' type='button' class='btn btn-primary btn-sm' href="[% dl_uri(csv='1') %]">
        <i class="glyphicon glyphicon-download-alt"></i>
        <b> Download CSV</b>
    </a>
    <a id='xlsxDownload' type='button' class='btn btn-primary btn-sm' href="[% dl_uri(xlsx='1') %]">
        <i class="glyphicon glyphicon-download-alt"></i>
        <b> Download XLSX</b>
    </a>

    [% IF c.user %]
        <a type='button' class='reportGen btn btn-info btn-sm downloadBtn' id='[% unit.sponsor_id %]'
            href=[% dl_uri(species=species, cache_param_ii='without_cache', type='full') %]
            <i class="glyphicon glyphicon-refresh"></i>
            <b> Regenerate report</b>
        </a>
    [% END %]
</span>

<div class="page-header">
    <h2>Sponsor Progress Sub-Report on [% date %]</h2>
</div>

[% SET sponsor_label = "all sponsors" %]
[% IF sponsor_id %]
    [% SET sponsor_label = "sponsor " _ sponsor_id %]
[% END %]
<h3>Genes for [% targeting_type %] projects for [% sponsor_label %]</h3>

<div class="col-md-3 row">
    <input id="geneSearch" class="form-control" type="text" placeholder="Search gene symbol..." autofocus>
</div>
<table class="table table-bordered table-condensed" id="subReport">
    <thead id="tableHeader">
        <tr>
            <th colspan="[% columns.general_first.size %]"></th>
            <th colspan="[% columns.primary_genotyping.size %]" class="primaryQC">Primary Genotyping</th>
            <th colspan="[% columns.secondary_genotyping.size %]" class="secondaryQC">Secondary Genotyping</th>
            <th colspan="[% columns.general_second.size %]"></th>
        </tr>
        <tr>
            [%- FOR col IN columns.general_first %]
                [% IF col == 'Electroporation iPSCs' %]
                    <th class="electro">[% col %]</th>
                [% ELSE %]
                    <th>[% col %]</th>
                [% END %]
            [% END %]
            [%- FOR primary_col IN columns.primary_genotyping %]
                <th class="primaryQC">[% primary_col %]</th>
            [% END %]
            [%- FOR secondary_col IN columns.secondary_genotyping %]
                <th class="secondaryQC">[% secondary_col %]</th>
            [% END %]
            [%- FOR col IN columns.general_second %]
                <th class="trailingCell">[% col %]</th>
            [% END %]
        </tr>
    </thead>
    [%- FOREACH elem IN data %]
        <tbody class="projectGroup">
            <tr class="geneRow">
                <td>
                    <a href="http://www.genenames.org/cgi-bin/gene_symbol_report?hgnc_id=[% elem.gene_id %]" target="_blank">[% elem.gene_id %]</a>
                </td>
                <td class="geneSymbol">
                    <a href="[% c.uri_for('/public_reports/gene_report', elem.gene_id ) %]" target="_blank">[% elem.gene_symbol %]</a>
                </td>
                <td class="chromo">[% elem.chromosome %]</td>
                <td class="project">
                    <a href="[% c.uri_for('/user/view_project/',{ project_id => elem.project_id }) %]" target="_blank">[% elem.project_id %]</a>
                </td>
                <td>[% elem.cell_line %]</td>

                [% FOREACH expansion_cell IN ['exp','crispr','design','ep'] %]
                    <td>
                        <a class="rowExpansion">
                            <span class="nav[% elem.project_id %] glyphicon glyphicon-plus expDets [% IF expansion_cell == 'crispr' %]crispr[% END %]"></span>
                        </a>
                    </td>
                [% END %]

                <td>[% elem.exp_ipscs_colonies_picked.total %] colonies picked</td>
                <td>[% elem.genotyping.total.total_number_of_clones %] Miseq clones</td>

                [% FOREACH qc_stage IN ['primary', 'secondary'] %]
                    [% FOREACH classification IN ['wt', 'het', 'hom'] %]
                        [% SET class_val = elem.genotyping.total.${qc_stage}.${classification} %]

                        <td class="[% classification %]" value=[% class_val %]>
                            [% class_val %]
                        </td>
                    [% END %]
                [% END %]

                <td class="trailingCell">
                    <a class="rowExpansion">
                        <span class="nav[% elem.project_id %] glyphicon glyphicon-plus"></span>
                    </a>
                </td>
                <td class="trailingCell">[% elem.programme %]</td>
                <td class="trailingCell">[% elem.sponsor %]</td>
                <td class="trailingCell">[% elem.lab_head %]</td>
                </tr>

                [% FOREACH exp IN elem.experiments %]
                    [% IF exp.id %]
                        <tr class="[% elem.project_id %] subRow">
                            [% FOREACH child_inherited_cells IN [0 .. 4] %]
                                <td></td>
                            [% END %]    
                            <td>
                                <a href="[% c.uri_for('/user/view_experiment', { experiment_id => exp.id } ) %]" target="_blank">[% exp.trivial_name %]</a>
                            </td>
                            <td class="seq">
                                [% exp.crispr_seq.join(" ,") %]
                            </td>
                            <td>
                                <a href="[% c.uri_for( '/user/view_design', { design_id => exp.design_id } ) %]" target="_blank">[% exp.design_id %]</a>
                            </td>
                            <td class="electro">
                            [% FOREACH ep_ii IN elem.experiment_ep_ii_info.exps.${exp.id} %]
                                <a href="[% c.uri_for( '/user/view_plate', { id => ep_ii.plate_id } ) %]" target="_blank">[% ep_ii.name %]</a>
                            [% END %]
                            </td>
                            <td>
                                [% elem.exp_ipscs_colonies_picked.${exp.id}.picked_colonies %]
                            </td>
                            <td>
                                [% elem.genotyping.${exp.id}.primary.total_number_of_clones %]
                            </td>
                            [% FOREACH qc_stage IN ['primary', 'secondary'] %]
                                [% FOREACH classification IN ['wt', 'het', 'hom'] %]
                                    [% SET class_val = elem.genotyping.${exp.id}.${qc_stage}.${classification} %]

                                    <td class="[% classification %]" value=[% class_val %]>
                                        [% class_val %]
                                    </td>
                                [% END %]
                            [% END %]
                            [% FOREACH child_inherited_cells IN [0 .. 4] %]
                                <td></td>
                            [% END %]   
                        </tr>
                    [% END %]
                [% END %]
            </tbody>
    [% END %]
</table>

<script type="text/javascript">

var sponsor = "[% sponsor_id %]";

$(document).ready(function() {
    var title = "Total - Pipeline II";
    if (sponsor) {
        title = sponsor;
    }
    document.title = title;


    $('tr').children('td','th').removeAttr('style').css('background-color','white');
    $('#subReport').floatThead( {top: 50} );
    $('.trailingCell').css('width','60px');

    callLabeling();
    $('.subRow').hide();
    $('#loading').hide();
});

$('.reportGen').click( function() {
    $('#loading').show();
});

$('#collapseExpand').click(function() {
    var operation = $('#collapseExpand').text().trim();
    if (operation == 'Expand All') {
        $('.subRow').show();
        $('.rowExpansion > span').removeClass('glyphicon-plus').addClass('glyphicon-minus');
        $('#collapseExpand').text('Collapse All');
    } else {
        $('.subRow').hide();
        $('.rowExpansion > span').removeClass('glyphicon-minus').addClass('glyphicon-plus');
        $('#collapseExpand').text('Expand All');
    }
});

$('.rowExpansion').click(function() {
    var classList = $(this).find('span[class^="nav"]').attr('class');
    var regex = /^nav(\d+)\ .*/g;
    var projectID = regex.exec(classList)[1];
    $('.' + projectID).toggle();
    $('.nav' + projectID).toggleClass('glyphicon-plus glyphicon-minus');
});

$('#geneSearch').keyup(function() {
    var filter = $('#geneSearch').val().toUpperCase();

    if (filter == "") {
        $('tr.geneRow').show();
        $('#collapseExpand').show();
        return;
    }
    $('#collapseExpand').hide();

    $('.subRow').hide();
    $('.expDets').removeClass('glyphicon-minus').addClass('glyphicon-plus');

    $('tr.geneRow').each( function() {
        if ( $(this).find('.geneSymbol').text().indexOf(filter) != -1 ) {
            $(this).show();
        } else {
            $(this).hide();
        }
    });

    return;
});

function callLabeling() {
    var calls = {
        het:    'HET Clones',
        hom:    'HOM Clones',
        wt:     'WT Clones',
    };

    var callTypes = Object.keys(calls);
    callTypes.forEach(function(call) {
        $('.' + call + ':not([value=""])').append(calls[call]);
    });

}

</script>

