<h2>Design Information</h2>

<table id="design" class="table table-bordered table-condensed table-striped">
    <tr>
      <th>Design ID</th>
      <td>[% data.design_id %]</td>
    </tr>
    <tr>
      <th>Design Type</th>
      <td>[% data.design_type %]</td>
    </tr>
</table>


<h2>Genotyping Primers</h2>

<table id="primers" class="table table-bordered table-condensed table-striped">
    <theader>
        <tr id="genotyping_primers_header">
            <th>Type</th>
            <th>Chromosome</th>
            <th>Start</th>
            <th>End</th>
            <th>Sequence in 5'-3' orientation</th>
        </tr>
    </theader>
    <tbody>
        [%- FOR oligo IN data.oligos %]
            <tr class="genotyping_primers_row">
                <td>[% oligo.type %]</td>
                <td>[% oligo.locus.chr_name %]</td>
                <td>[% oligo.locus.chr_start %]</td>
                <td>[% oligo.locus.chr_end %]</td>
                <td class="seq">[% oligo.sequence_in_5_to_3_prime_orientation %]</td>
            </tr>
        [%- END %]
    </tbody>
</table>

[% IF data.hdr_template %]
<h2>HDR Template</h2>

<table class="table table-bordered table-condensed table-striped">
    <tbody>
        <tr class="genotyping_primers_row">
            <td class="seq"> [% data.hdr_template %] </td>
        </tr>
    </tbody>
</table>
[% END %]

<h2>CRISPR</h2>

<table id="crispr" class="table table-bordered table-condensed table-striped">
    <tr>
      <th>LIMS2 ID</th>
      <td>[% data.crispr.id %]</td>
    </tr>
    <tr>
      <th>WGE ID</th>
      <td><a href="https://wge.stemcell.sanger.ac.uk/crispr/[% data.crispr.wge_crispr_id %]">[% data.crispr.wge_crispr_id %]</a></td>
    </tr>
    <tr>
      <th>Location</th>
      <td>[% data.crispr.locus.chr_name %]:[% data.crispr.locus.chr_start %]-[% data.crispr.locus.chr_end %]</td>
    </tr>
    <tr>
      <th>Sequence in 5'-3' orientation</th>
      <td class="seq">[% data.crispr.fwd_seq %]</td>
    </tr>
    <tr>
      <th>Strand</th>
      <td>[% data.crispr.locus.chr_strand %]</td>
    </tr>
    <tr>
      <th>Location Type</th>
      <td>[% data.crispr.type %]</td>
    </tr>
</table>

<h2>MiSeq QA</h2>

[% IF data.miseq_data %]

<table id="miseq-overview" class="table table-bordered table-condensed table-striped">
    <tr>
      <th>Experiment</th>
      <td>[% data.miseq_data.experiment_name %]</td>
    </tr>
    <tr>
      <th>Classification</th>
      <td>[% data.miseq_data.classification %]</td>
    </tr>
</table>

<h3>Indels</h3>

<div id="miseq-indels-container">
    <table id="miseq-indels" class="table table-bordered table-condensed table-striped">
        <theader>
            <tr>
                <th>Indel</th>
                <th>Frequency</th>
            </tr>
        </theader>
        <tbody>
            [%- FOR indel_data IN data.miseq_data.indel_data %]
                <tr>
                    <td>[% indel_data.indel %]</td>
                    <td>[% indel_data.frequency %]</td>
                </tr>
            [%- END %]
        </tbody>
    </table>
</div>

<h3>Alleles</h3>

<table id="miseq-alleles" class="table table-bordered table-condensed table-striped">
    <theader>
        <tr>
            <th>Aligned_Sequence</th>
            <th>NHEJ</th>
            <th>UNMODIFIED</th>
            <th>HDR</th>
            <th>n_deleted</th>
            <th>n_inserted</th>
            <th>n_mutated</th>
            <th>#Reads</th>
            <th>%Reads</th>
        </tr>
    </theader>
    <tbody>
        [%- FOR allele_datum IN data.miseq_data.allele_data %]
            <tr>
                <td>[% allele_datum.aligned_sequence %]</td>
                <td>[% allele_datum.nhej %]</td>
                <td>[% allele_datum.unmodified %]</td>
                <td>[% allele_datum.hdr %]</td>
                <td>[% allele_datum.n_deleted %]</td>
                <td>[% allele_datum.n_inserted %]</td>
                <td>[% allele_datum.n_mutated %]</td>
                <td>[% allele_datum.n_reads %]</td>
                <td>[% allele_datum.percentage_reads %]</td>
            <tr>
        [%- END %]
    </tbody>
</table>

[% ELSE %]

<p>No MiSeq information available for this well</p>

[% END %]


[% IF data.miseq_data %]
    <script src="[% c.uri_for( '/static/jquery/js/d3.min.js' ) %]"></script>
    <script src="[% c.uri_for( '/static/jquery/js/d3-tip.js' ) %]"></script>
    <script language="javascript" type="text/javascript" src="[% c.uri_for( '/static/js/indel_plot.js' ) %]"></script>
    <script type="text/javascript">
        document.getElementById("miseq-indels-container").replaceChildren();
        var indelData = [
            [%- FOR indel_data IN data.miseq_data.indel_data %]
	        {'indel': [% indel_data.indel %], 'frequency': [% indel_data.frequency %]},
            [%- END %]
        ];
        buildIndelPlot("miseq-indels-container", prepareDataForIndelPlot(indelData));

        function prepareDataForIndelPlot(inputData) {
            // This is a shim to get the data in the correct form. See commit
            // message for why this is needed.
            let inclusiveRange = (theMin, theMax) => Array.from(
                 Array(theMax - theMin +1),
                 (_, index) => index + theMin,
            );
            let indelsWithNonZeroFrequency = inputData
                .filter(e => e['frequency'] != 0)
                .map(e => e['indel'])
            let plotMin = Math.min(...indelsWithNonZeroFrequency) - 1;
            let plotMax = Math.max(...indelsWithNonZeroFrequency) + 1;
            let fullData = inclusiveRange(plotMin, plotMax)
                .map(
                    n => {
                        let originalData = inputData.find(e => e['indel'] == n);
                        return originalData ? originalData : {'indel': n, 'frequency': 0};
                    }
                );
            return fullData;
        }
    </script>
[% END %]
