[% META title="Well Genotyping Information"; META tab_name = "Cells" %]

<script language="javascript" type="text/javascript" src="[% c.uri_for( '/static/js/crispr-qc.js' ) %]"></script>
<style type="text/css">
.alignment {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 11px;
    display: block;
    font-weight: bold
}
</style>

<div class="page-header">
  <h1>Well Genotyping Information</h1>
</div>

<h3>First Allele</h3>
<table id="genotyping_table2" class="table table-bordered table-condensed table-striped">
    <tr>
      <th>Design ID</th>
        <td>[% data.design_id %]</td>
    </tr>
    <tr>
      <th>Gene</th>
      <td>[% data.gene %]</td>
    </tr>
    <tr>
      <th>Plate Name</th>
      <td>[% data.plate_name %]</td>
    </tr>
    <tr>
      <th>Well Name</th>
      <td>[% data.well_name %]</td>
    </tr>
    <tr>
      <th>Genbank Files</th>
      <td>
          <a href="[% c.uri_for( '/user/well_eng_seq', data.well_id, { stage => 'allele' } ) %]"><i class="icon-file"></i> Allele</a> <br>
          <a href="[% c.uri_for( '/user/well_eng_seq', data.well_id, { stage => 'vector' } ) %]"><i class="icon-file"></i> Vector</a>
      </td>
    </tr>
    <tr>
      <th>Targeting Vector</th>
      <td>[% data.targeting_vector %]</td>
    </tr>
    <tr>
      <th>Vector Cassette</th>
      <td>[% data.vector_cassette %]</td>
    </tr>
    <tr>
      <th>EPD Plate Name</th>
      <td>[% data.epd_plate_name %]</td>
    </tr>
    <tr>
      <th>EPD Accepted</th>
      <td>[% data.accepted ? 'Yes' : 'No' %]</td>
    </tr>
    [% FOR key IN data.primers.design_primers.keys.sort %]
      [% FOR primer IN data.primers.design_primers.$key %]
    <tr>
      <th>[% primer.name %]</th>
      <td class="alignment">[% primer.seq %]</td>
    </tr>
      [% END %]
    [% END %]
</table>

<h3>Second Allele</h3>
<table id="genotyping_table2" class="table table-bordered table-condensed table-striped">
    <tr>
      <th>Allele Type</th>
      <td>[% data.damage_type %]</td>
    </tr>
    <tr>
      <th>Forward Read</th>
      <td><pre>[% data.fwd_read %]</pre></td>
    </tr>
    <tr>
      <th>Reverse Read</th>
      <td><pre>[% data.rev_read %]</pre></td>
    </tr>
    [% FOR key IN data.primers.crispr_primers.keys.sort %]
      [% FOR primer IN data.primers.crispr_primers.$key %]
    <tr>
      <th>[% primer.name %]</th>
      <td class="alignment">[% primer.seq %]</td>
    </tr>
      [% END %]
    [% END %]
    <tr>
      <th>QC Run</th>
      <td>
        <a href="[% c.uri_for( '/user/crisprqc/es_qc_run', data.qc_run_id ) %]" target="_blank" class="btn btn-info">View QC Run</a>
      </td>
    </tr>
    <tr>
      <th>QC damage data</th>
      <td>
        [% IF data.qc_data.alignment.forward_full %]
            <div class="forward_full" style="display:none">[% data.qc_data.alignment.forward_full %]</div>
        [% END %]
        [% IF data.qc_data.alignment.reverse_full %]
            <div class="reverse_full" style="display:none">[% data.qc_data.alignment.reverse_full %]</div>
        [% END %]
        <div class="alignment">
          <div class="alignment_reference">
            <span>
                [% data.qc_data.alignment.ref_start %]<span style="color:#FF0000">[% data.qc_data.alignment.crispr_seq %]</span>[% data.qc_data.alignment.ref_end %]
            </span><br/>
          </div>
          <div class="alignment_inner">
            <span style="display: block">
               <span class="seq seq_a">
                  [% IF data.qc_data.alignment.no_forward_read %]
                    No Read
                  [% ELSIF data.qc_data.alignment.no_forward_alignment %]
                    No alignment to target region
                  [% ELSE %]
                    [% data.qc_data.alignment.forward %]
                  [% END %]
               </span>(F)
            </span>
            <span style="display: block">
                <span class="seq seq_b">
                  [% IF data.qc_data.alignment.no_reverse_read %]
                    No Read
                  [% ELSIF data.qc_data.alignment.no_reverse_alignment %]
                    No alignment to target region
                  [% ELSE %]
                    [% data.qc_data.alignment.reverse %]
                  [% END %]
                </span>(R)
            </span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>VCF</th>
      <td>
        <pre>[% data.vcf_file %]</pre>
      </td>
    </tr>
</table>

<div class="well">
  <h3>
    Primer Information
  </h3>
  <p>
    GFF, GFR - PCR primers located outside the homology arms of the (gibson) design<br/>
    SPF, SPR - PCR primers located a short distance either side of the location expected to be damaged by CRISPR/Cas9 targeting<br/>
    SFF, SFR - Sequencing primers located "inside" SPF and SPR. These are used to check crispr-based damage in the PCR fragment between SPF and SPR<br/>
  </p>
</div>

<div class="data.qc_data">
  <div class="span3">
    <a href="[% c.uri_for( '/user/well_genotyping_info_search' ) %]" class="btn">
    <i class="icon-hand-left"></i> Back to search </a>
  </div>
</div>

<br/>
