<div class="page-header">
  <h1>Clone Genotyping</h1>
</div>

<table id="genotyping_table2" class="table table-bordered table-condensed table-striped">
    <tr>
      <th>Plate Name</th>
      <td>[% data.plate_name %]</td>
    </tr>
    <tr>
      <th>Well Name</th>
      <td>[% data.well_name %]</td>
    </tr>
    <tr>
      <th>Barcode</th>
      <td>[% data.barcode %]</td>
    </tr>
    <tr>
      <th>Gene Symbol</th>
      <td>[% data.gene %]</td>
    </tr>
    <tr>
      <th>Gene ID</th>
      <td>[% data.gene_id %]</td>
    </tr>
    <tr>
      <th>Species</th>
        <td>[% data.species %]</td>
    </tr>
    <tr>
      <th>Cell Line</th>
        <td>[% data.cell_line %]</td>
    </tr>
    [% IF data.child_barcodes %]
    <tr>
      <th>Child Barcodes</th>
        <td>[% data.child_barcodes.join(", ") %]</td>
    </tr>
    [% END %]
</table>

[% IF pipeline == 2 %]
    [% INCLUDE 'publicreports/well_genotyping_info_pipeline_ii.tt' %]
[% ELSE %]
    [% INCLUDE 'publicreports/well_genotyping_info_pipeline_i.tt' %]   
[% END %]
