<h2>Design Information</h2>

<table id="design" class="table table-bordered table-condensed table-striped">
    <tr>
      <th>Design ID</th>
      <td>[% data.design_id %]</td>
    </tr>
    <tr>
      <th>Design Type</th>
      <td>[% data.design_type %]</td>
    </tr>
</table>


<h2>Genotyping Primers</h2>

<table id="primers" class="table table-bordered table-condensed table-striped">
    <theader>
        <tr id="genotyping_primers_header">
            <th>Type</th>
            <th>Chromosome</th>
            <th>Start</th>
            <th>End</th>
            <th>Sequence in 5'-3' orientation</th>
        </tr>
    </theader>
    <tbody>
        [%- FOR oligo IN data.oligos %]
            <tr class="genotyping_primers_row">
                <td>[% oligo.type %]</td>
                <td>[% oligo.locus.chr_name %]</td>
                <td>[% oligo.locus.chr_start %]</td>
                <td>[% oligo.locus.chr_end %]</td>
                <td class="seq">[% oligo.sequence_in_5_to_3_prime_orientation %]</td>
            </tr>
        [%- END %]
    </tbody>
</table>

[% IF data.hdr_template %]
<h2>HDR Template</h2>

<table class="table table-bordered table-condensed table-striped">
    <tbody>
        <tr class="genotyping_primers_row">
            <td class="seq"> [% data.hdr_template %] </td>
        </tr>
    </tbody>
</table>
[% END %]

<h2>CRISPR</h2>

<table id="crispr" class="table table-bordered table-condensed table-striped">
    <tr>
      <th>LIMS2 ID</th>
      <td>[% data.crispr.id %]</td>
    </tr>
    <tr>
      <th>WGE ID</th>
      <td><a href="https://wge.stemcell.sanger.ac.uk/crispr/[% data.crispr.wge_crispr_id %]">[% data.crispr.wge_crispr_id %]</a></td>
    </tr>
    <tr>
      <th>Location</th>
      <td>[% data.crispr.locus.chr_name %]:[% data.crispr.locus.chr_start %]-[% data.crispr.locus.chr_end %]</td>
    </tr>
    <tr>
      <th>Sequence in 5'-3' orientation</th>
      <td class="seq">[% data.crispr.fwd_seq %]</td>
    </tr>
    <tr>
      <th>Strand</th>
      <td>[% data.crispr.locus.chr_strand %]</td>
    </tr>
    <tr>
      <th>Location Type</th>
      <td>[% data.crispr.type %]</td>
    </tr>
</table>

<h2>MiSeq QA</h2>

[% IF data.miseq_data %]

<table id="miseq-overview" class="table table-bordered table-condensed table-striped">
    <tr>
      <th>Experiment</th>
      <td>[% data.miseq_data.experiment_name %]</td>
    </tr>
</table>

[% ELSE %]

<p>No MiSeq information available for this well</p>

[% END %]

