<style>

.hdrSeq {
    width: 1125px;
    white-space: nowrap;
    font-family: "Lucida Console", Monaco, monospace;
    overflow-x: hidden;
    text-transform: uppercase;
}

.highlight {
    background-color: green;
    color: white;
}
</style>

<h2>HDR Template</h2>
<table class="table table-striped" style="width: 1125px;">
    <tr>
        <th>Reference Sequence</th>
    </tr>
    <tr>
        <td>      
            <div id="refSeq" class="hdrSeq"> TCACACCGTGTTCTCCACTCCCCCGTCCCCTGGCAAGACTAATCTACTTTCTATTTTTATGGATCTGCCTTTTCTGGTCATTCCATATAAGTGGAATTGTACAACACTGTGGCCTTTCGCGACGGCTGCTTTCACTTAGCACAATGTTTTGAAACTTCCTCCATGTTGTAACATCTATTAGTACTTCGTTTCGTTTTGATTGATATTTATTGATGAGTAACATTTTGTTGTGTGGA
            </div>
        </td>
    </tr>
    <tr>
        <th>HDR Template</th>
    </tr>
    <tr>
        <td>
            <div id="templateSeq" class="hdrSeq"> TCACACCGTGTTCTCCACTCCCCCGTCCCCTGGCAAGACTAATCTACTTTCTATTTTTATGGATCTGCCTTTTCTGGTCATTCCATATAAGTGGAATTGCACAACACTGTGGCCTTTCGCGACGGCTGCTTTCACTTAGCACAATGTTTTGAAACTTCCTCCATGTTGTAACATCTATTAGTACTTCGTTTCGTTTTGATTGATATTTATTGATGAGTAACATTTTGTTGTGTGGA
            </div>
        </td>
    </tr>
</table>

<button id="editTemplate" class="btn btn-primary">
    Edit
</button>
<div id="editControls"></div>

<script type="text/javascript" charset="utf-8">

jQuery.fn.extend({
    sequenceText: function() {
        var regWhitespace = /\s/g;
        var text = $(this).text() || $(this).val();
        return text.replace(regWhitespace, '').toUpperCase();
    }
});

$(document).ready(function() {
    scrollable();
    hdr_highlight('#templateSeq');
});

$('#editTemplate').click(function() {
    var wrapper = $('<div class="editing"></div>');
    var form = $('<form action="#" class="edit-form"></form>');
    var input = $('<input id="templateInput" type="text" class="hdrSeq templateInput">');

    $('#templateSeq').after(wrapper);
    $('#templateSeq').remove().appendTo(wrapper).hide();

    input.css({
        display: 'block',
        font: "Lucida Console",
        width: "1125px",
    });

    wrapper.append(form);
    form.append(input);
    input.val($('#templateSeq').sequenceText()).focus();
});

$('.templateInput').on('change keydown paste input',function() {
    hdr_highlight('#templateInput');
});

function scrollable() {
    $('.hdrSeq:first').css('overflow-x','scroll');
    $('.hdrSeq:first').scroll(function() {
        $('.hdrSeq').scrollLeft($(this).scrollLeft());
    });
}

function hdr_highlight(template) {
    var refSeq = $('#refSeq').sequenceText();
    var templateSeq = $(template).sequenceText();

    var refHigh = "";
    var templateHigh = "";
    var spanOpen = false;
    templateSeq.split("").forEach(function(value, index) {
        if (value.toUpperCase() != refSeq.charAt(index).toUpperCase()) {
            console.log(index);
            refHigh += !spanOpen ? "<span class='highlight'>" : "";
            templateHigh += !spanOpen ? "<span class='highlight'>" : "";
            refHigh += refSeq.charAt(index);
            templateHigh += value;
            spanOpen = true;
        } else {
            refHigh += spanOpen ? "</span>" : "";
            templateHigh += spanOpen ? "</span>" : "";
            refHigh += refSeq.charAt(index);
            templateHigh += value;  
            spanOpen = false;
        }
    });
    $('#refSeq').html(refHigh);
    //$(template).html(templateHigh);
}

</script>
