[% META title="Genoverse Design Browser"; META tab_name = '' %]
<div class="page-header">
<SCRIPT LANGUAGE = JavaScript >
document.title = "[%- context.well_name _ ':' _ context.crispr_type_id %]";
</SCRIPT>
  <h1>Crispr [%- IF context.crispr_type == 'crispr_pair_id' %]
    Pair
    [%- ELSIF context.crispr_type == 'crispr_group_id' %]
    Group
    [%- ELSE %]
    Singlet
    [%- END %]
  : [%- context.crispr_type_id %] </h1>
  <small><h1>Well: [%- context.plate_name _ '_' _ context.well_name %]
  symbol: [%- context.gene_symbol -%]
  chr: [%- extent.chr_name -%]
  assembly: [%- extent.assembly -%]
  design: [%- context.design_id %]</small>
  </h1>
</div>


<script type="text/javascript">
var crispr_primers_params = [
    "design_id=[%context.design_id%]",
    "crispr_id_ref=[%context.crispr_type%]",
    "crispr_id=[%context.crispr_type_id%]",
    "well_name=[%context.well_name%]",
    "assembly_id=[%extent.assembly%]",
    "species=[%c.session.selected_species%]"
];

var unique_crispr_params = [
    "crispr_id_ref=[%context.crispr_type%]",
    "crispr_id=[%context.crispr_type_id%]",
    "assembly_id=[%extent.assembly%]",
    "species=[%c.session.selected_species%]"
];

var generic_designs_params = [
    "design_id=[%context.design_id%]",
    "crispr_id_ref=[%context.crispr_type%]",
    "crispr_id=[%context.crispr_type_id%]",
    "well_name=[%context.well_name%]",
    "assembly_id=[%extent.assembly%]",
    "species=[%c.session.selected_species%]"
];

</script>



    <script type="text/javascript" src="[% c.uri_for('/Genoverse/js/genoverse.combined.nojquery.js')%]"></script>
    <script type="text/javascript" src="[% c.uri_for('/js/genoverse_custom_tracks.js')%]"></script>
    <script type="text/javascript" src="[% c.uri_for('/static/js/lims2_genoverse_custom_tracks.js')%]"></script>
    <script>
      var genoverseConfig = {
        container : '#genoverse', // Where to inject Genoverse (css/jQuery selector)
        // If no genome supplied, it must have at least chromosomeSize, e.g.:
        // chromosomeSize : 249250621, // chromosome 1, human
        [% USE String(extent.assembly) %]
        width: 1060,
        genome    : '[% String.lower() %]', // see js/genomes/
        chr       : '[% extent.chr_name %]',
        start     : [% extent.chr_start %] - 2000,  // 2Kb context
        end       : [% extent.chr_end %] + 2000,
        plugins   : [ 'controlPanel', 'karyotype', 'trackControls', 'resizer', 'fileDrop' ],
        tracks    : [
          Genoverse.Track.Scalebar,
          Genoverse.Track.SequenceSelect.extend({
            name      : 'Sequence',
            [% IF c.session.selected_species == 'Mouse' %]
            url       : 'https://rest.ensembl.org/sequence/region/mouse/__CHR__:__START__-__END__?content-type=text/plain',
            [% ELSE  %]
            url       : 'https://rest.ensembl.org/sequence/region/human/__CHR__:__START__-__END__?content-type=text/plain',
            [% END %]
            resizable : 'auto',
            100000    : false
          }),
          Genoverse.Track.DesignsLIMS2.extend({
            name      : 'Designs',
            url       : "[% c.uri_for('/api/generic_designs')%]" + build_uri_params( generic_designs_params ) ,
            resizable : 'auto',
            height    : 150,
            design_report_uri : "[%  c.uri_for('/user/view_design') %]"
          }),
          Genoverse.Track.PrimersLIMS2.extend({
            name      : 'Crispr_primers',
            url       : "[% c.uri_for('/api/crispr_primers')%]" + build_uri_params( crispr_primers_params ) ,
            resizable : 'auto',
            height    : 150
          }),
          Genoverse.Track.Crisprs.LIMS2.extend({
            name      : 'Crisprs',
            url       : "[% c.uri_for('/api/unique_crispr')%]" + build_uri_params( unique_crispr_params ),
            resizable : 'auto',
            height    : 150,
            crispr_report_uri : "[% c.uri_for('/user/crispr') %]"
          }),
          Genoverse.Track.Genes.extend({
            name   : 'Genes',
            [% IF c.session.selected_species == 'Mouse' %]
            url    : 'https://rest.ensembl.org/overlap/region/mouse/__CHR__:__START__-__END__?feature=gene;feature=transcript;feature=exon;feature=cds;content-type=application/json',
            [% ELSE %]
            url    : 'https://rest.ensembl.org/overlap/region/human/__CHR__:__START__-__END__?feature=gene;feature=transcript;feature=exon;feature=cds;content-type=application/json',
            [% END %]
            height : 200
          })
        ]
      };

      $(function () {
        window.genoverse = new Genoverse(genoverseConfig);
        // From WebApp-Common/shared_static
        [% INCLUDE 'genoverse_mods/selector_size_display.tt' %]
      });
    </script>

    <div id="genoverse"></div>
