[% META title = "Browse Sequencing Projects" %]

<form method="POST" action="[% c.uri_for( '/user/view_sequencing_project' ) %]" class="well">
  <fieldset>
    <legend>Search by Project ID</legend>
    <input type="text" name="seq_id" placeholder="Sequencing Project ID" id="seq_id" />
    <input type="submit" name="action" class="btn btn-primary" value="Search" />
  </fieldset>
</form>

<form method="POST" action="[% c.uri_for( '/user/browse_sequencing_projects' ) %]" class="well">
  <fieldset>
    <legend>Search by Project Name</legend>
    <input type="text" name="seq_name" placeholder="Sequencing Project Name" id="seq_name" />
    <input type="submit" name="action" class="btn btn-primary" value="Search" />
  </fieldset>
</form>

<form method="POST" action="[% c.uri_for( '/user/browse_sequencing_projects' ) %]" class="well">
  <fieldset>
    <legend>Search by Primer Type</legend>
    <select name="dd_primer" id="dd_primer">
      <option value="" selected="selected"></option>
      [%- FOR primer IN primer_list %]
        <option value="[% primer %]">[% primer %]</option>
      [%- END %]
    </select>
    <input type="submit" name="action" class="btn btn-primary" value="Search" />
  </fieldset>
</form>


[% IF results %]
<form class="well">
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Primers</th>
      </tr>
    </thead>
    [% FOREACH result IN results %]
      <tr>
        <td>
          <a class="brand" href="[% c.uri_for('/user/view_sequencing_project/' , { seq_id => result.id }) %]">
            [% result.id %]
          </a>
        </td>
        <td>
          [% result.name %]
        </td>
        <td>
          [% result.primer %]
        </td>
      </tr>
    [% END %]
  </table>
</form>
[% ELSE %]

<table class="table span6 offset3" style="table-layout:fixed" align="center">
    <thead>
        <h4 align="center">Recently Added</h4>
        <tr>
            <th class="span2">ID</th>
            <th class="span3">Name</th>
            <th class="span3">Created</th>
            <th class="span1">Results Available</th>
        </tr>
    </thead>
    <tbody>
        [% FOR result IN recent_results %]
            <tr>
                <th>      
                    <a class="brand" href="[% c.uri_for('/user/view_sequencing_project/' , { seq_id => result.id }) %]">
                        [% result.id %]
                    </a>
                </th>
                <th class=seqName>[% result.name %]</font></th>
                <th>[% result.created_at %]</th>
                [% IF result.available_results == 1 %]
                    <th>Yes</th>
                [% ELSE %]
                    <th>No</th>
                [% END %]
            </tr>
        [% END %]
    </tbody>
</table>


[% END %]
