[%- META title = 'View Sequencing Project' %]
<style type="text/css">
.list-group-item {
    text-align:center;
}
#primer_1 {
    background-color: #1F78B4;
}
#primer_2 {
    background-color: #33A02C;
}
#primer_3 {
    background-color: #A6CEE3;
}
#primer_4 {
    background-color: #B2DF8A;
}
#primer_5 {
    background-color: #E69F00;
}
#primer_6 {
    background-color: #F0D042;
}
#primer_7 {
    background-color: #CC79A7;
}
#primer_8 {
    background-color: #009E73;
}
</style>

<div class="page-header">
  <h1>Sequencing Project <small>[% seq_project.name %]</small>
  </h1>
</div>
<h2>Sequencing Details</h2>

<table class="table seq_project">
  <tr>
    <th>Sequencing ID</th>
    <td>[% seq_project.id %]</td>
  </tr>
[% IF qc.qc_template %]
  <tr>
    <th>Template</th>
    <td>[% qc.qc_template %]</td>
  </tr>
[% END %]
  <tr>
    <th>Plate size</th>
    <td>[% seq_project.size %]</td>
  </tr>
  <tr>
    <th>Number of sub-projects</th>
    <td>[% seq_project.sub_projects %]</td>
  </tr>
  <tr>
    <th>Created by User</th>
    <td>[% seq_project.user %]</td>
  </tr>
</table>
<br>

<h2>Project Status  </h2>
<table class="table seq_status">
  <tr>
    <th>For QC</th>
    <td id="qc_id">
    [% IF seq_project.qc == 0 %]
      No
    [% ELSE %]
      Yes
    [% END %]
    </td>
    <td></td>
  </tr>
  <tr>
    <th>Results available</th>
    <td id="results_id">
    [% IF seq_project.available_results == 0 %]
      No
    [% ELSE %]
      Yes
    [% END %]
    </td>
    <td></td>
  </tr>
  <tr>
    <th>Abandoned</th>
    <td id="abandoned_id">
    [% IF seq_project.abandoned == 0 %]
      No
    [% ELSE %]
      Yes
    [% END %]
    </td>
    <td>
      <input type="button"  id="status_btn" value="Change Status" style="float: right;" class="btn btn-info"  onclick=changeStatus();></button>
    </td>
  </tr>
</table>

<h2>Project Submission Files</h2>
<p>Below are the spreadsheets needed to upload your submission to Eurofins. There is 1 spreadsheet per sub-project/primer combination. Each spreadsheet contains names for 96 samples. If your plate does not contain 96 samples edit the spreadsheet to remove sample names for empty wells or replace them with the word "empty". Do not make any other changes to the sample names. During submission you will be asked to enter a "plate name" - this must match the name written on the plate that you send to Eurofins. The Eurofins submission system is here: <a href="https://ecom.mwgdna.com/register/index.tcl" target="#_blank">Eurofins submissions</a>

<h3>Custom Spreadsheet</h3>
<div class="row">
  <label class="col-md-1" for="sub">Sub-project: </label>
  <div class="col-md-1 form-group">
    <select class="form-control" id="sub">
    [% SET sub_counter = 0 %]
    [% WHILE sub_counter < seq_project.sub_projects %]
      [% sub_counter = sub_counter + 1 %]
      <option>[% sub_counter %]</option>
    [% END %]
    </select>
  </div>

  <button type="button" data-toggle="modal" data-name=[% seq_project.name %] data-primer=[% primer %] data-toggle="modal" data-adjustment=[% sub_counter %] class="open-customModal btn btn-primary" href="#customModal">
    <i class="glyphicon glyphicon-download"></i> Customise [% seq_project.name %]
  </button>
</div>

<h3>Standard Spreadsheet</h3>
<table class="table primer" id="primer_table">
  <tr>
    <th>Primer Name</th>
    <th>Sub-project Number</th>
    <th></th>
  </tr>
[% IF seq_project.size == 96 %]
  [% FOREACH primer IN primer_list %]
    [% SET sub_counter = 0 %]
    [% WHILE sub_counter < seq_project.sub_projects %]
      [% sub_counter = sub_counter + 1 %]
        <tr>
          <td>[% primer %]</td>
          <td>[% sub_counter %]</td>
          <td>
            <button type="button" data-toggle="modal" data-name=[% seq_project.name %] data-primer=[% primer %] data-toggle="modal" data-adjustment=[% sub_counter %] class="open-primerModal btn btn-primary" href="#primerModal">
              <i class="glyphicon glyphicon-download"></i> Download [% seq_project.name %] - [% sub_counter %] : [% primer %]
            </button>
          </td>
        </tr>
    [% END %]
[% END %]
<!-- 384 well plate -->
[% ELSE %]
  [% FOREACH primer IN primer_list %]
<!-- Create main bulk of projects 1-4, 5-8 etc -->
    [% SET counter = 0 %]
    [% SET set_counter = seq_project.sub_projects div 4 %]
    [% WHILE counter < set_counter %]
      [% SET adjustment = counter * 4 %]
        <tr>
          <td>[% primer %]</td>
          <td>[% 1 + adjustment %] - [% 4 + adjustment %]</td>
          <td>
            <button type="button" data-toggle="modal" data-name=[% seq_project.name %] data-primer=[% primer %] data-toggle="modal" data-adjustment=[% 1 + adjustment %] class="open-primerModal btn btn-primary" href="#primerModal">
              <i class="glyphicon glyphicon-download"></i> Download [% seq_project.name %] [% 1 + adjustment %] - [% 4 + adjustment %] : [% primer %]
          </button>

          </td>
        </tr>
      [% counter = counter + 1 %]
    [% END %]
<!-- Create the modulus of projects -->
    [% SET modulus = seq_project.sub_projects % 4 %]
    [% SET adjustment = set_counter * 4 %]
    [% IF modulus != 0 %]
      <tr>
        <td>[% primer %]</td>
        [% IF modulus ==  1 %]
          <td>[% seq_project.sub_projects %]</td>
          <td>
            <button type="button" data-toggle="modal" data-name=[% seq_project.name %] data-primer=[% primer %] data-toggle="modal" data-adjustment=[% sub_projects %] class="open-primerModal btn btn-primary" href="#primerModal">
                <i class="glyphicon glyphicon-download"></i> Download [% seq_project.name %] [% seq_project.sub_projects %] : [% primer %]
            </button>
          </td>
        [% ELSE %]
          <td>[% 1 + adjustment %] - [% modulus + adjustment %]</td>
          <td>
            <button type="button" data-toggle="modal" data-name=[% seq_project.name %] data-primer=[% primer %] data-toggle="modal" data-adjustment=[% 1 + adjustment %] class="open-primerModal btn btn-primary" href="#primerModal">
                <i class="glyphicon glyphicon-download"></i> Download [% seq_project.name %] [% 1 + adjustment %] - [% modulus + adjustment %] : [% primer %]
            </button>
          </td>
        [% END %]
      </tr>
    [% END %]
  [% END %]
[% END %]
</table>

<h3>Paired Spreadsheet</h3>
<div class="row">
  <label class="col-md-1" for="pairSub">Sub-project: </label>
  <div class="col-md-1 form-group">
    <select class="form-control" id="pairSub">
    [% SET sub_counter = 0 %]
    [% WHILE sub_counter < seq_project.sub_projects %]
      [% sub_counter = sub_counter + 1 %]
      <option>[% sub_counter %]</option>
    [% END %]
    </select>
  </div>
  <div class="col-md-2 form-group">
    <select class="pair form-control" id="pair1">
      <option>-</option>
    [% FOREACH primer IN primer_list %]
      <option>[% primer %]</option>
    [% END %]
    </select>
  </div>
  <div class="col-md-2 form-group">
    <select class="pair form-control" id="pair2">
      <option>-</option>
    [% FOREACH primer IN primer_list %]
      <option>[% primer %]</option>
    [% END %]
    </select>
  </div>
  <button type="button" class="btn btn-primary" id="pairButton" onclick=retrievePairFile();>
    <i class="glyphicon glyphicon-download"></i> Pair Download
  </button>
</div>

<div class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true" id="primerModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h4 id=modalTitle>Modal header</h4>
      </div>
      <div class="modal-body">
        <p hidden id="modalPrimer"></p>
        <p hidden id="modalAdj"></p>
        <p align="center">How will you send the samples?</p>
        <div align="center">
          <button type="button" class="btn btn-primary" style="float: center;" onclick=retrieveFile('1');>
            <i class="glyphicon glyphicon-download"></i> Premixed
          </button>
          <button type="button" class="btn btn-primary" style="float: center;" onclick=retrieveFile('0');>
            <i class="glyphicon glyphicon-download"></i> Eurofins to add primers
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true" id="customModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h4 id="modalTitle">Customise [% seq_project.name %]</h4>
      </div>
      <div class="modal-body">
        <div class="grid">
          [% SET count = 1 %]
          [% FOREACH primer IN primer_list %]
            <button class="primers btn btn-info" id="primer_[% count %]">[% primer %]</button>
            [% SET count = count + 1 %]
          [% END %]
          <p>Choose a primer then drag and select the rows containing that primer.</p>
          <ul class="list-group" id="listRows">
            [% SET count = 0 %]
            [% FOREACH a IN ['A','B','C','D','E','F','G','H'] %]
              <li class="list-group-item" id="[% count %]">Empty - Row [% a %]</li>
              [% SET count = count + 1 %]
            [% END %]
          </ul>
        </div>
      </div>
      <div class="modal-footer">
          <button class="col-md-offset-1 btn btn-danger" onclick=clearPlate();>Clear all</button>
          <button class="btn btn-default" onclick=quitModal();><i class="glyphicon glyphicon-cancel"></i> Cancel</button>
          <button class="btn btn-primary" onclick=customSheet();><i class="glyphicon glyphicon-download"></i> Download</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
var selection = {};
var tracker = new Array(8);
var primers = [];
var letters = ['A','B','C','D','E','F','G','H'];

$(document).ready(function () {
    var id = '[% seq_project.id %]';
    $('#pairButton').prop('disabled', true);
    $('.primers').each(function(index) {
        primers.push($('.primers')[index].innerText);
    });
})


$(document).on("click", ".open-primerModal", function () {
    var name = $(this).data('name');
    var adj = $(this).data('adjustment');
    var primer = $(this).data('primer');
    var title = name + " - " + adj + " : " + primer; 

    document.getElementById("modalTitle").innerHTML = title;
    document.getElementById("modalAdj").innerHTML = adj;
    document.getElementById("modalPrimer").innerHTML = primer;

});

$(document).on("click", ".primers", function() {
    var colour = $(this).css("background-color");
    var name = $(this).text();
    selection['primer'] = name;
    selection['colour'] = colour;
});

$(".pair").change(function() { 
    firstPrimer = $("#pair1 option:selected").text();
    secondPrimer = $("#pair2 option:selected").text();
    if (firstPrimer == '-' || secondPrimer == '-') {
        $('#pairButton').prop('disabled', true);
        changePairColours('#FFCCCC');
    }
    else {
        if (firstPrimer == secondPrimer) {
            $('#pairButton').prop('disabled', true);
            changePairColours('#FFCCCC');
        }
        else {
            $('#pairButton').prop('disabled', false);
            changePairColours('transparent');
        }
    }
});

function changePairColours(colour) {
    $('#pair1').css('background-color',colour);
    $('#pair2').css('background-color',colour);
}

$(function () {
    var isMouseDown = false;
    $(".list-group-item")
        .mousedown(function() {
            if (selection) {
                isMouseDown = true;
                $(this).css("background-color", selection['colour']);
                updateText($(this));
                return false; // prevent text selection 
            }
        })
        .mouseover(function() {
            if (isMouseDown == true){
                $(this).css("background-color", selection['colour']);
                updateText($(this));
            }
        });

    $(document).mouseup(function() {
        isMouseDown = false;
    });
});

function updateText(focus) {
    tracker[focus.attr('id')] = selection["primer"];
    var primerCounts = {};
    for (var count = 0; count < primers.length; count++) {
        primerCounts[primers[count]] = 0;
    }
    $('#listRows').children().each(function(index) {
        if (typeof tracker[index] != 'undefined') {
            var num = primerCounts[tracker[index]];
            $(this).text(tracker[index] + " - Row " + letters[num]);
            primerCounts[tracker[index]]++;
        }
    });
    return;
}

function clearPlate() {
    $('#listRows').children().each(function(index) {
        $(this).text("Empty - Row " + letters[index]);
        $(this).css('background-color','transparent');
        tracker = [];
    });
}

function customSheet() {
    var sheet = {};

    for (var count = 0; count < tracker.length; count++) {
        if (sheet.hasOwnProperty(tracker[count]) == false) {
            var primer;
            if (primers.indexOf(tracker[count]) == -1) {
                primer = "EMPTY";
            }
            else {
                primer = tracker[count];
            }
            if (!(primer in sheet)) {
                sheet[primer] = [];
            }
        }
        var row = {};
        row['row'] = letters[count];
        row['primer_letter'] = $('#' + count).text().split('Row ')[1];

        if (tracker[count]) {
            sheet[tracker[count]].push(row);
        } else {
            sheet['EMPTY'].push(row);
        }
    }

    var jsonSheet = JSON.stringify(sheet);
    console.log(jsonSheet);
    var name = '[% seq_project.name %]';
    var sub = document.getElementById('sub').value; 

    console.log(jsonSheet);

    var half = '[% c.uri_for('/api/custom_sheet/') %]';
    var link =  half + encodeURI('?data=' + jsonSheet + '&name=' + name + '&sub=' + sub + '&primers=' + primers);

    OpenInNewTab(link);
    $('#customModal').modal('hide');
}

function quitModal() {
    clearPlate();
    $('#customModal').modal('hide');
}

function retrieveFile(flag) {
    var primer = document.getElementById("modalPrimer").innerHTML;
    var sub = document.getElementById("modalAdj").innerHTML;
    
    var half = '[% c.uri_for('/api/seq_project/') %]';
    var id = '[% seq_project.id %]';
    var link =  half + encodeURI('?seq_id=' + id + '&primer=' + primer + '&sub=' + sub + '&mix=' + flag);

    OpenInNewTab(link);
    $('#primerModal').modal('hide');
}

function retrievePairFile(){
    var sub = document.getElementById('pairSub').value;
    var primers = [];

    primers.push($('#pair1 option:selected').text());
    primers.push($('#pair2 option:selected').text());

    var half = '[% c.uri_for('/api/pair_project/') %]';
    var id = '[% seq_project.id %]';
    var link =  half + encodeURI('?seq_id=' + id + '&primers=' + primers + '&sub=' + sub);
    console.log(link);

    OpenInNewTab(link);
}

function OpenInNewTab(url) {
    var win = window.open(url, '_blank');
}

function changeStatus() {
    var data = document.getElementById("abandoned_id").innerHTML;
    var elem = document.getElementById("status_btn");

    if (data.indexOf("input") > -1) {
        commitStatus();
        elem.value = "Change Status";
    }
    else {
        elem.value = "Submit Status";
        injectCheckbox(data);
    }
}

function injectCheckbox(data) {
    document.getElementById("abandoned_id").innerHTML = '<input type="checkbox" name="qc" id="check_abandoned" enabled />';
    var checkAbandoned = document.getElementById("check_abandoned");

    defaultCheck(checkAbandoned, data);
}

function commitStatus() {
    var checkboxAbandoned = document.getElementById("check_abandoned");

    var abandoned = convertToYN(checkboxAbandoned.checked);

    document.getElementById("abandoned_id").innerHTML = abandoned;
    $.ajax({
        url: '[% c.uri_for('/api/set_status/') %]',
        type: 'GET',
        data: 'seq_id=' + '[% seq_project.id %]' + '&abandoned=' + abandoned,
        success: function() { alert('PUT completed'); }
    });
    console.log("reach");
}

function convertToYN(val) {
    if (val == false) {
        return "No";
    }
    else {
        return "Yes";
    }
}

function defaultCheck(box, value) {
    if (value.indexOf("Yes") > -1) {
        box.checked=true;
    }
    else {
        box.checked=false;
    }
}

</script>

