[%- META title = 'View Sequencing Project' %]

<div class="page-header">
  <h1>Sequencing Project <small>[% seq_project.name %]</small>
  </h1>
</div>
<h2>Sequencing Details</h2>

<table class="table seq_project">
  <tr>
    <th>Sequencing ID</th>
    <td>[% seq_project.id %]</td>
  </tr>
[% IF qc.qc_template %]
  <tr>
    <th>Template</th>
    <td>[% qc.qc_template %]</td>
  </tr>
[% END %]
  <tr>
    <th>Plate size</th>
    <td>[% seq_project.size %]</td>
  </tr>
  <tr>
    <th>Number of sub-projects</th>
    <td>[% seq_project.sub_projects %]</td>
  </tr>
  <tr>
    <th>Created by User</th>
    <td>[% seq_project.user %]</td>
  </tr>
</table>
<br>

<h2>Project Status  </h2>
<table class="table seq_status">
  <tr>
    <th>For QC</th>
    <td id="qc_id">
    [% IF seq_project.qc == 0 %]
      No
    [% ELSE %]
      Yes
    [% END %]
    </td>
    <td></td>
  </tr>
  <tr>
    <th>Results available</th>
    <td id="results_id">
    [% IF seq_project.available_results == 0 %]
      No
    [% ELSE %]
      Yes
    [% END %]
    </td>
    <td></td>
  </tr>
  <tr>
    <th>Abandoned</th>
    <td id="abandoned_id">
    [% IF seq_project.abandoned == 0 %]
      No
    [% ELSE %]
      Yes
    [% END %]
    </td>
    <td>
      <input type="button"  id="status_btn" value="Change Status" style="float: right;" class="btn btn-info"  onclick=changeStatus();></button>
    </td>
  </tr>
</table>

<h2>Project Submission Files</h2>
<p>Below are the spreadsheets needed to upload your submission to Eurofins. There is 1 spreadsheet per sub-project/primer combination. Each spreadsheet contains names for 96 samples. If your plate does not contain 96 samples edit the spreadsheet to remove sample names for empty wells or replace them with the word "empty". Do not make any other changes to the sample names. During submission you will be asked to enter a "plate name" - this must match the name written on the plate that you send to Eurofins. The Eurofins submission system is here: <a href="https://ecom.mwgdna.com/register/index.tcl" target="#_blank">Eurofins submissions</a>
<table class="table primer" id="primer_table">
  <tr>
    <th>Primer Name</th>
    <th>Sub-project Number</th>
    <th></th>
  </tr>
[% IF seq_project.size == 96 %]
  [% FOREACH primer IN primer_list %]
    [% SET sub_counter = 0 %]
    [% WHILE sub_counter < seq_project.sub_projects %]
      [% sub_counter = sub_counter + 1 %]
        <tr>
          <td>[% primer %]</td>
          <td>[% sub_counter %]</td>
          <td>
            <button type="button" data-toggle="modal" data-name=[% seq_project.name %] data-primer=[% primer %] data-toggle="modal" data-adjustment=[% sub_counter %] class="open-primerModal btn btn-primary" href="#primerModal">
              <i class="glyphicon glyphicon-download"></i> Download [% seq_project.name %] - [% sub_counter %] : [% primer %]
            </button>
          </td>
        </tr>
    [% END %]
[% END %]
<!-- 384 well plate -->
[% ELSE %]
  [% FOREACH primer IN primer_list %]
<!-- Create main bulk of projects 1-4, 5-8 etc -->
    [% SET counter = 0 %]
    [% SET set_counter = seq_project.sub_projects div 4 %]
    [% WHILE counter < set_counter %]
      [% SET adjustment = counter * 4 %]
        <tr>
          <td>[% primer %]</td>
          <td>[% 1 + adjustment %] - [% 4 + adjustment %]</td>
          <td>
            <button type="button" data-toggle="modal" data-name=[% seq_project.name %] data-primer=[% primer %] data-toggle="modal" data-adjustment=[% 1 + adjustment %] class="open-primerModal btn btn-primary" href="#primerModal">
              <i class="glyphicon glyphicon-download"></i> Download [% seq_project.name %] [% 1 + adjustment %] - [% 4 + adjustment %] : [% primer %]
            </button>
          </td>
        </tr>
      [% counter = counter + 1 %]
    [% END %]
<!-- Create the modulus of projects -->
    [% SET modulus = seq_project.sub_projects % 4 %]
    [% SET adjustment = set_counter * 4 %]
    [% IF modulus != 0 %]
      <tr>
        <td>[% primer %]</td>
        [% IF modulus ==  1 %]
          <td>[% seq_project.sub_projects %]</td>
          <td>
            <button type="button" data-toggle="modal" data-name=[% seq_project.name %] data-primer=[% primer %] data-toggle="modal" data-adjustment=[% sub_projects %] class="open-primerModal btn btn-primary" href="#primerModal">
                <i class="glyphicon glyphicon-download"></i> Download [% seq_project.name %] [% seq_project.sub_projects %] : [% primer %]
            </button>
          </td>
        [% ELSE %]
          <td>[% 1 + adjustment %] - [% modulus + adjustment %]</td>
          <td>
            <button type="button" data-toggle="modal" data-name=[% seq_project.name %] data-primer=[% primer %] data-toggle="modal" data-adjustment=[% 1 + adjustment %] class="open-primerModal btn btn-primary" href="#primerModal">
                <i class="glyphicon glyphicon-download"></i> Download [% seq_project.name %] [% 1 + adjustment %] - [% modulus + adjustment %] : [% primer %]
            </button>
          </td>
        [% END %]
      </tr>
    [% END %]
  [% END %]
[% END %]

</table>


<div class="modal hide" id="primerModal">
 <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3 id=modalTitle>Modal header</h3>
  </div>
    <div class="modal-body">
        <p hidden id="modalPrimer"></p>
        <p hidden id="modalAdj"></p>
        <p align="center">How will you send the samples?</p>
        <div align="center">
            <button type="button" class="btn btn-primary" style="float: center;" onclick=retrieve_file('1');>
              <i class="glyphicon glyphicon-download"></i> Premixed
            </button>
            <button type="button" class="btn btn-primary" style="float: center;" onclick=retrieve_file('0');>
              <i class="glyphicon glyphicon-download"></i> Eurofins to add primers
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).on("click", ".open-primerModal", function () {
    var name = $(this).data('name');
    var adj = $(this).data('adjustment');
    var primer = $(this).data('primer');
    var title = name + " - " + adj + " : " + primer; 
    console.log(title);
    document.getElementById("modalTitle").innerHTML = title;
    document.getElementById("modalAdj").innerHTML = adj;
    document.getElementById("modalPrimer").innerHTML = primer;

});

$(document).ready(function () {
    var id = '[% seq_project.id %]';
})
function retrieve_file(flag) {
    var primer = document.getElementById("modalPrimer").innerHTML;
    var sub = document.getElementById("modalAdj").innerHTML;
    console.log("reached");
    var half = '[% c.uri_for('/api/seq_project/') %]';
    var id = '[% seq_project.id %]';
    var link =  half + encodeURI('?seq_id=' + id + '&primer=' + primer + '&sub=' + sub + '&mix=' + flag);
    console.log(link);

    OpenInNewTab(link);
    $('#primerModal').modal('hide');
}

function OpenInNewTab(url) {
    var win = window.open(url, '_blank');
}

function changeStatus() {
    var data = document.getElementById("abandoned_id").innerHTML;
    var elem = document.getElementById("status_btn");

    if (data.indexOf("input") > -1) {
        commitStatus();
        elem.value = "Change Status";
    }
    else {
        elem.value = "Submit Status";
        injectCheckbox(data);

    }
}

function injectCheckbox(data) {
    document.getElementById("abandoned_id").innerHTML = '<input type="checkbox" name="qc" id="check_abandoned" enabled />';
    var checkAbandoned = document.getElementById("check_abandoned");

    defaultCheck(checkAbandoned, data);
}

function commitStatus() {
    var checkboxAbandoned = document.getElementById("check_abandoned");

    var abandoned = convertToYN(checkboxAbandoned.checked);

    document.getElementById("abandoned_id").innerHTML = abandoned;
    $.ajax({
        url: '[% c.uri_for('/api/set_status/') %]',
        type: 'GET',
        data: 'seq_id=' + '[% seq_project.id %]' + '&abandoned=' + abandoned,
        success: function() { alert('PUT completed'); }
    });
    console.log("reach");
}

function convertToYN(val) {
    if (val == false) {
        return "No";
    }
    else {
        return "Yes";
    }
}

function defaultCheck(box, value) {
    if (value.indexOf("Yes") > -1) {
        box.checked=true;
    }
    else {
        box.checked=false;
    }
}

</script>

