[%- META title = 'DNA Concentration Upload'; META tab_name = 'Cells' %]

<div class="page-header">
  <h1>DNA Concentration Spreadsheet Upload</h1>
</div>

<div class="row">

  <div class="col-md-6 col-md-offset-3">
    <form method="POST" id="dna_concentration_upload" action="[% c.uri_for( '/user/dna_concentration_upload' ) %]" class="form well"  enctype="multipart/form-data" >

        <label>DNA Concentration Spreadsheet</label>
        <input name="datafile" type="file">

        <br>
        <br>
        <button name="spreadsheet" id="spreadsheet" type="submit" value="spreadsheet" class="btn btn-primary">
            <i class="glyphicon glyphicon-upload"></i> Upload Spreadsheet
        </button>
    </form>
  </div>

</div>

[% IF worksheets %]
<div class="row">
<div class="col-md-6 col-md-offset-3">
  <form method="POST" id="dna_concentration_update" action="[% c.uri_for( '/user/dna_concentration_update' ) %]" class="form well" enctype="multipart/form-data">
      <h5>Worksheets to Plates</h5>
      <table>
        <tr><th>Worksheet</th><th>Plate Name</th></tr>
        [% FOR sheet IN worksheets %]
          <tr>
            <td>[% sheet.key %]</td>
            <td>
            <input name="[% sheet.key %]_map" id="[% sheet.key %]_map" type="text">
            <input type="hidden" name="[% sheet.key %]" value="[% sheet.value %]">
            </td>
          </tr>
        [% END %] 
      </table>
      <button name="update" id="update" type="submit" value="update" class="btn btn-primary">
        <i class="glyphicon glyphicon-play-circle"></i> Update Plates
      </button>
  </form>
</div>
</div>
[% END %]

<div class="panel-group" id="accordian">

  <div class="panel panel-default">

    <div class="panel-heading">
      <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <i class="glyphicon glyphicon-question-sign"></i> DNA concentration spreadsheet upload help
      </a>
    </div>

    <div id="collapseOne" class="panel-body collapse">
      <div class="panel-body">
        <p>
          This form is used to upload an Excel spreadsheet containing DNA concentration values for a plate.
          The spreadsheet should be in the format generated by the Sample Management lab, with column headings:
        </p>
        <p>
          <dl class="col-md-12 dl-horizontal">
            <dt>Well</dt>
            <dt>Concentration ng/ul</dt>
          </dl>
        </p>
        <p>
          The spreadsheet can contain multiple worksheets. It is expected to contain one worksheet per plate.
        </p>
        <p>
          Step 1: Select your spreadsheet and click 'Upload Spreadsheet'
        </p>
        <p>
          Step 2: You will see a list of worksheets that were found in your spreadsheet. Enter the name of the DNA plate
          that each worksheet describes. Leave the plate name blank for any worksheets you want to ignore.
          Click 'Update Plates'
        </p>
        <p>
          Step 3: A message will be returned listing the names of the wells updated, and reporting any which were
          found in the spreadsheet but not on the DNA plate (these values were ignored). Wells will be scored as
          pass or fail based on their DNA concentration.
          If there were any problems these will be reported and no wells on any of the plates will be updated.
        </p>
        <p>
          <a href="[% c.uri_for('/static/files/qc_upload/') %]dna_concentrations.xlsx">
            <i class="glyphicon glyphicon-download"></i> Download Example Spreadsheet
          </a>
        </p>
      </div>
    </div>

  </div>

</div>

<script type="text/javascript">

$("[id$=_map]").autocomplete({
  source: "[% c.uri_for( '/api/autocomplete/plate_names' ) %]",
  minLength: 2,
});
</script>
