<script type="text/javascript" charset="utf-8">
        Ext.onReady(function(){
            var types = Ext.data.Types;
            Ext.define('GenotypingQC', {
                extend: 'Ext.data.Model',
                fields: [
                    {name: 'id', type: 'integer' },
                    {name: 'plate_name', type: 'string'},
                    {name: 'well', type: 'string'},
                    {name: 'gene_name', type: 'string'},
                    {name: 'chromosome_fail', type: 'string'},
                    {name: 'targeting_pass', type: 'string'},
                    {name: 'targeting_puro_pass', type: 'string'},
                    {name: 'tr_pcr', type: types.BOOLEAN},
                    {name: 'gr3', type: types.BOOLEAN},
                    {name: 'gr4', type: types.BOOLEAN},
                    {name: 'gf3', type: types.BOOLEAN},
                    {name: 'gf4', type: types.BOOLEAN},
//                    {name: 'TRPCR_seq', type: 'string'},
                  [% FOR assay IN assay_types %]
                    [% FOR name IN value_names %]
                       { name: '[% assay _ name.field %]', type: 'string' },
                    [% END %]
                  [% END %]     
                ],
            });
            
            var store = Ext.create('Ext.data.Store', {
                model: 'GenotypingQC',
                autoLoad: true,
                autoSync: true,
                proxy: {
                  type: 'rest',
                  url: '[% c.uri_for('/api/well/genotyping_qc') %]',
                  extraParams: {
                    plate_name: '[% plate_name %]'
                  },
                  headers: {'Content-type': 'application/json'},
                  reader: {
                   type: 'json'
                  },
                  writer: {
                   type: 'json',
                   writeAllFields: false
                  }
                },
                listeners: {
                    update: function ( self, record, operation, modifiedFieldNames, eOpts ) {
                        console.log(record);
                    }
                }
            });
            
            var call_types_chromosome_fail = Ext.create('Ext.data.Store', {
                fields: ['call_label'],
                data: [
                {"call_label":"0"},
                {"call_label":"1"},
                {"call_label":"2"},
                {"call_label":"3"},
                {"call_label":"4"},
                {"call_label":"Y"},
                ]
            });

            var call_types_targeting = Ext.create('Ext.data.Store', {
                fields: ['call_label'],
                data: [
                {"call_label":"pass"},
                {"call_label":"passb"},
                {"call_label":"fail"},
                {"call_label":"fa"},
                {"call_label":"potential"},
                {"call_label":"present"},
                {"call_label":"na"}
                ]
            });

            var call_types_targeting_combo = Ext.create('Ext.form.ComboBox', {    
                queryMode: 'local',
                store: call_types_targeting,
                displayField: 'call_label',
                forceSelection: true
            });

            var call_types_chromosome_fail_combo = Ext.create('Ext.form.ComboBox', {    
                queryMode: 'local',
                store: call_types_chromosome_fail,
                displayField: 'call_label',
                forceSelection: true
            });

            
            var columns = [
                {header: "Well", dataIndex: 'well', locked: true},
                {header: "Gene<br>Name", dataIndex: 'gene_name', locked: true },
                {header: "Chromosome<br>Fail", dataIndex: 'chromosome_fail', editor: call_types_chromosome_fail_combo},
                {header: "Targeting<br>Pass", dataIndex: 'targeting_pass', editor: call_types_targeting_combo},
                {header: "Targeting<br>Puro Pass", dataIndex: 'targeting_puro_pass', editor: call_types_targeting_combo},
                {header: "TRPCR<br>band", dataIndex: 'tr_pcr', editor: {xtype: 'checkbox'}  },
                {header: "LRPCR bands", columns: [
                    {header: "gr3", dataIndex: 'gr3', editor: { xtype: 'checkbox' }},
                    {header: "gr4", dataIndex: 'gr4', editor: { xtype: 'checkbox' }},
                    {header: "gf3", dataIndex: 'gf3', editor: { xtype: 'checkbox' }},
                    {header: "gf4", dataIndex: 'gf4', editor: { xtype: 'checkbox' }}
                ]},
//                {header: "TRPCR<br>Seq", editor: { xtype: 'textfield' }},
                [% FOR assay IN assay_types %]
                  {header: "[% assay %]", columns: [
                    [% FOR name IN value_names %]
                        [% IF name.title == "Call" %]
                            {header: "[% name.title %]", dataIndex: "[% assay _ name.field %]",
                            editor: call_types_targeting_combo, hideable: true},
                        [% ELSIF name.title == "Copy Number" %]
                            {header: "[% name.title %]", dataIndex: "[% assay _ name.field %]",
                            editor: { xtype: 'numberfield' }, hidden: true},
                        [% ELSIF name.title == "Range" %]
                            {header: "[% name.title %]", dataIndex: "[% assay _ name.field %]",
                            editor: { xtype: 'numberfield' }, hidden: true},
                        [% ELSIF name.title == "Confidence" %]
                            {header: "[% name.title %]", dataIndex: "[% assay _ name.field %]",
                            editor: { xtype: 'textfield' }, hidden: true},
                        [% END %]
                    [% END %]
                  ]},
                [% END %]
            ];
            
            var grid = Ext.create('Ext.grid.Panel', {
                height: 500,
                width: 1200,
                store: store,
                columns: columns,
                title: "[% plate_name %] QC Results",
                renderTo: 'my_results',
                selType: 'rowmodel',
                simpleSelect: true,
                plugins: [
                    Ext.create('Ext.grid.plugin.RowEditing', { clicksToEdit: 1 })
                ]
            });     
});
                   
</script>
