[%- META title = 'Genotyping QC Data Upload'; META tab_name = 'QC' %]

<div class="page-header">
  <h1>Genotyping QC Data Upload</h1>
</div>

<div class="row">

  <div class="col-md-6 col-md-offset-3">
    <form method="POST" id="upload_genotyping_qc" action="[% c.uri_for( '/user/upload_genotyping_qc' ) %]" class="form well"  enctype="multipart/form-data" >

        <label>Genotyping QC Data File</label>
        <input name="datafile" type="file">

        <br>
        <br>
        <button name="submit_genotyping_qc" id="submit_genotyping_qc" type="submit" value="submit_genotyping_qc" class="btn btn-primary">
            <i class="glyphicon glyphicon-upload"></i> Upload Genotyping QC
        </button>
    </form>
  </div>

</div>

<div class="panel-group" id="accordian">

  <div class="panel panel-default">

    <div class="panel-heading">
      <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <i class="glyphicon glyphicon-question-sign"></i> Genotyping QC Data Upload Help
      </a>
    </div>

    <div id="collapseOne" class="panel-body collapse">
      <div class="panel-body">
        <p>
          This form is used to update genotyping QC results, using a csv file.
        </p>
        <p>
          If there are any errors in the data or missing data a warning will show up and the genotyping data values will not
          be changed. If all the data is valid then the genotyping data will be uploaded and a success message shown detailing
          the exact data that was added.
        </p>
        <p>Data in unrecognized columns will be ignored. A list of ignored columns will be reported after the upload is complete</p>
        <div class="well">

          <h6>Genotyping QC Data File</h6>
          <p>
            <div class="row">
            A csv file with some or all of these column headers is used to upload the data:
            <dl class="dl-horizontal">
              <dt>well_name</dt>
              <dd>REQUIRED - Name of the plate and well, e.g. CEPD0008_8_A01</dd>
              <dt>targeting_pass</dt>
              <dd>Values accepted: na, fa, fail, potential, present, passb, pass</dd>
              <dt>targeting-puro_pass</dt>
              <dd>Values accepted: na, fa, fail, potential, present, passb, pass</dd>
              <dt>targeting-neo_pass</dt>
              <dd>Values accepted: na, fa, fail, potential, present, passb, pass</dd>
              <dt>chromosome_fail</dt>
              <dd>Values accepted: 0, 1, 2, 3, 4, Y</dd>
            </dl>
            The following types of qc results can be uploaded:
            <dl class = "dl-horizontal">
              [% FOR assay IN assays %]
               <dt>[% assay %]</dt>
              [% END %]
            </dl>
            </div>
            <div class="row">
            For each of these types you can provide the following data:
            <dl class="dl-horizontal">
             <dt>pass</dt>
             <dd>REQUIRED - Values accepted: na, fa, fail, potential, present, passb, pass</dd>
             <dt>copy_number</dt>
             <dd>REQUIRED - Must be a valid number</dd>
             <dt>copy_number_range</dt>
             <dd>REQUIRED - Must be a valid number</dd>
             <dt>confidence</dt>
             <dd>Must be a valid number, can include &gt; or &lt; symbol</dd>
             <dt>vic</dt>
             <dd>Must be a valid number</dd>
            </dl>
            For example, to upload bsd results use the following columns:
            <dl class="dl-horizontal">
             <dt>bsd_pass</dt>
             <dt>bsd_copy_number</dt>
             <dt>bsd_copy_number_range</dt>
             <dt>bsd_confidence</dt>
             <dt>bsd_vic</dt>
            </dl> 
            </div>
            LRPCR bands can be blank if no test was performed, otherwise:
            <dl class="dl-horizontal">
             <dt>gr / gf bands</dt>
             <dd>Values accepted: pass, fail</dd>
             <dt>Pass</dt>
             <dd>Values accepted: pass, passb, fail</dd>
            </dl>       
            <p>A template for the upload file can be found <a href="[% c.uri_for('/static/files/qc_upload/') %]genotyping_upload_template.csv">here</a>.
          </p>
        </div>

      </div>
    </div>

  </div>

</div>
